<div class="account-pages-header">
  <h1>{{ 'customer.account.title' | t }}</h1>
  <div class="account-header-tabs">
  <a href="{{ routes.account_url }}">
       orders
      </a>
  <a href="{{ routes.account_addresses_url }}">
        {{ 'customer.account.view_addresses' | t }}
      </a>
   <a href="{{ routes.account_logout_url }}">
      {{ 'customer.log_out' | t }}
    </a>
  </div>
</div>