<div class="account-pages-header">
  <div class="shopify__top__section  section-heading-box">
      <h2>{{ 'customer.account.title' | t }}</h2>
  </div>
  <div class="account-header-tabs">
  <a href="{{ routes.account_url }}">
       orders
      </a>
  <a href="{{ routes.account_addresses_url }}" class="{{request}}  {{request.path}}">
        {{ 'customer.account.view_addresses' | t }}
      </a>
   <a href="{{ routes.account_logout_url }}">
      {{ 'customer.log_out' | t }}
    </a>
  </div>
</div>