{% if block.settings.image != blank %}
<img src="{{block.settings.image | img_url:'master'}}" alt="">
{%else%}
{% render 'banner-placeholder'%}
{% endif %} 
<div class="carousel-caption">
  <div class="container">
    <div class="">
      <div class="carousel-caption-title banner-slide {{block.settings.info_position}} text__{{block.settings.info_alignment}}">
        {% if block.settings.tag_line != blank %}
        <h6>{{block.settings.tag_line}}</h6>
        {% endif %}
        {% if block.settings.heading != blank %}
        <h2>{{block.settings.heading}}</h2>
        {% endif %}
        {% if block.settings.content != blank %}
        <p>{{block.settings.content}}</p>
        {% endif %}
        {% if block.settings.btn != blank and block.settings.link != blank %}
        <a href="{{block.settings.link}}" class="black-btn button">{{block.settings.btn}}<i class="fas fa-arrow-right"></i></a>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<style>              
  #banner-{{block.id}} .carousel-caption-title .top-title { 
    {% if block.settings.h_bg != blank %}
    background: {{ block.settings.h_bg }};
    {% endif %}
    {% if block.settings.h_text != blank %}
    color: {{ block.settings.h_text }};
    {% endif %}
  }             
  #banner-{{block.id}} .carousel-caption-title h6 { 
    {% if block.settings.sh_bg != blank %}
    background: {{ block.settings.sh_bg }};
    {% endif %}
    {% if block.settings.sh_text != blank %}
    color: {{ block.settings.sh_text }};
    {% endif %}
  }               
  #banner-{{block.id}} .carousel-caption-title h2 { 
    {% if block.settings.h_text != blank %}
    color: {{ block.settings.h_text }};
    {% endif %}
  }          
  #banner-{{block.id}} .carousel-caption-title p { 
    {% if block.settings.c_text != blank %}
    color: {{ block.settings.c_text }};
    {% endif %}
  }        
  #banner-{{block.id}} .carousel-caption-title a.button { 
    {% if block.settings.btn_text != blank %}
    color: {{ block.settings.btn_text }};
    {% endif %}
    background-color:{{ block.settings.btn_bg }} ;
  }

  #banner-{{block.id}} .carousel-caption-title a.button:hover { 
    {% if block.settings.btn_h_text != blank %}
    color: {{ block.settings.btn_h_text }};
    {% endif %}
     background-color:{{ block.settings.btn_h_bg }}
  }
</style>