<div class="shop-sidebar-inside">

  <form id="CollectionFiltersForm" class="collectionFilters__form" >
    {%- for filter in collection.filters -%}
    
    {% case filter.type %}
    
    {% when 'list' %}
    
    <div class="widget sidebar-widget-product">
      
      <div class="widget-title">
        
        <h6 class="sidebar-title">
          {{ filter.label | escape }} 
        </h6>
        
        <div class="widget-content">
          
          <ul class="list-tags">
            
            {%- for value in filter.values -%}
            {% unless forloop.index > 5 %}
            <li class=" {% if value.count == 0 and value.active == false %}disabled{% endif %}">
              
              <input type="checkbox" name="{{ value.param_name }}" value="{{ value.value }}" id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                     {% if value.active %}checked{% endif %}
                     {% if value.count == 0 and value.active == false %}disabled{% endif %}
                     >
              
              <span class="checkmark"></span>
              
              <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}">
                
                {{ value.label | escape }} ({{ value.count }})
                
              </label>
              
            </li>
            {% endunless %}
            {% endfor %}
            
          </ul>
          
          
          {%- if filter.values.size > 5 -%}
          <ul class="list-tags more-options">
            
            {%- for value in filter.values -%}
            {% unless forloop.index < 5 %}
            <li class=" {% if value.count == 0 and value.active == false %}disabled{% endif %}">
              
              <input type="checkbox" name="{{ value.param_name }}" value="{{ value.value }}" id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                     {% if value.active %}checked{% endif %}
                     {% if value.count == 0 and value.active == false %}disabled{% endif %}
                     >
              
              <span class="checkmark"></span>
              
              <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}">
                
                {{ value.label | escape }} ({{ value.count }})
                
              </label>
              
            </li>
            {% endunless %}
            {% endfor %}
            
          </ul>
          <div class="br_more_filter hide">
            
            <div class="showMore">{% render 'icon-plus' %} Show More</div>
            
            <div class="showLess hide">{% render 'icon-minus' %} Show Less</div>
            
          </div>
          
          {%-endif-%}
          
        </div>
        
      </div>
      
    </div>
    
    {% when 'price_range' %}
    
    <div class="widget sidebar-widget-product">
      
      {% assign max_value = filter.range_max |money_without_currency %} 
      
      {% assign min_value = filter.range_min |money_without_currency %}
      
      {%- if filter.max_value.value -%} 
      
      {% assign max_value = filter.max_value.value |money_without_currency  %} 
      
      {%- endif -%}
      
      {%- if filter.min_value.value -%}
      
      {% assign min_value = filter.min_value.value |money_without_currency %}
      
      {%- endif -%}
      
      <div class="widget-title">
        
        <h6 class="sidebar-title">
          
          <span>{{ filter.label | escape }}</span>
          
        </h6>
        
        {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
        
       <div class="mall-slider-handles" id="slider-round"
           data-start="{{min_value | replace:',','' | floor}}" 
           data-end="{{max_value| replace:',','' | floor}}" 
           data-min="{{ filter.range_min | money_without_currency | replace: ',', '' | floor}}" 
           data-max="{{filter.range_max |money_without_currency | replace:',','' | floor}}" 
           data-target="price" 
           ></div>
        
        <div class="widget-content">  
          
          <div class="widget__price">
            
            <div class="field">
              
              <input class="field__input"
                     name="{{ filter.min_value.param_name }}"
                     id="Filter-{{ filter.label | escape }}-GTE"
                     {%- if filter.min_value.value -%}
                     {%- if uses_comma_decimals -%}value="{{ filter.min_value.value | money_without_currency | replace: ',', '.'  | floor}}"{%- else -%}value="{{ filter.min_value.value | money_without_currency | replace: ',', ''| floor }}"{% endif %}
                     {%- endif -%}
                     type="number"
                     placeholder="0"
                     min="0"
                     {%- if uses_comma_decimals -%}max="{{ filter.range_max | money_without_currency  | replace: ',', '.' | floor}}"{%- else -%}max="{{ filter.range_max | money_without_currency | replace: ',', '' | floor}}"{% endif %}
                     >
              
            </div>
            
            <div class="fieldCenter text__center price-spacer"></div>
            
            <div class="field">
              
              <input class="field__input"
                     name="{{ filter.max_value.param_name }}"
                     id="Filter-{{ filter.label | escape }}-LTE"
                     {%- if filter.max_value.value -%}{%- if uses_comma_decimals -%}value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | floor }}"{%- else -%}value="{{ filter.max_value.value | money_without_currency | replace: ',', '' | floor }}"{% endif %}
                     {%- endif -%}
                     type="number"
                     min="0"
                     {%- if uses_comma_decimals -%}
                     placeholder="{{ filter.range_max | money_without_currency | replace: ',', '.'  | floor}}"
                     max="{{ filter.range_max | money_without_currency | replace: ',', '.' | floor}}"
                     {%- else -%}
                     placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' | floor}}"
                     max="{{ filter.range_max | money_without_currency | replace: ',', '' |floor }}"
                     {% endif %}
                     >
              
            </div>
            
          </div>

          <span class="widget__selected">{{ "sections.collection_template.max_price" | t: price: max_price_amount }}</span>
          
        </div>
        
      </div>
      
    </div>
    
    {% endcase %}
    
    {% endfor %}
    
    <div class="mobile-filter-apply">
      <button type="submit" class=" button black-btn small-btn btn-block">{{ 'sections.collection_template.filter_button' | t }}</button>
      <button type="button" class=" button black-btn small-btn btn-block" id="cancelFilters">{{ 'sections.collection_template.filter_cancel_button' | t }}</button>
    </div>
    
  </form>
  
</div>
