<div class="row shop-sidebar-inside">
  <div class="aside-title">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <path class="cls-1" d="M159,276h16v2H159v-2Zm0,6h16v2H159v-2Zm0,6h16v2H159v-2Zm7-13h2v4h-2v-4Zm3,6h2v4h-2v-4Zm-5,6h2v4h-2v-4Z" transform="translate(-159 -275)"></path>
    </svg>
    <p>FILTER BY</p>
  </div>
  
  {%- for filter in collection.filters -%}
   {% case filter.type %}
  {% when 'list' %}
  <div class="widget sidebar-widget-product">
    <div class="widget-title">
      <h6 class="sidebar-title">
        <span>{{ filter.label | escape }}</span>
      </h6>
      <div class="widget-content">
        <ul class="list-tags">
          {%- for value in filter.values -%}
          <li>
            <input type="checkbox" name="{{ value.param_name }}" value="{{ value.value }}" id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                   {% if value.active %}checked{% endif %}
                   {% if value.count == 0 and value.active == false %}disabled{% endif %}
                   >
            <span class="checkmark"></span>
            <label>
              {{ value.label | escape }} ({{ value.count }})
            </label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% when 'price-range' %}
  <div class="widget sidebar-widget-product">
    <div class="widget-title">
      <h6 class="sidebar-title">
        <span>{{ filter.label | escape }}</span>
      </h6>
      <div class="widget-content">
        <ul class="list-tags">
          {%- for value in filter.values -%}
          <li>
            <input type="checkbox" name="{{ value.param_name }}" value="{{ value.value }}" id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                   {% if value.active %}checked{% endif %}
                   {% if value.count == 0 and value.active == false %}disabled{% endif %}
                   >
            <span class="checkmark"></span>
            <label>
              {{ value.label | escape }} ({{ value.count }})
            </label>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
  </div>
  {% endcase %}
  {% endfor %}
</div>