<div class="shop-sidebar-inside">

  
  <form id="CollectionFiltersForm" class="collectionFilters__form" >
  {%- for filter in collection.filters -%}
   {% case filter.type %}
  {% when 'list' %}
  <div class="widget sidebar-widget-product">
    <div class="widget-title">
      <h6 class="sidebar-title">
        <span>{{ filter.label | escape }}</span>
      </h6>
      <div class="widget-content">
        <ul class="list-tags">
          {%- for value in filter.values -%}
          <li {% if forloop.index > 5 %}class="hideOptions" style="display:none"{% endif %}>
            <input type="checkbox" name="{{ value.param_name }}" value="{{ value.value }}" id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                   {% if value.active %}checked{% endif %}
                   {% if value.count == 0 and value.active == false %}disabled{% endif %}
                   >
            <span class="checkmark"></span>
            <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}">
              {{ value.label | escape }} ({{ value.count }})
            </label>
          </li>
          {% endfor %}
        </ul>
          {%- if filter.values.size > 5 -%}
         <div class="br_more_filter hide">
           <div class="showMore">{% render 'icon-plus' %} Show More</div>
           <div class="showLess hide">{% render 'icon-minus' %} Show Less</div>
        </div>
        {%-endif-%}
      </div>
    </div>
  </div>
  {% when 'price_range' %}
  <div class="widget sidebar-widget-product">
    <div class="mall-slider-handles" 
         data-start="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | floor }}" 
         data-end="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | floor }}" 
         data-min="{{ filter.range_min | money_without_currency | replace: ',', '.' | floor}}" 
         data-max="{{ filter.range_max | money_without_currency | replace: ',', '.' | floor}}" 
         data-target="price" 
         style="width: 100%"></div>
    <div class="widget-title">
      <h6 class="sidebar-title">
        <span>{{ filter.label | escape }}</span>
      </h6>
       {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
      <div class="rangeslider">
        {% assign max_value = filter.range_max |money_without_currency %} 
        {% assign min_value = filter.range_min |money_without_currency %}
        {%- if filter.max_value.value -%} 
        {% assign max_value = filter.max_value.value |money_without_currency  %} 
        {%- endif -%}
        {%- if filter.min_value.value -%}
        {% assign min_value = filter.min_value.value |money_without_currency %}
        {%- endif -%}
        <input class="min" type="range" min="0" max="{{filter.range_max |money_without_currency | replace:',','' | floor}}" value="{{min_value | replace:',','' | floor}}" />
        <input class="max" type="range" min="0" max="{{filter.range_max |money_without_currency | replace:',','' | floor}}" value="{{max_value| replace:',','' | floor}}" />
   
      </div>
      <div class="widget-content">       
        <div class="widget__price">
        
          
          <div class="field">
            <input class="field__input"
                   name="{{ filter.min_value.param_name }}"
                   id="Filter-{{ filter.label | escape }}-GTE"
                   {%- if filter.min_value.value -%}
                   {%- if uses_comma_decimals -%}value="{{ filter.min_value.value | money_without_currency | replace: ',', '.'  | floor}}"{%- else -%}value="{{ filter.min_value.value | money_without_currency | replace: ',', ''| floor }}"{% endif %}
                   {%- endif -%}
                   type="number"
                   placeholder="0"
                   min="0"
                   {%- if uses_comma_decimals -%}max="{{ filter.range_max | money_without_currency  | replace: ',', '.' | floor}}"{%- else -%}max="{{ filter.range_max | money_without_currency | replace: ',', '' | floor}}"{% endif %}
                   >
          
        </div>
          <div class="fieldCenter text__center price-spacer"></div>
        <div class="field">
          <input class="field__input"
                 name="{{ filter.max_value.param_name }}"
                 id="Filter-{{ filter.label | escape }}-LTE"
                 {%- if filter.max_value.value -%}{%- if uses_comma_decimals -%}value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' | floor }}"{%- else -%}value="{{ filter.max_value.value | money_without_currency | replace: ',', '' | floor }}"{% endif %}
                 {%- endif -%}
                 type="number"
                 min="0"
                 {%- if uses_comma_decimals -%}
                 placeholder="{{ filter.range_max | money_without_currency | replace: ',', '.'  | floor}}"
                 max="{{ filter.range_max | money_without_currency | replace: ',', '.' | floor}}"
                 {%- else -%}
                 placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' | floor}}"
                 max="{{ filter.range_max | money_without_currency | replace: ',', '' |floor }}"
                 {% endif %}
                 >
        
      </div>
    </div>
        
      <span class="widget__selected">{{ "sections.collection_template.max_price" | t: price: max_price_amount }}</span>
      </div>
    </div>
  </div>
  {% endcase %}
  {% endfor %}
    <noscript>
      <button type="submit" class=" button button--tertiary">{{ 'sections.collection_template.filter_button' | t }}</button>
    </noscript>
  </form>
</div>
<style>
 
/* Proof of concept for Firefox */

</style>
<script>
  (function() {

        
})();
</script>