{% assign featuredImage =  collection.featured_image %}
{% if collectionImage != blank %}
{% assign featuredImage =  collectionImage %}
{% endif %}
<li class="collection-list__item col-12 col-sm-6 col-md-4 col-lg-4"  {{ block.shopify_attributes }}>
  <div class="collection-card-box card animate-arrow{% if collection.featured_image != blank %} card--media{% else %}{% if section.settings.image_ratio != 'adapt' %} card--stretch{% endif %}{% endif %}{% unless section.settings.image_padding %} card--light-border{% endunless %}" >
    <a href="{{ collection.url }}" class="collection-featured-img"  aria-label="{{- collection.title -}}">
      {%- if featuredImage != blank -%}
      {% render 'lazy-image' image: featuredImage %}
      {% else %}
      {{ 'placeholder.svg' | asset_url | img_tag }}
      {% endif %}
    </a>
    <div class="card__text card__text-spacing card__text-hover collection-card">
      <a href="{{ collection.url }}" class="collection-title" aria-label="{{- collection.title -}}">{{- collection.title -}}</a>
      <a href="{{ collection.url }}" class="d-block d-sm-none" aria-label="{{- collection.title -}}">
        <span>
          <svg height="14px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="14px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="448,224 288,224 288,64 224,64 224,224 64,224 64,288 224,288 224,448 288,448 288,288 448,288 "></polygon></svg> 
          {{ 'sections.collection_list.view' | t }}
        </span>
      </a>
    </div>
  </div>
</li>