<div class="row shop-sidebar-inside">
  <div class="aside-title">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <path class="cls-1" d="M159,276h16v2H159v-2Zm0,6h16v2H159v-2Zm0,6h16v2H159v-2Zm7-13h2v4h-2v-4Zm3,6h2v4h-2v-4Zm-5,6h2v4h-2v-4Z" transform="translate(-159 -275)"></path>
    </svg>
    <p>FILTER BY</p>
  </div>
  
  <form id="CollectionFiltersForm" class="collectionFilters__form" >
  {%- for filter in collection.filters -%}
   {% case filter.type %}
  {% when 'list' %}
  <div class="widget sidebar-widget-product">
    <div class="widget-title">
      <h6 class="sidebar-title">
        <span>{{ filter.label | escape }}</span>
      </h6>
      <div class="widget-content">
        <ul class="list-tags">
          {%- for value in filter.values -%}
          <li {% if forloop.index > 7 %}class="hideOptions" style="display:none"{% endif %}>
            <input type="checkbox" name="{{ value.param_name }}" value="{{ value.value }}" id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                   {% if value.active %}checked{% endif %}
                   {% if value.count == 0 and value.active == false %}disabled{% endif %}
                   >
            <span class="checkmark"></span>
            <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}">
              {{ value.label | escape }} ({{ value.count }})
            </label>
          </li>
          {% endfor %}
        </ul>
          {%- if filter.values.size > 7 -%}
         <span class="br_more_filter hide"><i class="fa fa-plus"></i> Show more</span>
        {%-endif-%}
      </div>
    </div>
  </div>
  {% when 'price_range' %}
  <div class="widget sidebar-widget-product">
    <div class="widget-title">
      <h6 class="sidebar-title">
        <span>{{ filter.label | escape }}</span>
      </h6>
      <div class="center">
        <div class="dual-range" data-min="0" data-max="{{filter.range_max | money_without_currency  }}">
          <span class="handle left" data-value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"></span>
          <span class="highlight"></span>
          <span class="handle right" data-value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"></span>
        </div>
      </div>
      <div class="widget-content">
       {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
      <span class="widget__selected">{{ "sections.collection_template.max_price" | t: price: max_price_amount }}</span>
        <div class="widget__price">
          <span class="field-currency">{{ cart.currency.symbol }}</span>
          <div class="field">
            <input class="field__input"
                   name="{{ filter.min_value.param_name }}"
                   id="Filter-{{ filter.label | escape }}-GTE"
                   {%- if filter.min_value.value -%}
                   {%- if uses_comma_decimals -%}value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
                   {%- endif -%}
                   type="number"
                   placeholder="0"
                   min="0"
                   {%- if uses_comma_decimals -%}max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"{% endif %}
                   >
          <label class="field__label" for="Filter-{{ filter.label | escape }}-GTE">{{ 'sections.collection_template.from' | t }}</label>
        </div>
        <span class="field-currency">{{ cart.currency.symbol }}</span>
        <div class="field">
          <input class="field__input"
                 name="{{ filter.max_value.param_name }}"
                 id="Filter-{{ filter.label | escape }}-LTE"
                 {%- if filter.max_value.value -%}{%- if uses_comma_decimals -%}value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
                 {%- endif -%}
                 type="number"
                 min="0"
                 {%- if uses_comma_decimals -%}
                 placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                 max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                 {%- else -%}
                 placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                 max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                 {% endif %}
                 >
        <label class="field__label" for="Filter-{{ filter.label | escape }}-LTE">{{ 'sections.collection_template.to' | t }}</label>
      </div>
    </div>
      </div>
    </div>
  </div>
  {% endcase %}
  {% endfor %}
    <noscript>
      <button type="submit" class=" button button--tertiary">{{ 'sections.collection_template.filter_button' | t }}</button>
    </noscript>
  </form>
</div>
<style>


.center {
	display:flex;
	align-items:center;
	justify-content:center;
	flex-direction:column;
}

:root {
    --clr-prim:#1B984D;
    --clr-prim-h:#178242;
    --clr-bad:#D91E18;
    --clr-box:#F9F9F9;
    --clr-box-dark:#f2f2f2;
    --clr-border:#D9D9D9;
    --txt-clr:#333333;
    --shadow:0px 3px 6px 0px rgba(0,0,0,0.1);
    --cubic:cubic-bezier(0.11, 0.54, 0.33, 1.01);
}

  .dual-range {
    --range-size:20px;
      --range-width:150px;
      --handle-size:1.3;
      height:20px;
        width:100%;
        background:var(--clr-box-dark);
          border-radius:50px;
          position:relative;
          user-select:none;
          }
    .dual-range .highlight {
      position:absolute;
      height:20px;
        width:calc(calc(var(--x-2) - var(--x-1)) + calc(var(--range-size) * var(--handle-size)));
          left:var(--x-1);
            background:var(--clr-prim);
              z-index:1;
              border-radius:50px;
              }

    .handle {
      width:calc(var(--range-size) * var(--handle-size));
        height:calc(var(--range-size) * var(--handle-size));
          background:#fff;
          position:absolute;
          box-shadow:var(--shadow);
            border-radius:50%;
            top:50%;
            transform:translateY(-50%);
            z-index:2;
            cursor:grab;
            }
    .handle:active {
      cursor:grabbing;
    }

    .handle.left {
      left:var(--x-1);
        }

    .handle.right {
      left:var(--x-2);
        }

    
</style>