<div class="row shop-sidebar-inside">
  <div class="aside-title">
    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16">
      <path class="cls-1" d="M159,276h16v2H159v-2Zm0,6h16v2H159v-2Zm0,6h16v2H159v-2Zm7-13h2v4h-2v-4Zm3,6h2v4h-2v-4Zm-5,6h2v4h-2v-4Z" transform="translate(-159 -275)"></path>
    </svg>
    <p>Filter By</p>
  </div>
  
  <form id="CollectionFiltersForm" class="collectionFilters__form" >
  {%- for filter in collection.filters -%}
   {% case filter.type %}
  {% when 'list' %}
  <div class="widget sidebar-widget-product">
    <div class="widget-title">
      <h6 class="sidebar-title">
        <span>{{ filter.label | escape }}</span>
      </h6>
      <div class="widget-content">
        <ul class="list-tags">
          {%- for value in filter.values -%}
          <li {% if forloop.index > 5 %}class="hideOptions" style="display:none"{% endif %}>
            <input type="checkbox" name="{{ value.param_name }}" value="{{ value.value }}" id="Filter-{{ filter.label | escape }}-{{ forloop.index }}"
                   {% if value.active %}checked{% endif %}
                   {% if value.count == 0 and value.active == false %}disabled{% endif %}
                   >
            <span class="checkmark"></span>
            <label for="Filter-{{ filter.label | escape }}-{{ forloop.index }}">
              {{ value.label | escape }} ({{ value.count }})
            </label>
          </li>
          {% endfor %}
        </ul>
          {%- if filter.values.size > 5 -%}
         <span class="br_more_filter hide"><i class="fa fa-plus"></i> Show more</span>
        {%-endif-%}
      </div>
    </div>
  </div>
  {% when 'price_range' %}
  <div class="widget sidebar-widget-product">
    <div class="widget-title">
      <h6 class="sidebar-title">
        <span>{{ filter.label | escape }}</span>
      </h6>
      <div class="rangeslider">
        <input class="min" name="range_1" type="range" min="1" max="100" value="10" />
        <input class="max" name="range_1" type="range" min="1" max="100" value="90" />
        <span class="range_min light left">10.000 €</span>
        <span class="range_max light right">90.000 €</span>
      </div>
      <div class="widget-content">
       {%- assign max_price_amount = filter.range_max | money | strip_html | escape -%}
      <span class="widget__selected">{{ "sections.collection_template.max_price" | t: price: max_price_amount }}</span>
        <div class="widget__price">
          <span class="field-currency">{{ cart.currency.symbol }}</span>
          
          <div class="field">
            <input class="field__input"
                   name="{{ filter.min_value.param_name }}"
                   id="Filter-{{ filter.label | escape }}-GTE"
                   {%- if filter.min_value.value -%}
                   {%- if uses_comma_decimals -%}value="{{ filter.min_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.min_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
                   {%- endif -%}
                   type="number"
                   placeholder="0"
                   min="0"
                   {%- if uses_comma_decimals -%}max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"{% endif %}
                   >
          <label class="field__label" for="Filter-{{ filter.label | escape }}-GTE">{{ 'sections.collection_template.from' | t }}</label>
        </div>
        <span class="field-currency">{{ cart.currency.symbol }}</span>
        <div class="field">
          <input class="field__input"
                 name="{{ filter.max_value.param_name }}"
                 id="Filter-{{ filter.label | escape }}-LTE"
                 {%- if filter.max_value.value -%}{%- if uses_comma_decimals -%}value="{{ filter.max_value.value | money_without_currency | replace: '.', '' | replace: ',', '.' }}"{%- else -%}value="{{ filter.max_value.value | money_without_currency | replace: ',', '' }}"{% endif %}
                 {%- endif -%}
                 type="number"
                 min="0"
                 {%- if uses_comma_decimals -%}
                 placeholder="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                 max="{{ filter.range_max | money_without_currency | replace: '.', '' | replace: ',', '.' }}"
                 {%- else -%}
                 placeholder="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                 max="{{ filter.range_max | money_without_currency | replace: ',', '' }}"
                 {% endif %}
                 >
        <label class="field__label" for="Filter-{{ filter.label | escape }}-LTE">{{ 'sections.collection_template.to' | t }}</label>
      </div>
    </div>
      </div>
    </div>
  </div>
  {% endcase %}
  {% endfor %}
    <noscript>
      <button type="submit" class=" button button--tertiary">{{ 'sections.collection_template.filter_button' | t }}</button>
    </noscript>
  </form>
</div>
<style>
  input[type='range'] {
    width: 210px;
    height: 30px;
    overflow: hidden;
    cursor: pointer;
    outline: none;
  }
  input[type='range'],
  input[type='range']::-webkit-slider-runnable-track,
  input[type='range']::-webkit-slider-thumb {
    -webkit-appearance: none;
    background: none;
  }
  input[type='range']::-webkit-slider-runnable-track {
    width: 200px;
    height: 1px;
    background: #003D7C;
  }

  input[type='range']:nth-child(2)::-webkit-slider-runnable-track{
    background: none;
  }

  input[type='range']::-webkit-slider-thumb {
    position: relative;
    height: 15px;
    width: 15px;
    margin-top: -7px;
    background: #fff;
    border: 1px solid #003D7C;
    border-radius: 25px;
    z-index: 1;
  }


  input[type='range']:nth-child(1)::-webkit-slider-thumb{
    z-index: 2;
  }

  .rangeslider{
    position: relative;
    height: 60px;
    width: 210px;
    display: inline-block;
    margin-top: -5px;
    margin-left: 20px;
  }
  .rangeslider input{
    position: absolute;
  }
/*   .rangeslider{
    position: absolute;
  } */

  .rangeslider span{
    position: absolute;
    margin-top: 30px;
    left: 0;
  }

  .rangeslider .right{
    position: relative;
    float: right;
    margin-right: -5px;
  }


/* Proof of concept for Firefox */

</style>
<script>
  (function() {

        function addSeparator(nStr) {
            nStr += '';
            var x = nStr.split('.');
            var x1 = x[0];
            var x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + '.' + '$2');
            }
            return x1 + x2;
        }

        function rangeInputChangeEventHandler(e){
          console.log($(this).className)
            var rangeGroup = $(this).attr('name'),
                minBtn = $(this).parent().children('.min'),
                maxBtn = $(this).parent().children('.max'),
                range_min = $(this).parent().children('.range_min'),
                range_max = $(this).parent().children('.range_max'),
                minVal = parseInt($(minBtn).val()),
                maxVal = parseInt($(maxBtn).val()),
                origin = e.originalEvent.target.className;

            if(origin === 'min' && minVal > maxVal-5){
                $(minBtn).val(maxVal-5);
            }
            var minVal = parseInt($(minBtn).val());
            $(range_min).html(addSeparator(minVal*1000) + ' €');


            if(origin === 'max' && maxVal-5 < minVal){
                $(maxBtn).val(5+ minVal);
            }
            var maxVal = parseInt($(maxBtn).val());
            $(range_max).html(addSeparator(maxVal*1000) + ' €');
        }

     $('input[type="range"]').on( 'input', rangeInputChangeEventHandler);
})();
</script>