<div class="currency-block">
    {% form 'localization' %}
    <div class="currency-dropdown">
      <label class="dropdown-toggle" aria-expanded="false" aria-controls="CountryList">
        {{ localization.country.currency.iso_code }}
      </label>

      <ul id="CountryList" role="list" class="dropdown-menu currency-menu">
        {% for country in localization.available_countries %}
        <li tabindex="-1">
          <a class="dropdown-item"  tabindex="-1" aria-label="{{ country.currency.iso_code }}" href="#"{% if country.iso_code == localization.country.iso_code %} aria-current="true"{% endif %} data-value="{{ country.iso_code }}">
            {{ country.currency.iso_code }}
          </a>
        </li>
        {% endfor %}
      </ul>

      <input type="hidden" name="country_code" value="{{ localization.country.iso_code }}">
    </div>
    {% endform %}
</div>
