<div class="yv-deal-product {{dealClass}}">
  <div class="yv-deal-product-img">
    <img src="{{product.featured_image | img_url:'400x'}}" alt="{{product.title | escape}}"/>
  </div>
  <div class="yv-product-information deal-product-information">
    <div class="ratingbox">
      <span class="shopify-product-reviews-badge" data-id=""></span>
    </div>
    <a href="#" class="yv-product-title" title="" tabindex="0">Full Sleeve Solid Women</a>
    <div class="yv-prizebox" >
      <span class="yv-product-price">{{product.price | money}}</span>
      <span class="yv-product-compare-price"> {{product.compare_at_price | money}}</span>
    </div>    
  <div class="ratingbox" >
    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
  </div>
    {%- if product.has_only_default_variant or product.variants.size == 1 -%}
    {%- form 'product', product, data-product-form: '', data-product-handle: product.handle -%} 
    <input type="hidden" name="id" value="{{product.selected_or_first_available_variant.id}}">
    {%- if product.available -%}
    <button type="submit" class="Sd_addProduct button small-btn">ADD TO CART</button>
    {% else %}
    <button type="button" class="button small-btn" disabled>SOLD OUT</button>
    {% endif %}
    {% endform %}
    {% else %}
    <a href="{{product.url}}" class="button small-btn">VIEW</a>
    {% endif %}
  </div>
</div>
