<div class="col-12 col-sm-12 {{mainclasses}}">
  <div class="yv-blog-card">
    {%- assign article_image = 'featured_image.png' | asset_url -%}
    {%- if article.image -%}
    {%- assign article_image = article.image -%}
    {%- endif -%}
    <a href="{{-article.url-}}" class="yv-blog-card-img">                    
      {%- if article.image != blank -%}
      {%- include 'lazy-image' image:article_image -%}
      {%- else -%}
      {%- render 'placeholder' %}
                  {%- endif -%}
    </a>
    <div class="yv-blog-card-text">
      <span class="yv-blog-date">{{article.published_at | date: "%d" }} {{article.published_at | date: " %b %Y" }} </span>
      <a class="yv-blog-title" href="{{article.url}}">{{article.title}}</a>
       <a href="" class="yv-blog-link">Read More</a>
    </div>
  </div>
</div>