<div id="header" class="top-header header_3">
    <div class="container">
            <div class="navbar navbar-expand-md header__inline-menu" role="navigation" id="nav_style_4">
                {%- if section.settings.menu != blank or section.blocks.size > 0 -%}
                <div class="nav__btn">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <span class="menu_title">MENU</span>
                </div>
                {% include 'side-menu' %}
                {%- endif -%}
                <a class="header__heading-link" href="{{ routes.root_url }}">
                  {%- if section.settings.logo != blank -%}
                  {%- assign image_size = section.settings.logo_width | append: 'x' -%}
                  <img src="{{ section.settings.logo | img_url: 'master' }}" class="Yuva-logo" width="{{ section.settings.logo_width }}" alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
                  {% else %}
                  <span class="h2">{{ shop.name }}</span>
                  {% endif %}
                </a>
                <form class="form-inline mt-2 mt-md-0">
                    {% include 'header-icons' %}
                </form>
            </div>
    </div>
</div>