<div id="header" class="top-header">
    <div class="container">
        <div class="row">
            <div class="navbar navbar-expand-md header__inline-menu" role="navigation" id="nav_style_2">
                {%- if section.settings.menu != blank -%}
                <div class="nav__btn">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="navbarCollapse">
                    <ul class="navbar-nav mr-auto list-menu list-menu--inline">	
                        {% unless section.blocks.size > 0 and section.settings.megamenu %}								
                        {%- for link in section.settings.menu.links -%}
                        <li class="nav-item {% if link.current %}active{% endif %}">
                            <a class="list-menu__item" href="{{ link.url }}">{{link.title | split:"{badge" | first | escape | capitalize }}</a>                                
                            {%- if link.links != blank -%}
                            <div class="sub-menu">
                                <div class="site-nav-dropdown">
                                    <div class="container">
                                        <div class="row">
                                            <div class="menu-lv-2 col-12 col5 inner dropdown">
                                                {%- for childlink in link.links -%}
                                                <div class="sub-menu-list">
                                                    <div class="menu-mb-title">
                                                        <span>{%- unless childlink.links != blank -%}<a href="{{ childlink.url }}">{% endunless %}{{ childlink.title | split:"{badge" | first | escape | captilize }}{%- unless childlink.links != blank -%}</a>{% endunless %}</span>
                                                    </div>
                                                    {%- if childlink.links != blank -%}
                                                    <ul class="site-nav-dropdown">
                                                        <li class="menu-lv-3 hide_pc">
                                                            <a href="{{ childlink.url }}"><span>{{ childlink.title | split:"{badge" | first | escape | captilize }}</span></a>
                                                        </li>
                                                        {%- for grandchildlink in childlink.links -%}
                                                        <li class="menu-lv-3">
                                                            <a href="{{ grandchildlink.url }}"><span>{{ grandchildlink.title | split:"{badge" | first | escape | captilize }}</span></a>
                                                        </li>
                                                        {%- endfor -%}
                                                    </ul>
                                                    {% endif %}
                                                </div>
                                                {% endfor %}
                                            </div>
                                        </div>

                                    </div>
                                </div>
                            </div>
                            {%- endif -%}
                        </li>
                        {%- endfor-%}
                        {% else %}                        
                        {% render 'mega-menu' sectin:section %}
                    {% endunless %}
                    </ul>
                    <div class="navigation-close-mob" style="display:none;">
                        <a href="javascript:void(0)" title="close_navigation" class="close-btn">
                            <svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 40 40">
                                <path d="M23.868 20.015L39.117 4.78c1.11-1.108 1.11-2.77 0-3.877-1.109-1.108-2.773-1.108-3.882 0L19.986 16.137 4.737.904C3.628-.204 1.965-.204.856.904c-1.11 1.108-1.11 2.77 0 3.877l15.249 15.234L.855 35.248c-1.108 1.108-1.108 2.77 0 3.877.555.554 1.248.831 1.942.831s1.386-.277 1.94-.83l15.25-15.234 15.248 15.233c.555.554 1.248.831 1.941.831s1.387-.277 1.941-.83c1.11-1.109 1.11-2.77 0-3.878L23.868 20.015z" class="layer"></path>
                            </svg>
                        </a>
                    </div>
                </div>
                {%- endif -%}
                <a class="header__heading-link" href="{{ routes.root_url }}">
                    {%- if section.settings.logo != blank -%}
                    {%- assign image_size = section.settings.logo_width | append: 'x' -%}
                    <img src="{{ section.settings.logo | img_url: image_size }}" class="Yuva-logo" width="{{ section.settings.logo.width }}" height="{{ section.settings.logo.height }}" alt="{{ section.settings.logo.alt | default: shop.name | escape }}">
                    {% else %}
                    <span class="h2">{{ shop.name }}</span>
                    {% endif %}
                </a>
                <form class="form-inline mt-2 mt-md-0">
                    <div class="header__icons">
                        {% if section.settings.show_search %}
                        <div class="search-form"  data-search-drawer="{% if settings.search_style == 'full' %}addsearch{% elsif settings.search_style == 'auto' %}small_search{% endif %}">
                            <a class="btn icon-search">
                                <svg data-icon="search" viewBox="0 0 512 512" width="100%" height="100%">
                                    <path d="M495,466.2L377.2,348.4c29.2-35.6,46.8-81.2,46.8-130.9C424,103.5,331.5,11,217.5,11C103.4,11,11,103.5,11,217.5   S103.4,424,217.5,424c49.7,0,95.2-17.5,130.8-46.7L466.1,495c8,8,20.9,8,28.9,0C503,487.1,503,474.1,495,466.2z M217.5,382.9   C126.2,382.9,52,308.7,52,217.5S126.2,52,217.5,52C308.7,52,383,126.3,383,217.5S308.7,382.9,217.5,382.9z"></path>
                                </svg>
                            </a>
                        </div>
                        {% endif %}
                        <div class="nav-wishlist">
                            <a class="wishlist" href="wishlist.html" title="My Wish Lists">
                                <svg xmlns="http://www.w3.org/2000/svg" width="22" height="20" viewBox="0 0 22 20">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill-rule: evenodd;
                                            }
                                        </style>
                                    </defs>
                                    <path class="cls-1" d="M1547.09,81.931A6.591,6.591,0,0,0,1542.3,80a6.236,6.236,0,0,0-4.31,1.766,6.553,6.553,0,0,0-9.11.16c-2.79,2.69-2.44,7.327.88,10.8l6.84,6.654a1.981,1.981,0,0,0,1.39.612,2.027,2.027,0,0,0,1.37-.543l0.2-.19,0.6-.572c0.6-.572,1.42-1.376,2.49-2.419l2.44-2.4,1.09-1.075C1549.56,89.238,1549.98,84.671,1547.09,81.931Zm-2.35,9.435-0.25.241-0.8.792-2.44,2.4c-1,1-1.83,1.8-2.43,2.369l-0.83.823-6.83-6.7c-2.56-2.669-2.86-6.021-.88-7.948a4.506,4.506,0,0,1,6.39-.008s0,0.006.01,0.008l0.09,0.08a2.817,2.817,0,0,1,.32.3l0.9,0.944,0.9-.944,0.28-.271,0.11-.09a4.494,4.494,0,0,1,6.38-.038,0.152,0.152,0,0,1,.04.038C1547.67,85.264,1547.37,88.626,1544.74,91.366Z" transform="translate(-1527 -80)"></path>
                                </svg>
                            </a>
                        </div>
                        <div class="wrapper-top-cart">
                            <a href="javascript:void(0)" title="Cart" class="cart-icon">
                                <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 20 22" style="enable-background:new 0 0 20 22;" xml:space="preserve" width="20" height="22">
                                    <path class="st0" d="M18,4h-1.2H15V2c0-1.1-0.9-2-2-2H7C5.9,0,5,0.9,5,2v2H4H2C0.9,4,0,4.9,0,6v13c0,1.7,1.3,3,3,3h14
                                c1.7,0,3-1.3,3-3V6C20,4.9,19.1,4,18,4z M7,2h6v2H7V2z M18,19c0,0.6-0.4,1-1,1H3c-0.6,0-1-0.4-1-1V6h2h2h8h2.8H18V19z"></path>
                                </svg>

                                <span class="cartCount" data-cart-count="">
                                    2
                                </span>
                            </a>
                        </div>
                        {% if shop.customer_accounts_enabled %}                      
                        <div class="customer-links">
                            <a class="acc-links text-hover acc-sign-in" id="customer_login_link" href="javascript:void(0)">
                                <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 20 20">
                                    <defs>
                                        <style>
                                            .cls-1 {
                                                fill-rule: evenodd;
                                            }
                                        </style>
                                    </defs>
                                    <path class="cls-1" d="M1644.06,92.675a10,10,0,0,0-3.36-2.217,5.882,5.882,0,1,0-8.57-1.251,6.162,6.162,0,0,0,1.16,1.252,10,10,0,0,0-6.29,9.277v0.25h2.02v-0.25a7.975,7.975,0,0,1,15.95,0v0.25h2.02v-0.25A9.968,9.968,0,0,0,1644.06,92.675Zm-3.21-6.776a3.855,3.855,0,0,1-7.71,0A3.854,3.854,0,0,1,1637,82.05,3.857,3.857,0,0,1,1640.85,85.9Z" transform="translate(-1627 -80)"></path>
                                </svg>
                            </a>
                        </div>
                        {% endif %}
                        {% if section.settings.show_currency %}
                        <div class="select-language">
                            <div class="currency-block">
                                <label class="label-text">
                                    Currency
                                </label>
                                <div class="btn-group currency-dropdown">
                                    <label class="dropdown-toggle dropdown-label" data-language-label=""><span class="text">AUD</span></label>
                                    <div class="dropdown-menu currency-menu" id="currencies" style="display: none;">
                                        <a class="dropdown-item" href="javascript:void(0)" data-currency="aud"><span class="text">AUD</span></a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-currency="cad"><span class="text">CAD</span></a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-currency="dkk"><span class="text">DKK</span></a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-currency="gbp"><span class="text">GBP</span></a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-currency="hkd"><span class="text">HKD</span></a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-currency="jpy"><span class="text">JPY</span></a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-currency="nzd"><span class="text">NZD</span></a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-currency="sek"><span class="text">SEK</span></a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-currency="sgd"><span class="text">SGD</span></a>
                                        <a class="dropdown-item" href="javascript:void(0)" data-currency="usd"><span class="text">USD</span></a>
                                    </div>
                                </div>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </form>
                {% if section.settings.show_search %}
                {% if settings.search_style == 'auto' %}
                {% include 'search-drawer' %}
                {% endif %}
                {% endif %}

            </div>
        </div>
    </div>
</div>