<div class="header__icons">
  {% if section.settings.show_search %}
  <div class="search-form" data-search-drawer="{% if settings.search_style == 'full' %}addsearch{% elsif settings.search_style == 'auto' %}small_search{% endif %}">
    <a href="#" class="btn icon-search" aria-label="{{ 'general.search.search' | t }}">
      <?xml version="1.0" encoding="utf-8"?>
      <!-- Generator: Adobe Illustrator 26.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 19 19" style="enable-background:new 0 0 19 19;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#010101;}
        </style>
        <g id="Layer_2_00000097485305687718570450000012444786711219352711_">
          <g id="Layer_1-2_00000170264823178984080880000007986600501065017505_">
            <path class="st0" d="M18.9,18.1l-5.2-5.2c2.8-3.2,2.5-8.2-0.8-11s-8.2-2.5-11,0.8s-2.5,8.2,0.8,11c2.9,2.6,7.3,2.6,10.2,0l5.2,5.2
                                 c0.1,0.1,0.2,0.2,0.4,0.2c0.3,0,0.6-0.2,0.6-0.5C19,18.3,19,18.2,18.9,18.1z M7.8,14.5c-3.7,0-6.7-3-6.7-6.7c0-3.7,3-6.7,6.7-6.7
                                 c3.7,0,6.6,3,6.7,6.7C14.5,11.5,11.5,14.5,7.8,14.5C7.8,14.5,7.8,14.5,7.8,14.5z"/>
          </g>
        </g>
      </svg>

    </a>


  </div>
  {% endif %}
  <div class="wrapper-top-cart">
    <a href="{{routes.cart_url}}" title="{{ 'templates.cart.cart' | t }}" class="cart-icon {% if settings.enable_cart_drawer and template != 'cart'%}openCartDrawer{% endif %}" {{ 'templates.cart.cart' | t }}>
      <?xml version="1.0" encoding="utf-8"?>
      <!-- Generator: Adobe Illustrator 26.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 19 19" style="enable-background:new 0 0 19 19;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#010101;}
        </style>
        <g id="Layer_2_00000016050370032770212890000000157065630876365700_">
          <g id="Layer_1-2">
            <path class="st0" d="M17.8,16.6L16.6,5.8c0-0.4-0.4-0.7-0.8-0.7h-2.3V4.4c0-2.2-1.8-4.1-4.1-4.1l0,0c-2.3,0-4.1,1.9-4.1,4.1v0.8
                                 H3.2c-0.4,0-0.7,0.3-0.8,0.7L1.2,16.6c0,0.1,0,0.2,0,0.2c0,1.1,0.9,2,2,2H16C17.1,18.6,17.9,17.7,17.8,16.6
                                 C17.8,16.6,17.8,16.6,17.8,16.6z M6.5,4.4c0-1.7,1.3-3,3-3c0,0,0,0,0,0l0,0c1.7,0,3,1.4,3,3v0.8h-6V4.4z M16.5,17.4
                                 c-0.1,0.2-0.3,0.3-0.6,0.3H3.2c-0.5,0-0.9-0.4-0.9-0.9c0,0,0-0.1,0-0.1L3.4,6.1h12.2l1.2,10.6C16.8,16.9,16.7,17.2,16.5,17.4z"/>
          </g>
        </g>
      </svg>

      <span class="cartCount" data-cart-count=""{% if cart.item_count == 0 %}style="display:none"{% endif %}>
      </span>
    </a>
  </div>
  {% if shop.customer_accounts_enabled %}                      
  <div class="customer-links">
    <a class="acc-links text-hover acc-sign-in" 
       id="customer_login_link" href="{%- if customer -%}{{-routes.account_url-}}{%-else-%}{{routes.account_login_url}}{%-endif-%}"
       aria-label="{%- if customer -%}{{'customer.account_fallback' | t}}{%-else-%}{{'customer.log_in' | t}}{%-endif-%}">
      <?xml version="1.0" encoding="utf-8"?>
      <!-- Generator: Adobe Illustrator 26.0.2, SVG Export Plug-In . SVG Version: 6.00 Build 0)  -->
      <svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
           viewBox="0 0 19 19" style="enable-background:new 0 0 19 19;" xml:space="preserve">
        <style type="text/css">
          .st0{fill:#010101;}
        </style>
        <g id="Layer_2_00000057844545673618139490000017183290302415306379_">
          <g id="Layer_1-2">
            <path class="st0" d="M17.2,18.7c-0.3,0-0.6-0.3-0.6-0.6v-1.9c0-1.8-1.4-3.2-3.2-3.2H5.7c-1.8,0-3.2,1.4-3.2,3.2v1.9
                                 c0,0.3-0.3,0.6-0.6,0.6c-0.3,0-0.6-0.3-0.6-0.6v-1.9c0-2.4,2-4.4,4.4-4.4h7.7c2.5,0,4.4,2,4.5,4.4v1.9
                                 C17.8,18.5,17.5,18.7,17.2,18.7z"/>
            <path class="st0" d="M9.5,9.2C7,9.2,5,7.2,5,4.7s2-4.5,4.4-4.5c2.5,0,4.5,2,4.5,4.4c0,0,0,0,0,0C13.9,7.2,12,9.1,9.5,9.2z
                                 M9.5,1.5c-1.8,0-3.2,1.5-3.2,3.3c0,1.8,1.5,3.2,3.3,3.2c1.8,0,3.2-1.5,3.2-3.2C12.8,2.9,11.3,1.5,9.5,1.5
                                 C9.5,1.5,9.5,1.5,9.5,1.5z"/>
          </g>
        </g>
      </svg>

    </a>
  </div>
  {% endif %}
  {% if section.settings.show_currency %}
  <div class="select-language">
    {% include 'currency' %}
  </div>
  {% endif %}
</div>