<!-- colection slider section start -->
<section class="collection-list-section shopify-section">
  <div class="yv-collection-wrapper">
    <div class="yv-collections-text-outer">
      <div class="yv-collections-text">
        <h5 class="yv-collections-subtitle">Collection List</h5>
        <h2 class="yv-collections-title">Every Cloud Intsia Knit Jumper</h2>
        <p class="yv-collections-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Quis ipsum suspendisse ultrices gravida.</p>
        <a class="button" href="#">shop now</a>
      </div>
    </div>
    <div class="yv-collection-slider" data-slider>
      <a href="#" class="yv-collection-item">
        <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/collection1.png?v=1645004597" alt="" />
        <div class="yv-collection-name">
          <h4>Women Life Colections</h4>
        </div>
      </a>
      <a href="#" class="yv-collection-item">
        <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/collection2.png?v=1645004597" alt="" />
        <div class="yv-collection-name">
          <h4>Women Life Colections</h4>
        </div>
      </a>
      <a href="#" class="yv-collection-item">
        <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/collection3.png?v=1645004597" alt="" />
        <div class="yv-collection-name">
          <h4>Women Life Colections</h4>
        </div>
      </a>
      <a href="#" class="yv-collection-item">
        <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/collection1.png?v=1645004597" alt="" />
        <div class="yv-collection-name">
          <h4>Women Life Colections</h4>
        </div>
      </a>
      <a href="#" class="yv-collection-item">
        <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/collection2.png?v=1645004597" alt="" />
        <div class="yv-collection-name">
          <h4>Women Life Colections</h4>
        </div>
      </a>
      <a href="#" class="yv-collection-item">
        <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/collection3.png?v=1645004597" alt="" />
        <div class="yv-collection-name">
          <h4>Women Life Colections</h4>
        </div>
      </a>
    </div>
  </div>
  <script type="application/json" name="slider-json">
         {
          "slidesToShow":3,
          "slidesToScroll":1,
          "infinite": true,
          "centerMode":true,
            "speed": 1000,
            "centerPadding":0,
          "prevArrow":"<button type=\"button\" class=\"slick-prev\" aria-label=\"Prev\"><span><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M15.526 18.966L8.559 12l6.967-6.967\"></path></svg></span></button>",
          "nextArrow":"<button type=\"button\" class=\"slick-next\" aria-label=\"Next\"><span><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M8.474 18.966L15.44 12 8.474 5.033\"></path></svg></span></button>",
          "responsive":[
          	{
            "breakpoint": 768,
                "settings": {
                    "dots":true,
                    "arrows":false,
                    "draggable":true
                  }
            }
          ]
        }
  </script>
</section>
<!-- colection slider section end -->
<!-- collection products slider section start -->
<section class="collection-product-section shopify-section">
  <div class="container">
    <div class="section-heading center-heading">
      <h2>Collection Trending Product</h2>
    </div>
    <div class="yv-tabs-wrapper">
      <ul class="yv-tabs">
        <li class="yv-tab-item active"><a href="javascript:void(0)" class="yv-tab-link">Featured</a></li>
        <li class="yv-tab-item"><a href="javascript:void(0)" class="yv-tab-link">Best Sellers</a></li>
        <li class="yv-tab-item"><a href="javascript:void(0)" class="yv-tab-link">New Arrivals</a></li>
      </ul>
      <div class="yv-tab-content">
        <div class="yv-tab-pane">
          <div class="yv-collection-product-grid" data-slider>
            <div class="yv-product-card">
              <div class="yv-product-card-img has-multiimage ">
                <a class="yv-product-img" href="#">
                  <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                  <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                </a>
                <ul class="yv-product-options">
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                </ul>      
                <div class="similar_options" data-url="{{product.url}}">
                  <span class="vs-icon text-{{settings.show_similar_text}}">
                    {%- render 'similar-product-icon' -%}
                    <span class="similar-text">{{'products.product.similar_products' | t}}</span>
                  </span>
                </div>
                <div class="yv-product-badge sold-badge">
                  Sold Out
                </div> 
              </div>
              <div class="yv-product-information">
                <div class="ratingbox" {{ block.shopify_attributes }}>
                  <span class="shopify-product-reviews-badge"></span>
                </div>
                <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
                <div class="yv-prizebox">
                  <span class="yv-product-price">$1,100.00</span>
                  <span class="yv-product-compare-price"> $1,190.00</span>
                  <span class="yv-product-percent-off"> 50% Off</span>
                </div>
              </div>
            </div> 
            <div class="yv-product-card">
              <div class="yv-product-card-img has-multiimage ">
                <a class="yv-product-img" href="#">
                  <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                  <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                </a>
                <ul class="yv-product-options">
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                </ul>      
                <div class="similar_options" data-url="{{product.url}}">
                  <span class="vs-icon text-{{settings.show_similar_text}}">
                    {%- render 'similar-product-icon' -%}
                    <span class="similar-text">{{'products.product.similar_products' | t}}</span>
                  </span>
                </div>
                <div class="yv-product-badge sold-badge">
                  Sold Out
                </div> 
              </div>
              <div class="yv-product-information">
                <div class="ratingbox" {{ block.shopify_attributes }}>
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
                <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
                <div class="yv-prizebox" data-saved="{{settings.show_saved_amount}}"  data-saved-style="{{settings.saved_amount_style}}" data-price-wrapper=""   {{ block.shopify_attributes }}>
                  <span class="yv-product-price">$1,100.00</span>
                  <span class="yv-product-compare-price"> $1,190.00</span>
                  <span class="yv-product-percent-off"> 50% Off</span>
                </div>
              </div>
            </div>
            <div class="yv-product-card">
              <div class="yv-product-card-img has-multiimage ">
                <a class="yv-product-img" href="#">
                  <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                  <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                </a>
                <ul class="yv-product-options">
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                </ul>      
                <div class="similar_options" data-url="{{product.url}}">
                  <span class="vs-icon text-{{settings.show_similar_text}}">
                    {%- render 'similar-product-icon' -%}
                    <span class="similar-text">{{'products.product.similar_products' | t}}</span>
                  </span>
                </div>
                <div class="yv-product-badge sold-badge">
                  Sold Out
                </div> 
              </div>
              <div class="yv-product-information">
                <div class="ratingbox" {{ block.shopify_attributes }}>
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
                <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
                <div class="yv-prizebox" data-saved="{{settings.show_saved_amount}}"  data-saved-style="{{settings.saved_amount_style}}" data-price-wrapper=""   {{ block.shopify_attributes }}>
                  <span class="yv-product-price">$1,100.00</span>
                  <span class="yv-product-compare-price"> $1,190.00</span>
                  <span class="yv-product-percent-off"> 50% Off</span>
                </div>
              </div>
            </div> 
            <div class="yv-product-card">
              <div class="yv-product-card-img has-multiimage ">
                <a class="yv-product-img" href="#">
                  <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                  <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                </a>
                <ul class="yv-product-options">
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                </ul>      
                <div class="similar_options" data-url="{{product.url}}">
                  <span class="vs-icon text-{{settings.show_similar_text}}">
                    {%- render 'similar-product-icon' -%}
                    <span class="similar-text">{{'products.product.similar_products' | t}}</span>
                  </span>
                </div>
                <div class="yv-product-badge sold-badge">
                  Sold Out
                </div> 
              </div>
              <div class="yv-product-information">
                <div class="ratingbox" {{ block.shopify_attributes }}>
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
                <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
                <div class="yv-prizebox" data-saved="{{settings.show_saved_amount}}"  data-saved-style="{{settings.saved_amount_style}}" data-price-wrapper=""   {{ block.shopify_attributes }}>
                  <span class="yv-product-price">$1,100.00</span>
                  <span class="yv-product-compare-price"> $1,190.00</span>
                  <span class="yv-product-percent-off"> 50% Off</span>
                </div>
              </div>
            </div> 
            <div class="yv-product-card">
              <div class="yv-product-card-img has-multiimage ">
                <a class="yv-product-img" href="#">
                  <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                  <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                </a>
                <ul class="yv-product-options">
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                </ul>      
                <div class="similar_options" data-url="{{product.url}}">
                  <span class="vs-icon text-{{settings.show_similar_text}}">
                    {%- render 'similar-product-icon' -%}
                    <span class="similar-text">{{'products.product.similar_products' | t}}</span>
                  </span>
                </div>
                <div class="yv-product-badge sold-badge">
                  Sold Out
                </div> 
              </div>
              <div class="yv-product-information">
                <div class="ratingbox" {{ block.shopify_attributes }}>
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
                <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
                <div class="yv-prizebox" data-saved="{{settings.show_saved_amount}}"  data-saved-style="{{settings.saved_amount_style}}" data-price-wrapper=""   {{ block.shopify_attributes }}>
                  <span class="yv-product-price">$1,100.00</span>
                  <span class="yv-product-compare-price"> $1,190.00</span>
                  <span class="yv-product-percent-off"> 50% Off</span>
                </div>
              </div>
            </div> 
            <div class="yv-product-card">
              <div class="yv-product-card-img has-multiimage ">
                <a class="yv-product-img" href="#">
                  <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                  <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                </a>
                <ul class="yv-product-options">
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                </ul>      
                <div class="similar_options" data-url="{{product.url}}">
                  <span class="vs-icon text-{{settings.show_similar_text}}">
                    {%- render 'similar-product-icon' -%}
                    <span class="similar-text">{{'products.product.similar_products' | t}}</span>
                  </span>
                </div>
                <div class="yv-product-badge sold-badge">
                  Sold Out
                </div> 
              </div>
              <div class="yv-product-information">
                <div class="ratingbox" {{ block.shopify_attributes }}>
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
                <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
                <div class="yv-prizebox" data-saved="{{settings.show_saved_amount}}"  data-saved-style="{{settings.saved_amount_style}}" data-price-wrapper=""   {{ block.shopify_attributes }}>
                  <span class="yv-product-price">$1,100.00</span>
                  <span class="yv-product-compare-price"> $1,190.00</span>
                  <span class="yv-product-percent-off"> 50% Off</span>
                </div>
              </div>
            </div> 
            <div class="yv-product-card">
              <div class="yv-product-card-img has-multiimage ">
                <a class="yv-product-img" href="#">
                  <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                  <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                </a>
                <ul class="yv-product-options">
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                </ul>      
                <div class="similar_options" data-url="{{product.url}}">
                  <span class="vs-icon text-{{settings.show_similar_text}}">
                    {%- render 'similar-product-icon' -%}
                    <span class="similar-text">{{'products.product.similar_products' | t}}</span>
                  </span>
                </div>
                <div class="yv-product-badge sold-badge">
                  Sold Out
                </div> 
              </div>
              <div class="yv-product-information">
                <div class="ratingbox" {{ block.shopify_attributes }}>
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
                <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
                <div class="yv-prizebox" data-saved="{{settings.show_saved_amount}}"  data-saved-style="{{settings.saved_amount_style}}" data-price-wrapper=""   {{ block.shopify_attributes }}>
                  <span class="yv-product-price">$1,100.00</span>
                  <span class="yv-product-compare-price"> $1,190.00</span>
                  <span class="yv-product-percent-off"> 50% Off</span>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="application/json" name="slider-json">
         {
          "slidesToShow":4,
          "slidesToScroll":1,
          "infinite": false,
            "speed": 1000,
          "prevArrow":"<span class=\"slick-prev\" aria-label=\"Prev\"><svg version=\"1.2\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 21 14\" width=\"21\" height=\"14\"><style>.s0tt{fill:currentcolor}</style><path class=\"s0tt\" d=\"m7.6 12.6c0.4 0.3 0.4 0.8 0 1.2q-0.2 0.2-0.6 0.2q-0.3 0-0.6-0.2l-6.1-6.3c-0.4-0.3-0.4-0.9 0-1.2l5.9-6.1c0.3-0.3 0.8-0.3 1.1 0c0.4 0.3 0.4 0.9 0 1.2l-5.3 5.5zm12.6-6.5c0.4 0 0.8 0.4 0.8 0.9c0 0.5-0.4 0.8-0.8 0.8h-17.6c-0.5 0-0.8-0.3-0.8-0.8c0-0.5 0.3-0.9 0.8-0.9h17.6z\" /></svg> Pre</span>",
          "nextArrow":"<span class=\"slick-next\" aria-label=\"Next\">Next <svg version=\"1.2\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 21 15\" width=\"21\" height=\"15\"><style>.s0tt{fill:currentcolor}</style><path class=\"s0tt\" d=\"m18.9 7.5l-5.3-5.3c-0.3-0.4-0.3-0.9 0-1.2c0.4-0.3 0.9-0.4 1.2 0l5.9 6c0.3 0.3 0.3 0.9 0 1.2l-6.2 6.2q-0.2 0.2-0.6 0.2q-0.3 0-0.6-0.2c-0.3-0.4-0.3-0.9 0-1.2zm-18.1-0.7h17.6c0.4 0 0.8 0.4 0.8 0.8c0 0.5-0.4 0.9-0.8 0.9h-17.6c-0.4 0-0.8-0.4-0.8-0.9c0-0.4 0.4-0.8 0.8-0.8z\" /></svg></span>",
          "responsive":[
          	{
            "breakpoint": 768,
                "settings": {
                    "dots":true,
                    "arrows":false,
                    "draggable":true
                  }
            }
          ]
        }
  </script>
</section>
<!-- collection products slider section end -->
<!-- theme about section start -->
<section class="about-theme-section shopify-section">
  <div class="container md-container">
    <div class="about-content-wrapper">
      <div class="row align-items-center">
        <div class="col-12 col-sm-12 col-md-5">
          <div class="about-left-content">
            <h6 class="about-left-subtitle">About Yuva Theme</h6>
            <h2 class="about-left-title">Give a little love & joy this christmas.</h2>
            <p class="about-left-desc">
              Lorem ipsum dolor sit amet, vadipiscing elit. In vehicula lorem sed leo varius, nec cursus augue maximus. Vivamus lacinia lacus leo, nec venenatis mi cursus sit amet. Vestibulum sit amet tellus ipsum.
            </p>
            <p class="about-left-desc">
              Vivamus pellentesque quam non metus gravida vestibulum. Nulla congue sagittis fermentum. Lorm a Sed suscipit fringilla dapibus.
            </p> 
            <a class="button black-btn mt-3" href="#">shop now</a>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-7">
          <div class="about-left-imgbox-container">
            <div class="about-left-imgbox">
              <div class="about-left-img img1">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/image.png?v=1645017085" alt="image" />
              </div>
              <div class="about-left-img img2">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/image2.png?v=1645091449" alt="image" />
              </div>
              <div class="about-left-img img3">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/image3.png?v=1645091450" alt="image" />
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- theme about section end -->
<!--  featured product section start  -->

<!--  featured product section start  -->
<!--  new arrival section start  -->
<section class="new-arrival-section shopify-section">
  <div class="yv-new-arrival-wrapper">
    <div class="row no-gutters">
      <div class="col-12 col-sm-6 col-md-5">
        <div class="yv-new-arriavl-imgbox">
          <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/new-arrival-img.png?v=1645096623" alt="new arrival image"/>
          <div class="yv-new-arriavl-content">
            <h2>New Arrials</h2>
            <p>Stay ahead of the product trends with our. </p>
          </div>
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-7">
        <div class="yv-new-arrival-sliderbox">
          <div class="yv-new-arrival-slider-header">
            <h6 class="heading-subtitle">BEST FOR YOU</h6>
            <h2 class="heading-title">Embrace your Natural Beauty.</h2>
          </div>
          <div class="yv-new-arriavl-slider" data-slider>
            <div class="yv-product-card sm-product-card">
              <div class="yv-product-card-img has-multiimage ">
                <a class="yv-product-img" href="#">
                  <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                  <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                </a>
                <ul class="yv-product-options">
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                </ul>      
                <div class="similar_options" data-url="{{product.url}}">
                  <span class="vs-icon text-{{settings.show_similar_text}}">
                    {%- render 'similar-product-icon' -%}
                    <span class="similar-text">{{'products.product.similar_products' | t}}</span>
                  </span>
                </div>
                <div class="yv-product-badge sold-badge">
                  Sold Out
                </div> 
              </div>
              <div class="yv-product-information">
                <div class="ratingbox" {{ block.shopify_attributes }}>
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
                <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
                <div class="yv-prizebox" data-saved="{{settings.show_saved_amount}}"  data-saved-style="{{settings.saved_amount_style}}" data-price-wrapper=""   {{ block.shopify_attributes }}>
                  <span class="yv-product-price">$1,100.00</span>
                  <span class="yv-product-compare-price"> $1,190.00</span>
                  <span class="yv-product-percent-off"> 50% Off</span>
                </div>
              </div>
            </div> 
            <div class="yv-product-card sm-product-card">
              <div class="yv-product-card-img has-multiimage ">
                <a class="yv-product-img" href="#">
                  <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                  <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                </a>
                <ul class="yv-product-options">
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                </ul>      
                <div class="similar_options" data-url="{{product.url}}">
                  <span class="vs-icon text-{{settings.show_similar_text}}">
                    {%- render 'similar-product-icon' -%}
                    <span class="similar-text">{{'products.product.similar_products' | t}}</span>
                  </span>
                </div>
                <div class="yv-product-badge sold-badge">
                  Sold Out
                </div> 
              </div>
              <div class="yv-product-information">
                <div class="ratingbox" {{ block.shopify_attributes }}>
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
                <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
                <div class="yv-prizebox" data-saved="{{settings.show_saved_amount}}"  data-saved-style="{{settings.saved_amount_style}}" data-price-wrapper=""   {{ block.shopify_attributes }}>
                  <span class="yv-product-price">$1,100.00</span>
                  <span class="yv-product-compare-price"> $1,190.00</span>
                  <span class="yv-product-percent-off"> 50% Off</span>
                </div>
              </div>
            </div> 
            <div class="yv-product-card sm-product-card">
              <div class="yv-product-card-img has-multiimage ">
                <a class="yv-product-img" href="#">
                  <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                  <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                </a>
                <ul class="yv-product-options">
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                </ul>      
                <div class="similar_options" data-url="{{product.url}}">
                  <span class="vs-icon text-{{settings.show_similar_text}}">
                    {%- render 'similar-product-icon' -%}
                    <span class="similar-text">{{'products.product.similar_products' | t}}</span>
                  </span>
                </div>
                <div class="yv-product-badge sold-badge">
                  Sold Out
                </div> 
              </div>
              <div class="yv-product-information">
                <div class="ratingbox" {{ block.shopify_attributes }}>
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
                <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
                <div class="yv-prizebox" data-saved="{{settings.show_saved_amount}}"  data-saved-style="{{settings.saved_amount_style}}" data-price-wrapper=""   {{ block.shopify_attributes }}>
                  <span class="yv-product-price">$1,100.00</span>
                  <span class="yv-product-compare-price"> $1,190.00</span>
                  <span class="yv-product-percent-off"> 50% Off</span>
                </div>
              </div>
            </div> 
            <div class="yv-product-card sm-product-card">
              <div class="yv-product-card-img has-multiimage ">
                <a class="yv-product-img" href="#">
                  <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                  <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                </a>
                <ul class="yv-product-options">
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                </ul>      
                <div class="similar_options" data-url="{{product.url}}">
                  <span class="vs-icon text-{{settings.show_similar_text}}">
                    {%- render 'similar-product-icon' -%}
                    <span class="similar-text">{{'products.product.similar_products' | t}}</span>
                  </span>
                </div>
                <div class="yv-product-badge sold-badge">
                  Sold Out
                </div> 
              </div>
              <div class="yv-product-information">
                <div class="ratingbox" {{ block.shopify_attributes }}>
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
                <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
                <div class="yv-prizebox" data-saved="{{settings.show_saved_amount}}"  data-saved-style="{{settings.saved_amount_style}}" data-price-wrapper=""   {{ block.shopify_attributes }}>
                  <span class="yv-product-price">$1,100.00</span>
                  <span class="yv-product-compare-price"> $1,190.00</span>
                  <span class="yv-product-percent-off"> 50% Off</span>
                </div>
              </div>
            </div> 
            <div class="yv-product-card sm-product-card">
              <div class="yv-product-card-img has-multiimage ">
                <a class="yv-product-img" href="#">
                  <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                  <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                </a>
                <ul class="yv-product-options">
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                </ul>      
                <div class="similar_options" data-url="{{product.url}}">
                  <span class="vs-icon text-{{settings.show_similar_text}}">
                    {%- render 'similar-product-icon' -%}
                    <span class="similar-text">{{'products.product.similar_products' | t}}</span>
                  </span>
                </div>
                <div class="yv-product-badge sold-badge">
                  Sold Out
                </div> 
              </div>
              <div class="yv-product-information">
                <div class="ratingbox" {{ block.shopify_attributes }}>
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
                <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
                <div class="yv-prizebox" data-saved="{{settings.show_saved_amount}}"  data-saved-style="{{settings.saved_amount_style}}" data-price-wrapper=""   {{ block.shopify_attributes }}>
                  <span class="yv-product-price">$1,100.00</span>
                  <span class="yv-product-compare-price"> $1,190.00</span>
                  <span class="yv-product-percent-off"> 50% Off</span>
                </div>
              </div>
            </div> 
            <div class="yv-product-card sm-product-card">
              <div class="yv-product-card-img has-multiimage ">
                <a class="yv-product-img" href="#">
                  <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                  <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
                </a>
                <ul class="yv-product-options">
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                  <li>
                    <a href="#">
                      <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
                    </a>
                  </li>
                </ul>      
                <div class="similar_options" data-url="{{product.url}}">
                  <span class="vs-icon text-{{settings.show_similar_text}}">
                    {%- render 'similar-product-icon' -%}
                    <span class="similar-text">{{'products.product.similar_products' | t}}</span>
                  </span>
                </div>
                <div class="yv-product-badge sold-badge">
                  Sold Out
                </div> 
              </div>
              <div class="yv-product-information">
                <div class="ratingbox" {{ block.shopify_attributes }}>
                  <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
                </div>
                <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
                <div class="yv-prizebox" data-saved="{{settings.show_saved_amount}}"  data-saved-style="{{settings.saved_amount_style}}" data-price-wrapper=""   {{ block.shopify_attributes }}>
                  <span class="yv-product-price">$1,100.00</span>
                  <span class="yv-product-compare-price"> $1,190.00</span>
                  <span class="yv-product-percent-off"> 50% Off</span>
                </div>
              </div>
            </div> 
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="application/json" name="slider-json">
         {
          "slidesToShow":3,
          "slidesToScroll":1,
          "infinite": true,
            "speed": 1000,
          "prevArrow":"<span class=\"slick-prev\" aria-label=\"Prev\"><svg version=\"1.2\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 21 14\" width=\"21\" height=\"14\"><style>.s0tt{fill:currentcolor}</style><path class=\"s0tt\" d=\"m7.6 12.6c0.4 0.3 0.4 0.8 0 1.2q-0.2 0.2-0.6 0.2q-0.3 0-0.6-0.2l-6.1-6.3c-0.4-0.3-0.4-0.9 0-1.2l5.9-6.1c0.3-0.3 0.8-0.3 1.1 0c0.4 0.3 0.4 0.9 0 1.2l-5.3 5.5zm12.6-6.5c0.4 0 0.8 0.4 0.8 0.9c0 0.5-0.4 0.8-0.8 0.8h-17.6c-0.5 0-0.8-0.3-0.8-0.8c0-0.5 0.3-0.9 0.8-0.9h17.6z\" /></svg></span>",
          "nextArrow":"<span class=\"slick-next\" aria-label=\"Next\"><svg version=\"1.2\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 21 15\" width=\"21\" height=\"15\"><style>.s0tt{fill:currentcolor}</style><path class=\"s0tt\" d=\"m18.9 7.5l-5.3-5.3c-0.3-0.4-0.3-0.9 0-1.2c0.4-0.3 0.9-0.4 1.2 0l5.9 6c0.3 0.3 0.3 0.9 0 1.2l-6.2 6.2q-0.2 0.2-0.6 0.2q-0.3 0-0.6-0.2c-0.3-0.4-0.3-0.9 0-1.2zm-18.1-0.7h17.6c0.4 0 0.8 0.4 0.8 0.8c0 0.5-0.4 0.9-0.8 0.9h-17.6c-0.4 0-0.8-0.4-0.8-0.9c0-0.4 0.4-0.8 0.8-0.8z\" /></svg></span>",
          "responsive":[
          	{
            "breakpoint": 768,
                "settings": {
                    "dots":true,
                    "arrows":false,
                    "draggable":true
                  }
            }
          ]
        }
  </script>
</section>
<!--  new arrival section start  -->
<!-- testimonial section start -->
<section class="testimonial-section shopify-section">
  <div class="container">
    <div class="yv-testimonial-wrapper">
      <div class="row align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="yv-testimonail-text-outer">
            <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/testimonial-big-img.png?v=1645101361" alt="testimonail img"/>
            <div class="yv-testimonail-text">
              <h3 class="yv-testimonail-title">What Customer Say  About Us</h3>  
              <p class="yv-testimonail-desc">Lorem ipsum dolor sit amet, consectetur adipiscing elit.</p>
            </div>
          </div>
        </div>
        <div class="col-sm-12 col-md-12 col-lg-8">
          <div class="yv-testimonial-slider" data-slider>
            <div class="yv-testimonial-slider-item">
              <div class="yv-testimonial-slide">
                <h3 class="yv-testimonial-feature-text">Awesome Product!</h3>
                <p class="yv-testimonial-review">I'm confident that this brand and is my first choice to purchase cloths. We were dolor sit amet, consectetur theme adipiscing. All products are are good and genuine.Quis ipsum suspendisse ultrices. gravida. </p>
                <ul class="yv-testimonial-reviews">
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                </ul>
                <div class="yv-testimonial-author">
                  <div class="author-img">
                    <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/author-img.png?v=1644584704" />
                  </div>
                  <p>Jhon Doe / <span>From USA</span></p>
                </div>
              </div>
            </div>
            <div class="yv-testimonial-slider-item">
              <div class="yv-testimonial-slide">
                <h3 class="yv-testimonial-feature-text">Awesome Product!</h3>
                <p class="yv-testimonial-review">I'm confident that this brand and is my first choice to purchase cloths. We were dolor sit amet, consectetur theme adipiscing. All products are are good and genuine.Quis ipsum suspendisse ultrices. gravida. </p>
                <ul class="yv-testimonial-reviews">
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                </ul>
                <div class="yv-testimonial-author">
                  <div class="author-img">
                    <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/author-img.png?v=1644584704" />
                  </div>
                  <p>Jhon Doe / <span>From USA</span></p>
                </div>
              </div>
            </div>
            <div class="yv-testimonial-slider-item">
              <div class="yv-testimonial-slide">
                <h3 class="yv-testimonial-feature-text">Awesome Product!</h3>
                <p class="yv-testimonial-review">I'm confident that this brand and is my first choice to purchase cloths. We were dolor sit amet, consectetur theme adipiscing. All products are are good and genuine.Quis ipsum suspendisse ultrices. gravida. </p>
                <ul class="yv-testimonial-reviews">
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                </ul>
                <div class="yv-testimonial-author">
                  <div class="author-img">
                    <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/author-img.png?v=1644584704" />
                  </div>
                  <p>Jhon Doe / <span>From USA</span></p>
                </div>
              </div>
            </div>
            <div class="yv-testimonial-slider-item">
              <div class="yv-testimonial-slide">
                <h3 class="yv-testimonial-feature-text">Awesome Product!</h3>
                <p class="yv-testimonial-review">I'm confident that this brand and is my first choice to purchase cloths. We were dolor sit amet, consectetur theme adipiscing. All products are are good and genuine.Quis ipsum suspendisse ultrices. gravida. </p>
                <ul class="yv-testimonial-reviews">
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                </ul>
                <div class="yv-testimonial-author">
                  <div class="author-img">
                    <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/author-img.png?v=1644584704" />
                  </div>
                  <p>Jhon Doe / <span>From USA</span></p>
                </div>
              </div>
            </div>
            <div class="yv-testimonial-slider-item">
              <div class="yv-testimonial-slide">
                <h3 class="yv-testimonial-feature-text">Awesome Product!</h3>
                <p class="yv-testimonial-review">I'm confident that this brand and is my first choice to purchase cloths. We were dolor sit amet, consectetur theme adipiscing. All products are are good and genuine.Quis ipsum suspendisse ultrices. gravida. </p>
                <ul class="yv-testimonial-reviews">
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                  </li>
                  <li>
                    <svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                      <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                    </svg>
                </ul>
                <div class="yv-testimonial-author">
                  <div class="author-img">
                    <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/author-img.png?v=1644584704" />
                  </div>
                  <p>Jhon Doe / <span>From USA</span></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="application/json" name="slider-json">    
         {
          "slidesToShow":1,
          "slidesToScroll":1,
          "infinite":true,
          "draggable":false,
          "cssEase": "linear",
         "dots":false,
          "autoplay":false,
          "arrows":true,
          "prevArrow":"<button type=\"button\" class=\"slick-prev\" aria-label=\"Prev\"><span><svg version=\"1.2\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 21 14\" width=\"21\" height=\"14\"><style>.s0tt{fill:currentcolor}</style><path class=\"s0tt\" d=\"m7.6 12.6c0.4 0.3 0.4 0.8 0 1.2q-0.2 0.2-0.6 0.2q-0.3 0-0.6-0.2l-6.1-6.3c-0.4-0.3-0.4-0.9 0-1.2l5.9-6.1c0.3-0.3 0.8-0.3 1.1 0c0.4 0.3 0.4 0.9 0 1.2l-5.3 5.5zm12.6-6.5c0.4 0 0.8 0.4 0.8 0.9c0 0.5-0.4 0.8-0.8 0.8h-17.6c-0.5 0-0.8-0.3-0.8-0.8c0-0.5 0.3-0.9 0.8-0.9h17.6z\" /></svg></span></button>",
          "nextArrow":"<button type=\"button\" class=\"slick-next\" aria-label=\"Next\"><span><svg version=\"1.2\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 21 15\" width=\"21\" height=\"15\"><style>.s0tt{fill:currentcolor}</style><path class=\"s0tt\" d=\"m18.9 7.5l-5.3-5.3c-0.3-0.4-0.3-0.9 0-1.2c0.4-0.3 0.9-0.4 1.2 0l5.9 6c0.3 0.3 0.3 0.9 0 1.2l-6.2 6.2q-0.2 0.2-0.6 0.2q-0.3 0-0.6-0.2c-0.3-0.4-0.3-0.9 0-1.2zm-18.1-0.7h17.6c0.4 0 0.8 0.4 0.8 0.8c0 0.5-0.4 0.9-0.8 0.9h-17.6c-0.4 0-0.8-0.4-0.8-0.9c0-0.4 0.4-0.8 0.8-0.8z\" /></svg></span></button>"
        }
  </script>
</section>
<!-- testimonial section start -->
<!-- blog listing section start -->
<section class="featured-articles-section shopify-section">
  <div class="container"> 
    <div class="section-heading">
      <h2>Featured News Blogs
        <a class="corner-view-all" href="#">View All</a></h2>
    </div>
    <div class="yv-blogs-wrapper"> 
      <div class="row">       
        <div class="col-12 col-sm-12 col-md-6 col-lg-5">
          <div class="yv-blog-card featured-blog">
            <a href="#" class="yv-blog-card-img">                    
              <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/blog-img.png?v=1645103327"  alt="blog thumbnail image" />
            </a>
               <div class="yv-blog-card-text">
                <h4 class="yv-blog-title" href="#">The piece of comfort you can lways designenjoy. walk up with a lot of energy</h4>
                <a href="" class="yv-blog-link">Read More</a>
              </div>
            <span class="yv-blog-date">September 23, 2021 </span>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-7">
          <div class="row">
                    <div class="col-12 col-sm-12 col-md-6 col-lg-3">
          <div class="yv-blog-card">
            {%- assign article_image = 'featured_image.png' | asset_url -%}
            {%- if article.image -%}
            {%- assign article_image = article.image -%}
            {%- endif -%}
            <a href="#" class="yv-blog-card-img">                    
              <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/blog-img.png?v=1645103327"  alt="blog thumbnail image" />
            </a>
            <div class="yv-blog-card-text">
              <span class="yv-blog-date">September 23, 2021 </span>
              <a class="yv-blog-title" href="#">The piece of comfort you can lways designenjoy. walk up with a lot of energy</a>
              <a href="" class="yv-blog-link">Read More</a>
            </div>
          </div>
        </div>
        <div class="col-12 col-sm-12 col-md-6 col-lg-3">
          <div class="yv-blog-card">
            {%- assign article_image = 'featured_image.png' | asset_url -%}
            {%- if article.image -%}
            {%- assign article_image = article.image -%}
            {%- endif -%}
            <a href="#" class="yv-blog-card-img">                    
              <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/blog-img.png?v=1645103327"  alt="blog thumbnail image" />
            </a>
            <div class="yv-blog-card-text">
              <span class="yv-blog-date">September 23, 2021 </span>
              <a class="yv-blog-title" href="#">The piece of comfort you can lways designenjoy. walk up with a lot of energy</a>
              <a href="" class="yv-blog-link">Read More</a>
            </div>
          </div>
        </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- blog listing section end -->
