{% if content == 'menu' %}
  {% for block in section.blocks %}
    {% assign blockPosition = block.settings.position | plus:0 %}
    {% if blockPosition == menuIndex %}

      {% case block.type %}
        {% when 'menu' %}
          {% for i in (1..4) %}
            {% assign menu = 'menu'|append:i %}
            {% assign heading = 'menu_heading'|append:i %}
              {% if block.settings[menu] != blank %}
                {% assign mainMenu = block.settings[menu] %}
                <div class="sub-menu-list {{test}}">
                  <div class="menu-mb-title">
                    <span>{% if block.settings[heading] != blank %}{{ block.settings[heading] | escape | captilize }}{% else %}{{ mainMenu.title | escape | captilize }}{% endif %}</span>
                  </div>
                  {%- if mainMenu.links != blank -%}
                  <ul class="site-nav-dropdown">
                    {%- for childlink in mainMenu.links -%}
                    <li class="menu-lv-3">
                      <a href="{{ childlink.url }}"><span>{{ childlink.title | split:"{badge" | first | escape | captilize }}</span></a>
                    </li>
                    {%- endfor -%}
                  </ul>
                  {% endif %}
                </div>
              {% endif %}
          {% endfor %}
      {% endcase %}
    {% endif %}
  {% endfor %}



{% else %}
{% assign productMenu = ''%}
{% assign imageMenu = ''%}
{% assign pending = 2 %}
{% if link.links != blank  %}
{% assign menuLinkLists = true %}
{% endif %}
  {% for block in section.blocks %}
    {% assign blockPosition = block.settings.position | plus:0 %}
    {% if blockPosition == menuIndex %}

      {% case block.type %}
        {% when 'menu' %}
          {% for i in (1..4) %}
            {% assign menu = 'menu'|append:i %}
              {% if block.settings[menu] != blank %}
				{% assign menuLinkLists = true %}
              {% endif %}
          {% endfor %}
      {% endcase %}
    {% endif %}
  {% endfor %}

	{% assign count = 0 %}

    {% for block in section.blocks %}
      {% assign blockPosition = block.settings.position | plus:0 %}
      {% if blockPosition == menuIndex %}

        {% case block.type %}
          {% when 'product' %}
            {%- capture productData -%}
              {% for i in (1..2) %}
                {% assign product = 'product'|append:i %}
				{% if pending > 0 and pending < 3 %}
                {% unless block.settings[product] == blank  %}
					{% assign hasProduct = true %}
                  {% assign count = count | plus:1 %}
					{% assign pending = pending | minus: 1 %}
                  <div class="sub-menu-list row">
                    {% include 'product-grid' product:block.settings[product] ,hide_options:true,hideRelated:true,hideQuickView:true %}
                  </div>
                {% endunless %}
				{% endif %}
              {% endfor %}
            {%- endcapture -%}
			{% assign productMenu = productMenu | append: productData%}
           

        {% endcase %}  
      {% endif %}
    {% endfor %}

    {% if count < 2 %}  
      {% if count == 0 %}
      {% assign limit = 2 %}
      {% elsif count == 1 %}
      {% assign limit = 2 %}
      {% endif %}
      {% for block in section.blocks %}
      	{% assign blockPosition = block.settings.position | plus:0 %}
          {% if blockPosition == menuIndex %}

            {% case block.type %}
            {% when 'image' %}
              {%- capture imageData -%}
              {% for i in (1..limit) %}
              {% assign image = 'image'|append:i %}
              {% assign heading = 'heading'|append:i %}
              {% assign button = 'button'|append:i %}
              {% assign link = 'link'|append:i %}
				{% if pending > 0 and pending < 3 %}
              {% unless block.settings[image] == blank and block.settings[heading] == blank %}
				{% assign hasImage = true %}
				{% assign count = count | plus:1 %}
					{% assign pending = pending | minus: 1 %}
              <div class="sub-menu-list {{pending}} mega-images">
                <div class="menu-image-content">
                  <img src="{{block.settings[image] | img_url:'master'}}"  class="menu-image">
                  <div class="menu-content">
                    <h4>{{block.settings[heading]}}</h4>
                    <a href="{{block.settings[link]}}" class="button black-button">{{block.settings[button]}}</a>
                  </div>
                </div>
              </div>
              {% endunless %}
				{% endif %}
              {% endfor %}
              {%- endcapture -%}
			{% assign imageMenu = imageMenu | append: imageData%}
            {% endcase %}  
          {% endif %}
      {% endfor %}
    {% endif %}


{% if count == 0 %}
{% assign menuWidth = 'col-md-12' %}
{% elsif count == 1 %}
{% assign colWidth = 'col-md-3' %}
{% assign menuWidth = 'col-md-9' %}
{% else %}
{% assign colWidth = 'col-md-4' %}
{% assign menuWidth = 'col-md-8' %}
{% endif %}
{% unless productMenu == blank and imageMenu == blank %}
<div class="col-12 {{colWidth}} {{count}} box-items">        
  
  <div class="megaMenuContentWrapper">
    <div class="row">
       {% if productMenu != blank %}
              <div class="megaMenuProduct-wrapper col-12 {% if hasProduct and hasImage %}col-md-6{% else %}col-md-12 samecategory{% endif %}">
                {{productMenu}}
              </div>
            {% endif %}
       {% if imageMenu != blank %}
              <div class="megaMenuProduct-wrapper col-12 {% if hasProduct and hasImage %}col-md-6{% else %}col-md-12 samecategory{% endif %}">
                {{imageMenu}}
              </div>
            {% endif %}
    </div>
  </div>
</div>
{% endunless %}
{% endif %}


