{% for block in section.blocks %}
{% assign blockPosition = block.settings.position | plus:0 %}
{% if blockPosition == menuIndex %}

{% case block.type %}
{% when 'menu' %}


{% for i in (1..4) %}
{% if block.settings.menu != blank %}
{% assign mainMenu = block.settings.menu %}
<div class="sub-menu-list">
  <div class="menu-mb-title">
    <span>{% if block.settings.menu_heading != blank %}{{ block.settings.menu_heading | escape | captilize }}{% else %}{{ mainMenu.title | escape | captilize }}{% endif %}</span>
  </div>
  {%- if mainMenu.links != blank -%}
  <ul class="site-nav-dropdown">
    {%- for childlink in mainMenu.links -%}
    <li class="menu-lv-3">
      <a href="{{ childlink.url }}"><span>{{ childlink.title | split:"{badge" | first | escape | captilize }}</span></a>
    </li>
    {%- endfor -%}
  </ul>
  {% endif %}
</div>
{% endif %}
{% endfor %}
{% when 'collection' %}
{% if block.settings.collection != blank %}
{% for product in block.settings.collection.products limit:block.settings.products %}

<div class="sub-menu-list">
  {% include 'product-grid' hide_options:true,hideRelated:true,hideQuickView:true %}
</div>
{% endfor %}
{% endif %}

{% when 'image' %}
{% if block.settings.image != blank and block.settings.heading != blank %}

<div class="sub-menu-list">
  <div class="menu-image-content">
    <img src="{{block.settings.image | img_url:'master'}}"  class="menu-image">
    <div class="menu-content">
      <h4>{{block.settings.heading}}</h4>
      <a href="{{block.settings.link}}" class="button black-button">{{block.settings.button}}</a>
    </div>
  </div>
</div>
{% endif %}
{% endcase %}  


{% endif %}
{% endfor %}