<div id="mini_cart_shipping" {% if settings.enable_shipping and settings.shipping_rate != blank %}data-shipping="{{settings.shipping_rate | times:100}}" data-shipText="{{settings.shipping_text}}"{% endif %}>
</div>
<script id="CartTemplate" type="text/template">
  <div id="mini__cartForm">
     <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart" cart-form>
	<div class="cart-item-container">	
        {% if settings.enable_shipping and settings.shipping_rate != blank %}
    	   
		 <p>{{{shippPending}}}</p>
          <p>{{settings.free_shipping_text}}</p>
		 <div class="progress">
		  <div class="progress-bar" role="progressbar"
		  aria-valuemin="0" aria-valuemax="100" style="width:">
			<span class="sr-only"> Complete</span>
  </div>
  </div>
        {% endif %}
        <div class="cart-items-wrapper">
        {% for item in cart.items %}
		<div class="media-link" data-line="{{line}}">
			<img src="{{item.image | img_url:'150x'}}" alt="{{name}}" width="65" height="73">
			<div class="media-body">
				<h5 class="cart-item-link">
					<a href="{{item.url}}">{{item.product.title | truncatewords:5}}</a>
  </h5>
                        {% unless item.variant.title == null or item.variant.title == 'Default Title'%}
                <span class="item-variant-title">{{item.variant.title}}</span>
                  {% endunless %}
                  {{#if sellingPlan}}
                <span class="item-variant-title">{{sellingPlan}}</span>
                  {{/if}}
				<h6 class="product__price">
                  {{#if discountsApplied}}
                        <small class="item__price-strikethrough"><s>{{{originalLinePrice}}}</s></small><span>{{{linePrice}}}</span>
                      {{else}}
                        <span>{{{linePrice}}}</span>
                      {{/if}}
                      {{#if unitPriceExist}}
                      <small class="unit-price">{{unitPrice}}</small>
                      {{/if}}
  </h6>
                {{#if discountsApplied}}                		
                        {{#each discounts}}
                      <div class="text-right">
                          <small class="item__discount coupanName">{{ this.title }}</small><br>
                        {{/each}}
  </div>
                  {{/if}}
				<div class="right-media-cart">
					<div class="quantity">
						<input type="number" class="ajaxcart__qty-num" name="updates[]" min="1" max="9" step="1" value="{{itemQty}}" data-id="{{key}}" data-line="{{line}}">
						<div class="quantity-nav">
							<div class="quantity-button quantity-up ajaxcart__qty--plus"  data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}"><svg width="24px" height="24px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg" aria-labelledby="plusIconTitle" stroke="#909097" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" color="#000000"> <title id="plusIconTitle">Plus</title> <path d="M20 12L4 12M12 4L12 20"/> </svg></div>
							<div class="quantity-button quantity-down ajaxcart__qty--minus" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemMinus}}"><svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#909097" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg></div>
  </div>
  </div>
					<div class="sd_mini_removeproduct" line="{{line}}" >{{'sections.cart.remove' | t}}</div>
  </div>
  </div>

  </div>
		{% endfor %}	
  </div>
  </div>
	<div class="bottom-cart-box">
		<div class="leave-order-note">
			<span class="cartDrawerNote">{{'sections.cart.note_heading' | t}}
  
  </span>
            <div class="cartNoteContainer" style="display:none">
				<textarea class="form-control" rows = "3" name="note">{{{note}}}</textarea>
  </div>
  </div>
		<ul>

         {{#totalCartDiscount}}
            <li class="minicart__savings">{{'sections.cart.discount' | t}}<span class="coupanName">{{title }}</span> <strong>-{{price}}</strong></li>
          {{/totalCartDiscount}}
			<li class="totle-price">{{'sections.cart.subtotal' | t}}<strong>{{{totalPrice}}}</strong></li>
  </ul>
		<small class="bottom-p">{{{'sections.cart.taxes_and_shipping_at_checkout' | t}}</small>
		<div class="cart-btn-container">
			<button type="submit" class="checkout-btn button black-btn">{{'sections.cart.checkout' | t}}</button>
  </div>
			<a class="shopping_cont" href="/cart">{{'sections.cart.view_cart' | t}}</a>
  </div>
  </div>
  </form>
  </div>
</script>
<script src="{{'cart-ajax.js' | asset_url}}" defer="defer"></script> 