
<div id="mini__cart" class="mini_cart" {% if settings.enable_shipping and settings.shipping_rate != blank %}data-shipping="{{settings.shipping_rate | times:100}}"{% endif %}>  
  
	<div class="cart-product-title">
		<a href="javascript:void(0)" title="Close Cart Drawer" class="close-customer close-cart-drawer close" aria-describedby="a11y-external-message">
			<svg aria-hidden="true" focusable="false" role="presentation" class="icon icon-close" viewBox="0 0 40 40"><path d="M23.868 20.015L39.117 4.78c1.11-1.108 1.11-2.77 0-3.877-1.109-1.108-2.773-1.108-3.882 0L19.986 16.137 4.737.904C3.628-.204 1.965-.204.856.904c-1.11 1.108-1.11 2.77 0 3.877l15.249 15.234L.855 35.248c-1.108 1.108-1.108 2.77 0 3.877.555.554 1.248.831 1.942.831s1.386-.277 1.94-.83l15.25-15.234 15.248 15.233c.555.554 1.248.831 1.941.831s1.387-.277 1.941-.83c1.11-1.109 1.11-2.77 0-3.878L23.868 20.015z" class="layer"></path></svg>
		</a>
		<h5>
			Cart
		</h5>
        
	</div>
  <div id="mini__cartForm">
  
  </div>
</div>
<script id="CartTemplate" type="text/template">
    {% raw %}
     <form action=" {% endraw %}{{ routes.cart_url }} {% raw %}" class="cart__contents critical-hidden" method="post" id="cart" cart-form>
	<div class="cart-item-container">	
    	{% endraw %}
        {% if settings.enable_shipping and settings.shipping_rate != blank %}
        {% raw %}
    	{{#if shippPending }}     
		 <p>Spend <strong>{{{shippPending}}}</strong> more and get free shipping!</p>
         {{else}}
          <p><strong> You get free shipping!</strong></p>
        {{/if}}
		 <div class="progress">
		  <div class="progress-bar" role="progressbar"
		  aria-valuemin="0" aria-valuemax="100" style="width:{{shipPendingPercentage}}">
			<span class="sr-only">{{shipPendingPercentage}} Complete</span>
		  </div>
		</div>
        {% endraw %}
        {% endif %}
        {% raw %} 	
        <div class="cart-items-wrapper">
		{{#items}}
		<div class="media-link" data-line="{{line}}">
			<img src="{{img}}" alt="Sports Shoes Footwear Fashion" width="65" height="73">
			<div class="media-body">
				<h5 class="cart-item-link">
					<a href="{{url}}">{{name}}</a>
				</h5>
				<h6 class="product__price">{{{linePrice}}}</h6>
				<div class="right-media-cart">
					<div class="quantity">
						<input type="number" class="ajaxcart__qty-num" name="updates[]" min="1" max="9" step="1" value="{{itemQty}}" data-id="{{key}}" data-line="{{line}}">
						<div class="quantity-nav">
							<div class="quantity-button quantity-up ajaxcart__qty--plus"  data-id="{{key}}" data-line="{{line}}" data-qty="{{itemAdd}}"><svg width="24px" height="24px" viewBox="0 0 24 24" role="img" xmlns="http://www.w3.org/2000/svg" aria-labelledby="plusIconTitle" stroke="#909097" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" fill="none" color="#000000"> <title id="plusIconTitle">Plus</title> <path d="M20 12L4 12M12 4L12 20"/> </svg></div>
							<div class="quantity-button quantity-down ajaxcart__qty--minus" data-id="{{key}}" data-line="{{line}}" data-qty="{{itemMinus}}"><svg width="24px" height="24px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" fill="none" stroke="#909097" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" class="feather feather-minus"><line x1="5" y1="12" x2="19" y2="12"></line></svg></div>
						</div>
					</div>
					<div class="sd_mini_removeproduct" line="{{line}}" >Remove</div>
				</div>
			</div>
			
		</div>
		{{/items}}	
        </div>
	</div>
	<div class="bottom-cart-box">
		<div class="leave-order-note">
			<span>Leave a Note with Order</span>
				<textarea class="form-control" rows = "3" name="note">{{{note}}}</textarea>
		</div>
		<ul>
			<li class="totle-title">Subtotal</li>
			<li class="totle-price">{{{totalPrice}}}</li>
		</ul>
		<p class="bottom-p">Shipping & taxes calculated at checkout</p>
		<div class="cart-btn-container">
			<a href="/cart" class="view-cart-btn button black-btn">View Cart</a>
			<input type="submit" class="checkout-btn button white-btn" value="Checkout" name="checkout"/>
		</div>
			<a class="shopping_cont" href="#">Continue Shopping</a>
		</div>
	</div>
    </form>
{% endraw %}
</script>
<script src="{{'cart-ajax.js' | asset_url}}" defer="defer"></script> 