<!-- image with text section start -->
<section class="shopify-section image-text-section">
  <div class="container">
    <div class="row align-items-center">
      <div class="col-12 col-sm-6 col-md-4">
        <div class="yv-text-content">
          <h6 class="yv-text-subtitle">Premium Comfort</h6>
          <h2 class="yv-text-title">Give a little love &amp; joy this christmas.</h2>
          <p class="yv-text-desc">
            Lorem ipsum dolor sit amet, vadipiscing elit. In vehicula lorem sed leo varius, nec cursus augue maximus. Vivamus lacinia lacus leo, nec venenatis mi cursus sit amet. Vestibulum sit amet tellus ipsum.
          </p>
          <p class="yv-text-desc">
            Vivamus pellentesque quam non metus gravida vestibulum. Nulla congue sagittis fermentum. Lorm a Sed suscipit fringilla dapibus.
          </p> 
        </div>
      </div>
      <div class="col-12 col-sm-6 col-md-8">
        <div class="yv-imgbox-container">
          <div class="yv-img-content small-img-content">
            <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/black-nightsuit.png?v=1645449385" alt="image"/>
          </div>
          <div class="yv-img-content">
            <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/black-nightsuit.png?v=1645449385" alt="image"/>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- image with text section start -->
<!-- Recent Products section start -->
<section class="shopify-section recent-product-section">
  <div class="container">
    <div class="section-heading between-heading">
      <h3>Recent Products</h3>
    </div>
    <div class="yv-recent-product-grid" data-slider>
      <div class="yv-product-card">
        <div class="yv-product-card-img has-multiimage ">
          <a class="yv-product-img" href="#">
            <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
            <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
          </a>
          <ul class="yv-product-options">
            <li>
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
              </a>
            </li>
          </ul>      
          <div class="similar_options" data-url="{{product.url}}">
            <span class="vs-icon text-{{settings.show_similar_text}}">
              {%- render 'similar-product-icon' -%}
              <span class="similar-text">{{'products.product.similar_products' | t}}</span>
            </span>
          </div>
          <div class="yv-product-badge sold-badge">
            Sold Out
          </div> 
        </div>
        <div class="yv-product-information">
          <div class="ratingbox" {{ block.shopify_attributes }}>
            <span class="shopify-product-reviews-badge"></span>
          </div>
          <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
          <div class="yv-prizebox">
            <span class="yv-product-price">$1,100.00</span>
            <span class="yv-product-compare-price"> $1,190.00</span>
            <span class="yv-product-percent-off"> 50% Off</span>
          </div>
        </div>
      </div>
      <div class="yv-product-card">
        <div class="yv-product-card-img has-multiimage ">
          <a class="yv-product-img" href="#">
            <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
            <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
          </a>
          <ul class="yv-product-options">
            <li>
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
              </a>
            </li>
          </ul>      
          <div class="similar_options" data-url="{{product.url}}">
            <span class="vs-icon text-{{settings.show_similar_text}}">
              {%- render 'similar-product-icon' -%}
              <span class="similar-text">{{'products.product.similar_products' | t}}</span>
            </span>
          </div>
          <div class="yv-product-badge sold-badge">
            Sold Out
          </div> 
        </div>
        <div class="yv-product-information">
          <div class="ratingbox" {{ block.shopify_attributes }}>
            <span class="shopify-product-reviews-badge"></span>
          </div>
          <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
          <div class="yv-prizebox">
            <span class="yv-product-price">$1,100.00</span>
            <span class="yv-product-compare-price"> $1,190.00</span>
            <span class="yv-product-percent-off"> 50% Off</span>
          </div>
        </div>
      </div>
      <div class="yv-product-card">
        <div class="yv-product-card-img has-multiimage ">
          <a class="yv-product-img" href="#">
            <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
            <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
          </a>
          <ul class="yv-product-options">
            <li>
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
              </a>
            </li>
          </ul>      
          <div class="similar_options" data-url="{{product.url}}">
            <span class="vs-icon text-{{settings.show_similar_text}}">
              {%- render 'similar-product-icon' -%}
              <span class="similar-text">{{'products.product.similar_products' | t}}</span>
            </span>
          </div>
          <div class="yv-product-badge sold-badge">
            Sold Out
          </div> 
        </div>
        <div class="yv-product-information">
          <div class="ratingbox" {{ block.shopify_attributes }}>
            <span class="shopify-product-reviews-badge"></span>
          </div>
          <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
          <div class="yv-prizebox">
            <span class="yv-product-price">$1,100.00</span>
            <span class="yv-product-compare-price"> $1,190.00</span>
            <span class="yv-product-percent-off"> 50% Off</span>
          </div>
        </div>
      </div>
      <div class="yv-product-card">
        <div class="yv-product-card-img has-multiimage ">
          <a class="yv-product-img" href="#">
            <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
            <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
          </a>
          <ul class="yv-product-options">
            <li>
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
              </a>
            </li>
          </ul>      
          <div class="similar_options" data-url="{{product.url}}">
            <span class="vs-icon text-{{settings.show_similar_text}}">
              {%- render 'similar-product-icon' -%}
              <span class="similar-text">{{'products.product.similar_products' | t}}</span>
            </span>
          </div>
          <div class="yv-product-badge sold-badge">
            Sold Out
          </div> 
        </div>
        <div class="yv-product-information">
          <div class="ratingbox" {{ block.shopify_attributes }}>
            <span class="shopify-product-reviews-badge"></span>
          </div>
          <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
          <div class="yv-prizebox">
            <span class="yv-product-price">$1,100.00</span>
            <span class="yv-product-compare-price"> $1,190.00</span>
            <span class="yv-product-percent-off"> 50% Off</span>
          </div>
        </div>
      </div>
      <div class="yv-product-card">
        <div class="yv-product-card-img has-multiimage ">
          <a class="yv-product-img" href="#">
            <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
            <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
          </a>
          <ul class="yv-product-options">
            <li>
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
              </a>
            </li>
          </ul>      
          <div class="similar_options" data-url="{{product.url}}">
            <span class="vs-icon text-{{settings.show_similar_text}}">
              {%- render 'similar-product-icon' -%}
              <span class="similar-text">{{'products.product.similar_products' | t}}</span>
            </span>
          </div>
          <div class="yv-product-badge sold-badge">
            Sold Out
          </div> 
        </div>
        <div class="yv-product-information">
          <div class="ratingbox" {{ block.shopify_attributes }}>
            <span class="shopify-product-reviews-badge"></span>
          </div>
          <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
          <div class="yv-prizebox">
            <span class="yv-product-price">$1,100.00</span>
            <span class="yv-product-compare-price"> $1,190.00</span>
            <span class="yv-product-percent-off"> 50% Off</span>
          </div>
        </div>
      </div>
      <div class="yv-product-card">
        <div class="yv-product-card-img has-multiimage ">
          <a class="yv-product-img" href="#">
            <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
            <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
          </a>
          <ul class="yv-product-options">
            <li>
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
              </a>
            </li>
          </ul>      
          <div class="similar_options" data-url="{{product.url}}">
            <span class="vs-icon text-{{settings.show_similar_text}}">
              {%- render 'similar-product-icon' -%}
              <span class="similar-text">{{'products.product.similar_products' | t}}</span>
            </span>
          </div>
          <div class="yv-product-badge sold-badge">
            Sold Out
          </div> 
        </div>
        <div class="yv-product-information">
          <div class="ratingbox" {{ block.shopify_attributes }}>
            <span class="shopify-product-reviews-badge"></span>
          </div>
          <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
          <div class="yv-prizebox">
            <span class="yv-product-price">$1,100.00</span>
            <span class="yv-product-compare-price"> $1,190.00</span>
            <span class="yv-product-percent-off"> 50% Off</span>
          </div>
        </div>
      </div>
      <div class="yv-product-card">
        <div class="yv-product-card-img has-multiimage ">
          <a class="yv-product-img" href="#">
            <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
            <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
          </a>
          <ul class="yv-product-options">
            <li>
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
              </a>
            </li>
          </ul>      
          <div class="similar_options" data-url="{{product.url}}">
            <span class="vs-icon text-{{settings.show_similar_text}}">
              {%- render 'similar-product-icon' -%}
              <span class="similar-text">{{'products.product.similar_products' | t}}</span>
            </span>
          </div>
          <div class="yv-product-badge sold-badge">
            Sold Out
          </div> 
        </div>
        <div class="yv-product-information">
          <div class="ratingbox" {{ block.shopify_attributes }}>
            <span class="shopify-product-reviews-badge"></span>
          </div>
          <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
          <div class="yv-prizebox">
            <span class="yv-product-price">$1,100.00</span>
            <span class="yv-product-compare-price"> $1,190.00</span>
            <span class="yv-product-percent-off"> 50% Off</span>
          </div>
        </div>
      </div>
      <div class="yv-product-card">
        <div class="yv-product-card-img has-multiimage ">
          <a class="yv-product-img" href="#">
            <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
            <img class="product-second-img" src="//cdn.shopify.com/s/files/1/0597/9668/5009/products/watch.png?v=1644838541" alt="product image" />
          </a>
          <ul class="yv-product-options">
            <li>
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
              </a>
            </li>
            <li>
              <a href="#">
                <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/cart.png?v=1645011498" alt="cart icon" />
              </a>
            </li>
          </ul>      
          <div class="similar_options" data-url="{{product.url}}">
            <span class="vs-icon text-{{settings.show_similar_text}}">
              {%- render 'similar-product-icon' -%}
              <span class="similar-text">{{'products.product.similar_products' | t}}</span>
            </span>
          </div>
          <div class="yv-product-badge sold-badge">
            Sold Out
          </div> 
        </div>
        <div class="yv-product-information">
          <div class="ratingbox" {{ block.shopify_attributes }}>
            <span class="shopify-product-reviews-badge"></span>
          </div>
          <a href="#" class="yv-product-title" title="">Full Sleeve Solid Women</a>
          <div class="yv-prizebox">
            <span class="yv-product-price">$1,100.00</span>
            <span class="yv-product-compare-price"> $1,190.00</span>
            <span class="yv-product-percent-off"> 50% Off</span>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script type="application/json" name="slider-json">
         {
          "slidesToShow":4,
          "slidesToScroll":1,
          "infinite": false,
            "speed": 1000,
          "prevArrow":"<span class=\"slick-prev\" aria-label=\"Prev\"><svg version=\"1.2\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 21 14\" width=\"21\" height=\"14\"><style>.s0tt{fill:currentcolor}</style><path class=\"s0tt\" d=\"m7.6 12.6c0.4 0.3 0.4 0.8 0 1.2q-0.2 0.2-0.6 0.2q-0.3 0-0.6-0.2l-6.1-6.3c-0.4-0.3-0.4-0.9 0-1.2l5.9-6.1c0.3-0.3 0.8-0.3 1.1 0c0.4 0.3 0.4 0.9 0 1.2l-5.3 5.5zm12.6-6.5c0.4 0 0.8 0.4 0.8 0.9c0 0.5-0.4 0.8-0.8 0.8h-17.6c-0.5 0-0.8-0.3-0.8-0.8c0-0.5 0.3-0.9 0.8-0.9h17.6z\" /></svg> Pre</span>",
          "nextArrow":"<span class=\"slick-next\" aria-label=\"Next\">Next <svg version=\"1.2\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 21 15\" width=\"21\" height=\"15\"><style>.s0tt{fill:currentcolor}</style><path class=\"s0tt\" d=\"m18.9 7.5l-5.3-5.3c-0.3-0.4-0.3-0.9 0-1.2c0.4-0.3 0.9-0.4 1.2 0l5.9 6c0.3 0.3 0.3 0.9 0 1.2l-6.2 6.2q-0.2 0.2-0.6 0.2q-0.3 0-0.6-0.2c-0.3-0.4-0.3-0.9 0-1.2zm-18.1-0.7h17.6c0.4 0 0.8 0.4 0.8 0.8c0 0.5-0.4 0.9-0.8 0.9h-17.6c-0.4 0-0.8-0.4-0.8-0.9c0-0.4 0.4-0.8 0.8-0.8z\" /></svg></span>",
          "responsive":[
          	{
            "breakpoint": 768,
                "settings": {
                    "dots":true,
                    "arrows":false,
                    "draggable":true
                  }
            }
          ]
        }
  </script>
</section>
<!-- Recent Products section end -->