{% for block in section.blocks %}                  
{% if block.type == 'content' and block.settings.width == 'full' %}  
<div class="Specification-tabs">           
  <div class="container container-product">
    <ul class="resp-tabs-list easy_tabs">    
      {% if block.settings.show_description %}
      <li class="resp-tab-item resp-tab-itemProduct easy_tabs" content="tabContentDescription"><a>Description</a></li> 
      {% endif %}
      {% if block.settings.content_heading != blank %}
      <li class="resp-tab-item resp-tab-itemProduct easy_tabs" content="tabContentWrapper"><a>{{block.settings.content_heading}}</a></li> 
      {% endif %}
      {% if block.settings.show_reviews %}
      <li class="resp-tab-item resp-tab-itemProduct easy_tabs" content="tabContentReviews"><a>Reviews</a></li> 
      {% endif %}
    </ul>
  </div>
</div>
<div class="container ">        
  <div class="row">
    {% for block in section.blocks %}
    {% if block.type == 'content' and block.settings.width == 'full' %}    
    {% if block.settings.show_description %} 
    <div class="product-description tab-content resp-tab-content resp-tab-contentProduct easy_tabs" id="tabContentDescription" aria-labelledby="easy_tabs_tab_item-2" style="display: none;">
      {{product.description}}             
    </div>     
    {% endif %}
    {% if block.settings.content_heading != blank %}
    <div class="product-description tab-content resp-tab-content resp-tab-contentProduct easy_tabs" id="tabContentWrapper" aria-labelledby="easy_tabs_tab_item-2" style="display: none;">
      {{block.settings.content}}            
    </div> 
    {% endif %}
    {% if block.settings.show_reviews %}
    <div class="product-description tab-content resp-tab-content resp-tab-contentProduct easy_tabs" id="tabContentReviews" aria-labelledby="easy_tabs_tab_item-2" style="display: none;">
      <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>           
    </div>  
    {% endif %}
    {% endif %}
    {% endfor %}
  </div>
</div>
{% endif %}
{% endfor %}