
<div class="product-add-to-cart-right">
  {%- assign product_form_id = 'product-form-' | append: section.id -%}
  {% for block in section.blocks %}
  {% case block.type %}
  {% when 'title' %}
  <a class="product-detail-title" href="{{product.url}}">{{product.title}}</a>
  {% when 'text' %}
  <p class="vendor_name">{{block.settings.text}}</p>
  {% when 'inventory' %}            
  {% if current_variant.available %}
  <span id="variant-inventory" class="product-instock product-stock">{{ 'products.product.in_stock' | t }}</span>
  {% else %}
  <span id="variant-inventory" class="product-outstock product-stock">{{ 'products.product.out_stock' | t }}</span>
  {% endif %}
  {% when 'review-star' %}
  <div class="ratingbox">
    <span class="shopify-product-reviews-badge" data-id="{{ product.id }}"></span>
  </div>
  {% when 'price' %}
  <div class="prizebox" data-saved="{{settings.show_saved_amount}}"  data-saved-style="{{settings.saved_amount_style}}" data-price-wrapper="">
    {% if current_variant.compare_at_price > current_variant.price %}
    <h3 id="get_price" class="price-list">
      <span class="get-price">{{current_variant.price | money}}</span>
      <span class="main-price"> {{current_variant.compare_at_price | money}}</span>
      <span class="percent-off">({{ current_variant.compare_at_price | minus: product.price | times: 100 | divided_by: current_variant.compare_at_price | append: "% OFF"}})</span>
    </h3>
    {% else %}
    <h3 id="get_price" class="price-list">{{current_variant.price | money}}</h3>
    {% endif %}
    {% if current_variant.unit_price_measurement %}
  {{ current_variant.unit_price | money }}--
    {{ current_variant.unit_price_measurement.reference_value }}
  {% if current_variant.unit_price_measurement.reference_value != 1 %}
    {{ current_variant.unit_price_measurement.reference_value }}
  {% endif %}

  {{ current_variant.unit_price_measurement.reference_unit }}
{% endif %}
  </div>
  {% when 'variant' %}
  {% unless product.has_only_default_variant %}
  {%- for option in product.options_with_values -%}
  {% assign downOption = option.name | downcase %}
  {% assign optionIndex = forloop.index %}
  {% assign varOptionIndex = 'option'|append:forloop.index %}
  <div class="select__{{downOption}} product-option-selector">
    <span class="variant_title">SELECT {{option.name}}</span>
    {% if settings.option_style == 'swatch' %}
    <ul class="product-loop-variants {{downOption}} variants {{settings.color_swatch_style}} _small list-unstyled">                            
      {%- for value in option.values -%}  
      <li class="{{downOption}}_option  variant_option">
        <input class="productOption" type="radio" name="option-{{optionIndex}}" value="{{value}}" {% if option.selected_value == value %}checked{% endif %}>
        {% assign variantImage = '' %}
        {% if settings.variant_image %}                                                                                  
        {% assign variantsList = product.variants | where: varOptionIndex, value %}                                             
        {% for variant in variantsList %}
        {% if variant.featured_image != blank %}
        {% assign variantImage = variant.featured_image %}
        {% break %}
        {% endif %}
        {% endfor %}
        {% endif %}

        {% if downOption == 'color' or  downOption == 'colour'%}    
        <span 
              class="option {% if option.selected_value == value %}selected{% endif %} {% unless settings.variant_image %}variantColorOption{% else %}variantImageOption{% endunless %}" 
              {% if downOption == 'color' or  downOption == 'colour'%}{% unless settings.variant_image and variantImage != blank %} 
              style="background-color:{{value}};"{% endunless %}{% endif %}
              >
          {% if settings.variant_image %}    
          {% if variantImage != blank %}
          <img src="{{variantImage | img_url:"100x"}}">
          {% endif %}
          {% endif %}
        </span>
        {% else %}
        <span class="option {% if option.selected_value == value %}selected{% endif %}" >
          {{value}}
        </span>
        {% endif%}
      </li>
      {% endfor %}
    </ul> 
    {% elsif settings.option_style == 'dropdown' %}
    <div class="dropdown {{downOption}}-select productOptionSelect">
      <button id="dLabel" class="dropdown-selected" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        {{option.selected_value}}
      </button>
      <span class="caret"></span>
      <ul class="product-loop-variants dropdown-menu {{downOption}}-menu productOptionSelectList" aria-labelledby="dLabel" style="display: none;">
        {%- for value in option.values -%}
        <li class="productOption">
          <input type="radio" name="option-{{optionIndex}}" value="{{value}}" {% if option.selected_value == value %}checked{% endif %}>
          {{value}}
        </li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}
  </div>
  {% endfor %}
  {% endunless %}
  {% when 'quantity' %}
  <div class="select__quantity">
    <span class="variant_title">{{ 'products.product.quantity.label' | t }}</span>                              
    <div class="quantity">
      <input type="number" name="quantity" min="1" max="50" step="1" value="1" form="{{product_form_id}}">
      <div class="quantity-nav">
        <div class="quantity-button quantity-up"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 102 99" style="enable-background:new 0 0 102 99;" xml:space="preserve"><polygon points="100.1,37.2 63.5,37.2 63.5,0.5 39.1,0.5 39.1,37.2 2.4,37.2 2.4,61.6 39.1,61.6 39.1,98.3 63.5,98.3 63.5,61.6 100.1,61.6 "></polygon></svg></div>
        <div class="quantity-button quantity-down"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 102 99" style="enable-background:new 0 0 102 99;" xml:space="preserve"><polyline points="63.3,61.6 102,61.6 102,37.2 63.3,37.2 "></polyline><polyline points="78.7,37.2 0.1,37.2 0.1,61.6 78.7,61.6 "></polyline></svg></div>
      </div>
    </div>

  </div>
  {% when 'social-icons' %}
  <div class="social-icons">
    {% include 'social-sharing' , share_title: product.title, share_permalink: product.url, share_image: product%}
  </div>
  {% when 'button' %}
  <div class="product_button">
    {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
    {% render 'product-variants' product:product %}
    {% assign preorder = false %}
    {% if settings.enable_preorder and current_variant.inventory_policy == 'continue' and current_variant.inventory_quantity <= 0  %}
    {% assign preorder = true %}
    {% endif %}


    <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
   	{%- if template == 'product' -%}
    <input type="hidden" name="selling_plan" value="">
    
    {% assign currentVariantSellingGroups = ""  %}
    {% assign currentVariantSellingPlans = ""  %}

    {%- for selling_plan_allocation in current_variant.selling_plan_allocations -%}
    {% unless currentVariantSellingGroups contains selling_plan_allocation.selling_plan_group_id %}
    {% assign currentVariantSellingGroups = currentVariantSellingGroups | append: selling_plan_allocation.selling_plan_group_id %}
    {% endunless %}
    {% unless currentVariantSellingPlans contains selling_plan_allocation.selling_plan.id %}

    {% assign currentVariantSellingPlans = currentVariantSellingPlans | append: selling_plan_allocation.selling_plan.id %}
    {% endunless %}
    {% endfor %}
    <div class="selling_plan_wrapper" data-selling-plan-container>
      {% if current_variant.selling_plan_allocations.size > 0 %}
      <div class="selling_group active">
        <div class="sellingPlanHeading" for="oneTimePurchase">
          <input type="radio" id="oneTimePurchase" name="sellingPlanHeading" checked>
          <label for="oneTimePurchase">One Time Purchase</label>
        </div>
      </div>
      {% for selling_plan_group  in product.selling_plan_groups %}
      {% if currentVariantSellingGroups contains selling_plan_group.id %}
      <div class="selling_group">
        <div class="sellingPlanHeading" for="sellingGroup{{forloop.index}}">
          <input type="radio" id="sellingGroup{{forloop.index}}" name="sellingPlanHeading" value="">
          <label for="sellingGroup{{forloop.index}}">{{selling_plan_group.name}}</label>
        </div>
        <div class="selling_plan" data-val>
          <select class="selling_plan_attribute">
            {% for selling_plan in selling_plan_group.selling_plans %}
            <option value="{{selling_plan.id}}" {% if forloop.first %}selected{% endif %}>{{selling_plan.name }}</option>
            {% endfor %}
          </select>
        </div>
      </div>
      {% endif %}
      {% endfor %}
      {% endif %}
    </div>
    {% include 'product-pickup-availability' %}
    
    {%- endif -%}
    <div class="productErrors error_message" style="display:none"></div>
    <div class="pdp-action-container {% unless current_variant.available %}disabled{% endunless %}" data-button-wrapper>
      <div class="pdp-add-to-bag">
        <button type="submit" class="Sd_addProduct add_to_cart black-btn button btn-block"{% unless current_variant.available %}disabled{% endunless %}>
          <span>
            {% unless current_variant.available %}                      
            {{ 'products.product.sold_out' | t }}
            {% else %}
            {% if preorder %}
            {{ 'products.product.preorder' | t }}
            {% else %}
            {{ 'products.product.add_to_cart' | t }}
            {% endif %}
            {% endunless %}</span>
          <svg height="38" width="38" class="svg-loader" style="display:none;">
            <circle r="13" cx="14" cy="20"></circle>
            <circle stroke-dasharray="103.964594 87.96459430051421" r="13" cx="14" cy="20"></circle>
          </svg>
        </button>
      </div>
      {% if block.settings.dynamic_checkout_btn %}
      {{ form | payment_button }}
      {% endif %}
    </div>
    {% endform %}
    {% if block.settings.show_view_detail %}
    <a href="{{product.url}}" class="link text__right">View Detail</a>
    {% endif %}
    {% if block.settings.show_contact and block.settings.form_text != blank %}
    <div class="product-contact-form">
      <div class="ask_about"> 
        <a href="javascript:;" class="ask_this_product" data-name="{{product.title}}"> 
          <i class="far fa-envelope"></i> {{block.settings.form_text}}</a>
      </div>
      <div class="askmeMain" style="display: none;">
        <div class="askmecontainer">   
          <a href="javascript:;" class="ask_cross">
            <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
              <defs>
                <style>
                  .close {
                    fill: #323030;
                    fill-rule: evenodd;
                    opacity: 0.6;
                  }
                </style>
              </defs>
              <path d="M1235.63,300.5l5.11-5.115a0.813,0.813,0,0,0-1.15-1.15l-5.11,5.115-5.12-5.115a0.813,0.813,0,1,0-1.15,1.15l5.12,5.115-5.12,5.116a0.809,0.809,0,0,0,0,1.15,0.82,0.82,0,0,0,.58.238,0.8,0.8,0,0,0,.57-0.238l5.12-5.115,5.11,5.115a0.814,0.814,0,0,0,1.15,0,0.809,0.809,0,0,0,0-1.15Z" transform="translate(-1228 -294)"></path>
            </svg>    
          </a>
          <h3 class="productheading">{{product.title}}</h3>    


          {%- form 'contact', id: 'ContactForm' -%}


          <input type="hidden" name="contact[product]" id="ContactFormProduct" placeholder="Product:" value="{{product.title}}">
          <div class="form-group">
            <label for="ContactFormName">Name</label>
            <input class="ask-me-form-control " type="text" name="contact[name]" id="ContactFormName" placeholder="Name" value="" required="">
          </div>    
          <div class="form-group">
            <div class="row">
              <div class="col-md-6 width-50">
                <label for="ContactFormEmail">Email</label>
                <input class="ask-me-form-control " type="email" name="contact[email]" id="ContactFormEmail" placeholder="Email" value="" spellcheck="false" autocomplete="off" autocapitalize="off" required="">

              </div>
              <div class="col-md-6 width-50">
                <label for="ContactFormPhone">Phone Number</label>
                <input class="ask-me-form-control " type="tel" name="contact[phone]" id="ContactFormPhone" placeholder="Phone Number" value="" pattern="[0-9\-]*">
              </div>
            </div>
          </div>
          <div class="form-group">
            <label for="ContactFormMessage">Message</label>
            <textarea class="ask-me-form-control " rows="10" name="contact[body]" id="ContactFormMessage" placeholder="Message" required=""></textarea>
          </div>
          <input type="submit" class="button black-btn submit-button" value="Send">
          {% endform %}
        </div>
      </div>


    </div>
    {% endif %}
  </div>
  {% when 'content' %}
  {% if block.settings.width == 'half' %}
  {% if block.settings.style == "accordion" %}
  {% include 'product-accordion-content' position:"sidebar-content" %}
  {% else %}
  {% include 'product-tabs-content' %}
  {% endif %}
  {% endif %}
  {% endcase %}
  {% endfor %}
</div>