<div class="product__pickup-availabilities no-js-hidden"
                     {% if current_variant.available and pick_up_availabilities.size > 0 %} available{% endif %}
                     data-root-url="{{ routes.root_url }}"
                     data-variant-id="{{ current_variant.id }}"
                     data-has-only-default-variant="{{ product.has_only_default_variant }}"
                     >
    <div class="pickup-availability-preview">
      <div class="pickup-availability-info">
        <p class="caption-large">{{ 'products.product.pickup_availability.unavailable' | t }}</p>
        <button class="pickup-availability-button link link--text underlined-link">{{ 'products.product.pickup_availability.refresh' | t }}</button>
      </div>
  </div>
</div>
<script>
  var this = document.querySelector('.product__pickup-availabilities');
      let rootUrl = this.dataset.root-url;
      if (!rootUrl.endsWith("/")) {
        rootUrl = rootUrl + "/";
      }
      const variantSectionUrl = `${rootUrl}variants/${variantId}/?section_id=pickup-availability`;

      fetch(variantSectionUrl)
        .then(response => response.text())
        .then(text => {
          const sectionInnerHTML = new DOMParser()
            .parseFromString(text, 'text/html')
            .querySelector('.shopify-section');
          this.renderPreview(sectionInnerHTML);
        })
        .catch(e => {
          const button = this.querySelector('button');
          if (button) button.removeEventListener('click', this.onClickRefreshList);
          this.renderError();
        });
</script>