{%- for link in section.settings.menu.links -%}
{% assign menuIndex = forloop.index %}
{% assign menuDropdown = false %}
{% for block in section.blocks %}
{% assign blockPosition = block.settings.position | plus:0 %}
  {% if blockPosition == menuIndex %}
	{% assign menuDropdown = true %}
	{% break %}
  {% endif %}
{% endfor %}
<li>
  {% assign childlink_url = childlink.url %}
  {% if childlink.links != blank %}
  {% assign childlink_url = 'javascript:void(0)'%}
  {% endif%}
  <a class="toggle-level" href="{%- if childlink.links != blank -%}javascript:void(0){% else %}{{ childlink_url }}{% endif %}">
    {{ childlink.title | split:"{badge" | first | escape | captilize }} <span class="caret"></span></a>

  {%- if childlink.links != blank -%}
  <ul class="inner grandchild">

    <div class="inner-child-menu">
      <div class="menu_back_btn">
        <button class="back-btn">
          <svg height="17.031" viewbox="0 0 24 17.031" width="24" xmlns="http://www.w3.org/2000/svg">
            <defs>
              <style>
                .cls-1 {
                  fill-rule: evenodd;
                }
              </style>
            </defs>
            <path class="cls-1" d="M684,76.476H663.835l6.119-6.091-1.412-1.406-7.132,7.1h0L660,77.484l1.413,1.406,7.132,7.1,1.412-1.406-6.148-6.121H684V76.476Z" transform="translate(-660 -68.969)"></path>
          </svg>
          Back
        </button>
      </div>
      <div class="category_title">
        <h4>{{ childlink.title | split:"{badge" | first | escape | captilize }}</h4>
      </div>
    </div>
    {%- for grandchildlink in childlink.links -%}
    <li>
      <a href="{{ grandchildlink.url }}"><span>{{ grandchildlink.title | split:"{badge" | first | escape | captilize }}</span></a>
    </li>
    {%- endfor -%}
  </ul>
  {% endif %}
</li>
{%- endfor-%}	