{% for block in section.blocks %}
{% assign blockPosition = block.settings.position | plus:0 %}
{% if blockPosition == menuIndex %}

{% case block.type %}
{% when 'menu' %}
{% for i in (1..4) %}
{% assign menu = 'menu'|append:i %}
{% assign heading = 'menu_heading'|append:i %}
{% if block.settings[menu] != blank %}
{% assign mainMenu = block.settings[menu] %}
<li>
    <a class="toggle-level">
        {% if block.settings[heading] != blank %}{{ block.settings[heading] | escape | captilize }}{% else %}{{ mainMenu.title | escape | captilize }}{% endif %}</a>
        
    {%- if mainMenu.links != blank -%}
    <div class="inner grandchild">        
        <div class="inner-child-menu">
            <div class="menu_back_btn">
                <button class="back-btn">
                    <svg height="17.031" viewbox="0 0 24 17.031" width="24" xmlns="http://www.w3.org/2000/svg">
                        <defs>
                            <style>
                    .cls-1 {
                        fill-rule: evenodd;
                    }
                    </style>
                        </defs>
                        <path class="cls-1" d="M684,76.476H663.835l6.119-6.091-1.412-1.406-7.132,7.1h0L660,77.484l1.413,1.406,7.132,7.1,1.412-1.406-6.148-6.121H684V76.476Z" transform="translate(-660 -68.969)"></path>
                    </svg>
                    Back
                </button>
            </div>
            <div class="category_title">
                <h4>{% if block.settings[heading] != blank %}{{ block.settings[heading] | escape | captilize }}{% else %}{{ mainMenu.title | escape | captilize }}{% endif %}</h4>
            </div>
          	<ul>
            {%- for childlink in mainMenu.links -%}
            <li>
                <a href="{{ childlink.url }}">{{ childlink.title | split:"{badge" | first | escape | captilize }}</a>
            </li>
            {%- endfor -%}
          </ul>
        </div>
    </div>
    {% endif %}
</li>
{% endif %}
{% endfor %}
{% endcase %}
{% endif %}
{% endfor %}


{% assign count = 0 %}

{% for block in section.blocks %}
{% assign blockPosition = block.settings.position | plus:0 %}
{% if blockPosition == menuIndex %}

{% case block.type %}
{% when 'product' %}
{% for i in (1..2) %}
{% assign product = 'product'|append:i %}
{% unless block.settings[product] == blank  %}
{% assign hasProduct = true %}
{% assign count = count | plus:1 %}

<li>
  <div class="row">
    {% include 'product-grid'  product:block.settings[product] ,hide_options:true,hideRelated:true,hideQuickView:true ,hideColors:true%}
  </div>
</li>
{% endunless %}
{% endfor %}



{% endcase %}  
{% endif %}
{% endfor %}

    {% if count < 2 %}  
      {% if count == 0 %}
      {% assign limit = 2 %}
      {% elsif count == 1 %}
      {% assign limit = 2 %}
      {% endif %}

      {% for block in section.blocks %}
      {% assign blockPosition = block.settings.position | plus:0 %}
      {% if blockPosition == menuIndex %}

      {% case block.type %}

      {% when 'image' %}
      {% for i in (1..limit) %}
      {% assign image = 'image'|append:i %}
      {% assign heading = 'heading'|append:i %}
      {% assign button = 'button'|append:i %}
      {% assign newlink = 'link'|append:i %}
      {% unless block.settings[image] == blank and block.settings[heading] == blank %}

      <div class="sub-menu-list">
        <div class="menu-image-content">
          <img src="{{block.settings[image] | img_url:'master'}}" style="width:100%"  class="menu-image">
          <div class="menu-content">
            <h4>{{block.settings[heading]}}</h4>
            <a href="{{block.settings[newlink]}}" class="link">{{block.settings[button]}}</a>
          </div>
        </div>
      </div>
      {% endunless %}
      {% endfor %}

      {% endcase %}
      {% endif %}
      {% endfor %}

      {% endif %}