{%- comment -%}
Heading.
Leave blank if you don't need one.
{%- endcomment -%}

{%- assign heading = section.settings.related_title -%}

{%- comment -%}
Set either or both to true, if you want
to limit yourself to items with same vendor, and/or type.
{%- endcomment -%}

{%- assign same_vendor = false -%}
{%- assign same_type = false -%}

{%- comment -%}
Collections to ignore.
Never pick related items from those.
{%- endcomment -%}

{%- assign exclusions = 'frontpage,all' | split: ',' -%}

{%- comment -%}
Looking for a relevant collection.
{%- endcomment -%}

{%- if product.metafields.c_f['Related Products'] -%}
{%- assign collection = collections[product.metafields.c_f['Related Products']] -%}
{%- endif -%}

{%- assign found_a_collection = false -%}
{%- if collection and collection.all_products_count > 1 -%}
{%- unless exclusions contains collection.handle -%}
{%- assign found_a_collection = true -%}
{%- endunless -%}
{%- endif -%}
{%- unless found_a_collection -%}
{%- for c in product.collections -%}
{%- unless exclusions contains c.handle or c.all_products_count < 2 -%}
{%- assign found_a_collection = true -%}
{%- assign collection = c -%}
{%- break -%}
{%- endunless -%}
{%- endfor -%}
{%- endunless -%}

{%- comment -%}
If we have a relevant collection.
{%- endcomment -%}

{%- if found_a_collection -%}

{%- assign counter = 0 -%}
{%- assign current_product = product -%}

{%- capture related_items -%}

{%- for product in collection.products -%}
{%- unless product.handle == current_product.handle -%}
{%- unless same_vendor and current_product.vendor != product.vendor -%}
{%- unless same_type and current_product.type != product.type -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
<li class="product-base">
  <a href="{{product.url}}">
    <div class="product-imageSliderContainer">
      <div class="img-responsive">
        <img src="{{product.featured_image | img_url:'500x'}}" alt="{{product.title}}" title="{{product.title}}">
      </div>
    </div>
    <div class="product-productMetaInfo product-information__wrapper ">
      <div class="caption-with-letter-spacing light">{{product.title}}</div>
      <div class="product-price price__regular">
        <span class="price-item price-item--regular">
        {%- if current_variant.compare_at_price > current_variant.price -%}
          <span data-regular-price>{{current_variant.price | money}}</span>
          <span data-compare-price>{{current_variant.compare_at_price | money}}</span>

        {%- if settings.show_saved_amount -%}        
        {%- if settings.saved_amount_style == 'percentage' -%}
        <span class="percent-off">{{ current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | round: 2 | append: "% OFF"}}</span>
        {%- else -%}
        <span class="percent-off">{{ current_variant.compare_at_price | minus: current_variant.price | money | append: " OFF"}}</span>
        {%- endif -%}
        {%- endif -%}
        {%- else -%}
          <span data-regular-price>{{current_variant.price | money}}</span>
        {%- endif -%}
        </span>
        {%- if current_variant.unit_price_measurement -%}
        <small class="unit-price">
          {{ current_variant.unit_price | money }} /
          {%- if current_variant.unit_price_measurement.reference_value != 1 %}
              {{ current_variant.unit_price_measurement.reference_value }}
          {%- endif -%}
          {{ current_variant.unit_price_measurement.reference_unit }}
        </small>
        {%- endif -%}
      </div>
    </div>
  </a>
</li>

{%- assign counter = counter | plus:1 -%}

{%- endunless -%}
{%- endunless -%}
{%- endunless -%}
{%- if counter == 10 -%}{%- break -%}{%- endif -%}
{%- endfor -%}

{%- endcapture -%}
{%- assign related_items = related_items | trim -%} 
{%- endif -%}


<div id="similarItemContainer" style="display:none">
  {%- if related_items.size > 20 -%}
  <ul class="results-base results-similarGrid">
    {{ related_items }}
  </ul>
  {%- else- %}
  {% render 'not-found' similar:true %}
  {%- endif -%}
</div>