{% if block.settings.image_desktop != blank %}
{% assign banner_image = block.settings.image_desktop | img_url: "master" %} 
{% else %}
{% assign banner_image = 'banner.svg' | asset_url  %} 
{% endif %}   
<div class="container slide_container">
  <div class="row">
    <div class="col-md-6 banner-left">
      <div class="carousel-caption-title style_new">
        {% if block.settings.banner_tag_line != blank %}
        <h6>{{block.settings.banner_tag_line}}</h6>
        {% endif %}
        {% if block.settings.banner_title != blank %}
        <div class="clerafix"></div>
        <h1>{{block.settings.banner_title}}</h1>
        {% endif %}
        {% if block.settings.banner_desc != blank %}
        <p>{{block.settings.banner_desc}} </p>
        {% endif %}
        {% if block.settings.button_text != blank and block.settings.link != blank %}
        <div class="btn-box"> 
          <a href="{{block.settings.button_link}}" class="black-btn button" >{{block.settings.button_text}}</a>
        </div>
        {% endif %}
      </div>
    </div>
    <!--                 <div class="col-md-6 banner-right" >                 
<img src="{{banner_image}}" class="banner_image" loading="lazy" alt="">
</div> -->
  </div>
</div>
<style>   
  {% if block.settings.tag_line_color != blank %}
  #banner-{{block.id}}  h6 { color: {{ block.settings.tag_line_color }};}
  {% endif %}

  {% if block.settings.banner_left_bk != blank %}
  #banner-{{block.id}} {background: {{ block.settings.banner_left_bk }}!important;}
  {% endif %}

  {% if block.settings.tag_line_bk != blank %}
  #banner-{{block.id}}  h6 {background: {{ block.settings.tag_line_bk }};}
  {% endif %}

  {% if block.settings.banner_title_color != blank %}
  #banner-{{block.id}}  h1 {color: {{ block.settings.banner_title_color }};}
  {% endif %}

  {% if block.settings.banner_title_color != blank %}								
  #banner-{{block.id}}  p {color: {{ block.settings.banner_title_color }};}								 
  {% endif %}

  {% if block.settings.banner_desc_color != blank %}								
  #banner-{{block.id}}  p {color: {{ block.settings.banner_desc_color }};}								 
  {% endif %}

  



  #banner-{{block.id}}  .btn-box a {
    background-color:{{ block.settings.button_text_bk }};
    {% if block.settings.button_text_color != blank %}
    color: {{ block.settings.button_text_color }};
    {% endif %}
  }
  #banner-{{block.id}}  .banner-left .btn-box a:hover{
    color:  {{ block.settings.hvr_button_text_color }};
    background-color:{{ block.settings.hvr_button_text_bk }}
  }
  {% if block.settings.button_border_color != blank %}
  #banner-{{block.id}}  .banner-left .btn-box a{border: 1px solid {{block.settings.button_border_color}};}
  {% endif %}
  #banner-{{block.id}}.split-slider.slider-banner:after{
    background-image: url({{banner_image}})
  }
</style>