<div id="banner-{{section.id}}">
  <div class="item">
    {% if section.settings.image != blank %}
    <img src="{{section.settings.image | img_url:'master'}}" alt="">
    {%else%}
    <div class="{% if block.settings.image_mob != blank %}slide-image-desktop{% endif %}">{% render 'banner-placeholder'%}</div>
    {% endif %} 
{% if section.settings.image_mob != blank %}
<img class="slide-image-mobile" data-lazy="{{section.settings.image_mob | img_url:'master'}}" alt="">
{% endif %}
    <div class="banner-caption ">
      <div class="container">
        	<div class="banner-caption-outer">
          <div class="banner-caption-title banner-slide {{section.settings.info_position}} text__{{section.settings.info_alignment}}">
            {% if section.settings.tag_line != blank %}
            <span class="tag-line">{{section.settings.tag_line}}</span>
            {% endif %}
            {% if section.settings.heading != blank %}
            <h1>{{section.settings.heading}}</h1>
            {% endif %}

            {% if section.settings.subheading != blank %}
            <h2>{{section.settings.subheading}}</h2>
            {% endif %}

            {% if section.settings.content != blank %}        
            <p>{{blosectionck.settings.content}}</p>
            {% endif %}
            {% if section.settings.btn != blank and section.settings.link != blank %}
            <a href="{{section.settings.link}}" class="black-btn button">{{section.settings.btn}}<i class="fas fa-arrow-right"></i></a>
            {% endif %}
          </div>
        </div>
    </div>
    </div>
  </div>
</div>
<style>              
  #banner-{{section.id}} .banner-caption-title span.tag-line { 
    {% if section.settings.sh_bg != blank %}
    background: {{ section.settings.sh_bg }};
    {% endif %}
    {% if section.settings.sh_text != blank %}
    color: {{ section.settings.sh_text }};
    {% endif %}
  }  
                
  #banner-{{section.id}} .banner-caption-title h2 { 
    {% if section.settings.subh_text != blank %}
    color: {{ section.settings.subh_text }};
    {% endif %}
  }              
  #banner-{{section.id}} .banner-caption-title h1 { 
    {% if section.settings.h_text != blank %}
    color: {{ section.settings.h_text }};
    {% endif %}
  }          
  #banner-{{section.id}} .banner-caption-title p { 
    {% if section.settings.c_text != blank %}
    color: {{ section.settings.c_text }};
    {% endif %}
  }        
  #banner-{{section.id}} .banner-caption-title a.button { 
    {% if section.settings.btn_text != blank %}
    color: {{ section.settings.btn_text }};
    {% endif %}
    background-color:{{ section.settings.btn_bg }} ;
  }

  #banner-{{section.id}} .banner-caption-title a.button:hover { 
    {% if section.settings.btn_h_text != blank %}
    color: {{ section.settings.btn_h_text }};
    {% endif %}
     background-color:{{ section.settings.btn_h_bg }}
  }
</style>
{% schema %}
{
   "name":"t:sections.banner-section.name",
   "class":"banner-section single-banner-section",
   "tag":"section",
   "settings":[
      {
         "type":"image_picker",
         "id":"image",
         "label":"t:sections.banner-section.settings.image.label"
      },
      {
         "type":"image_picker",
         "id":"image_mob",
         "label":"t:sections.banner-section.settings.image_mob.label"
      },
      {
         "type":"text",
         "id":"tag_line",
         "default":"Tag Line",
         "label":"t:sections.banner-section.settings.tag_line.label"
      },
      {
         "type":"text",
         "id":"heading",
         "default":"Heading",
         "label":"t:sections.banner-section.settings.heading.label"
      },
      {
        "type": "text",
        "id": "subheading",
        "label": "t:sections.banner-section.settings.subheading.label"
      },
      {
         "type":"textarea",
         "id":"content",
         "default":"content",
         "label":"t:sections.banner-section.settings.content.label"
      },
      {
         "type":"text",
         "id":"btn",
         "default":"Explore Now",
         "label":"t:sections.banner-section.settings.btn.label"
      },
      {
         "type":"url",
         "id":"link",
         "label":"t:sections.banner-section.settings.link.label"
      },
      {
         "type":"color",
         "id":"sh_bg",
         "default":"#000000",
         "label":"t:sections.banner-section.settings.sh_bg.label"
      },
      {
         "type":"color",
         "id":"sh_text",
         "default":"#ffffff",
         "label":"t:sections.banner-section.settings.sh_text.label"
      },
      {
         "type":"color",
         "id":"h_text",
         "default":"#f17e35",
         "label":"t:sections.banner-section.settings.h_text.label"
      },
      {
        "type": "color",
        "id": "subh_text",
        "default":"#ffffff",
        "label": "t:sections.banner-section.settings.subh_text.label"
      },
      {
         "type":"color",
         "id":"c_text",
         "default":"#000000",
         "label":"t:sections.banner-section.settings.c_text.label"
      },
      {
         "type":"color",
         "id":"btn_bg",
         "default":"#f17e35",
         "label":"t:sections.banner-section.settings.btn_bg.label"
      },
      {
         "type":"color",
         "id":"btn_text",
         "default":"#ffffff",
         "label":"t:sections.banner-section.settings.btn_text.label"
      },
      {
         "type":"color",
         "id":"btn_h_bg",
         "default":"#000000",
         "label":"t:sections.banner-section.settings.btn_h_bg.label"
      },
      {
         "type":"color",
         "id":"btn_h_text",
         "default":"#ffffff",
         "label":"t:sections.banner-section.settings.btn_h_text.label"
      },
      {
         "type":"select",
         "id":"info_position",
         "label":"t:sections.banner-section.settings.info_position.label",
         "default":"center-left",
         "options":[
            {
               "label":"t:sections.banner-section.settings.info_position.center-left.label",
               "value":"center-left"
            },
            {
               "label":"t:sections.banner-section.settings.info_position.center.label",
               "value":"center"
            },
            {
               "label":"t:sections.banner-section.settings.info_position.center-right.label",
               "value":"center-right"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"t:sections.banner-section.presets.name"
      }
   ]
}
{% endschema %}
