<div class="section-spacer">
  <div class="container">
    <div class="collection page-width">
      <div class="collection-section-header section-heading-box">                  
        {% if section.settings.heading != blank %}
        <h2 class="title">{{section.settings.heading}}</h2>
        {% endif %}
        {% if section.settings.btntext != blank and section.settings.btnlink != blank %}
        <a class="view-all" href="{{section.settings.btnlink}}">{{section.settings.btntext}}</a>
        {% endif %}
      </div>
      <div class="collection-gutter">
        {% if section.settings.m_collection != blank or section.settings.m_collection != false %}
        <div class="grid--2-col-tablet grid--2-col-desktop grid--2-col" role="list">
          {% include 'featured-collection-grid'
                      	m_collection:section.settings.m_collection,
          custom:section.settings.custom,
          mc_image:section.settings.mc_image,
          mc_heading:section.settings.mc_heading,
          mc_desc:section.settings.mc_desc,
          mc_btntext:section.settings.mc_btntext,
          mc_btnlink:section.settings.mc_btnlink,
          button_icon:section.settings.button_icon
          %}
        </div>
        {% endif %}
        {% if section.blocks.size > 0 %}
        <div class="grid--2-col-tablet grid--2-col-desktop grid--2-col " role="list">
          {% if section.blocks.size > 1 %}
          <ul class="collection__right__list block-count{{section.blocks.size}}" role="list">
            {% for block in section.blocks %}
            {% assign collection = ''%}
            {% if block.settings.collection != blank %}
            {% assign collection = block.settings.collection %}
            {% endif %}
            {% capture image_content %}
            <div class="collection-image ">
              {% if block.settings.custom == false and collection.featured_image != blank %} 
              {% assign feature_image = collection.featured_image | img_url:'master' %}
              {% elsif block.settings.custom == true and block.settings.image == blank and collection.featured_image != blank %}
              {% assign feature_image = collection.featured_image | img_url:'master' %}
              {% elsif block.settings.image != blank  %}
              {% assign feature_image = block.settings.image | img_url:'master' %}
              {%else%}
              {% assign feature_image = 'collection2.svg' | asset_url %}
              {% endif %}
              <img src="{{feature_image}}" alt="">
            </div>
            {% endcapture %}
            <li class="grid__item__list">
              <div class="card-wrapper">
                <div class="card__warpper__detail right__sided block-{{forloop.index}}">                                        
                  {{image_content}}
                  <div class="collection-detail-right">
                    <h5>
                      {% if block.settings.custom == false %}
                      {{collection.title}}
                      {% elsif block.settings.custom and block.settings.heading != blank  %}
                      {{block.settings.heading}}
                      {% endif %}
                    </h5>
                    <small>
                      {% if block.settings.custom == false %}
                      {{collection.description | strip_html | truncatewords: 15, "" }}
                      {% elsif block.settings.custom and block.settings.desc != blank  %}
                      {{block.settings.desc}}
                      {% endif %}
                    </small> 
                    {% if block.settings.btntext != blank %}

                    {% if block.settings.custom and block.settings.btnlink != blank  %}
                    {% assign btnlink = block.settings.btnlink %}
                    {% else %}
                    {% assign btnlink = collection.url %}
                    {% endif%}               

                    <a href="{{btnlink}}" class="mainColbutton-{{section.id}} collection-list-btn link">    
                      <span>
                        {{block.settings.btntext }}
                      </span>
                    </a>
                    {% endif %}
                  </div>
                </div>
              </div>
            </li>
            {% endfor %}
          </ul>
          {% else %}
          {% for block in section.blocks %}
          {% include 'featured-collection-grid'
                      	m_collection:block.settings.collection,
          custom:block.settings.custom,
          mc_image:block.settings.image,
          mc_heading:block.settings.heading,
          mc_desc:block.settings.desc,
          mc_btntext:block.settings.btntext,
          mc_btnlink:block.settings.btnlink,
          button_icon:section.settings.button_icon
          %}
          {% endfor %}
          {% endif %}
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div>
<style>
  .mainColbutton-{{section.id}} {
    background:{{section.settings.btn_bg}} !important ;
    color:{{section.settings.btn_text}} !important ;
  }
  .mainColbutton-{{section.id}} svg {
    fill:{{section.settings.btn_text}} !important ;
  }
  #shopify-section-{{section.id}}.shopify-section {
    padding-top:{{section.settings.top_space_desktop}}px;
    padding-bottom:{{section.settings.bottom_space_desktop}}px;
  }
  @media only screen and (max-width:575px) {
    #shopify-section-{{section.id}}.shopify-section{
      padding-top:{{section.settings.top_space_mobile}}px;
      padding-bottom:{{section.settings.bottom_space_mobile}}px;
    }
  }
</style>
{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class":"collection-list-section",
	"max_blocks":3,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Collection list",
      "label": "t:sections.collection-list.settings.heading.label"
    },
    {
      "type": "text",
      "id": "btntext",
      "default": "View All",
      "label": "t:sections.collection-list.settings.btntext.label"
    },
    {
      "type": "url",
      "id": "btnlink",
      "label": "t:sections.collection-list.settings.btnlink.label"
    },
    {
      "type": "header",
      "content": "t:sections.collection-list.settings.main_collection_1.content"
    },
    {
      "type": "collection",
      "id": "m_collection",
      "label": "t:sections.collection-list.settings.m_collection.label"
    },
    {
      "type": "text",
      "id": "mc_btntext",
      "default": "Explore",
      "label": "t:sections.collection-list.settings.mc_btntext.label"
    },     
    {
      "type": "checkbox",
      "id": "custom",
      "default": true,
      "label": "t:sections.collection-list.settings.custom.label"
    },
    {
      "type": "text",
      "id": "mc_heading",
      "default":"Main Collection",
      "label": "t:sections.collection-list.settings.mc_heading.label"
    },
    {
      "type": "textarea",
      "id": "mc_desc",
      "default":"Contrary to popular belief, Lorem Ipsum is not simply random.",
      "label": "t:sections.collection-list.settings.mc_desc.label"
    },
    {
      "type": "url",
      "id": "mc_btnlink",
      "label": "t:sections.collection-list.settings.mc_btnlink.label"
    },
    {
      "type": "image_picker",
      "id": "mc_image",
      "label": "t:sections.collection-list.settings.mc_image.label"
    },
    {
      "type": "checkbox",
      "id": "button_icon",
      "label": "t:sections.collection-list.settings.button_icon.label",
      "default":true
    },
    {
      "type": "color",
      "id": "btn_text",
      "label": "t:sections.collection-list.settings.btn_text.label",
      "default":"#000000"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:sections.collection-list.settings.top_space_desktop.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:sections.collection-list.settings.bottom_space_desktop.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:sections.collection-list.settings.top_space_mobile.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:sections.collection-list.settings.bottom_space_mobile.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    }
  ],
  "blocks": [
	  {
      "type":"collection",
      "name":"t:sections.collection-list.blocks.collection.name",
      "settings": [        
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.collection.settings.collection.label"
        },
        {
          "type": "text",
          "id": "btntext",
          "default": "Explore",
          "label": "t:sections.collection-list.blocks.collection.settings.btntext.label"
        },    
        {
          "type": "checkbox",
          "id": "custom",
          "default": true,
          "label": "t:sections.collection-list.blocks.collection.settings.custom.label"
        },
        {
          "type": "text",
          "id": "heading",
          "default":"Collection",
          "label": "t:sections.collection-list.blocks.collection.settings.heading.label"
        },
        {
          "type": "textarea",
          "id": "desc",
          "default":"Contrary to popular belief, Lorem Ipsum is not simply random.",
          "label": "t:sections.collection-list.blocks.collection.settings.desc.label"
        },
        {
          "type": "url",
          "id": "btnlink",
          "label": "t:sections.collection-list.blocks.collection.settings.btnlink.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.collection-list.blocks.collection.settings.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}