<div class="container section-{{section.id}}">
            <div class="collection page-width">
                <div class="collection-section-header section-heading-box">                  
                  {% if section.settings.heading != blank %}
                  <h2 class="title">{{section.settings.heading}}</h2>
                  {% endif %}
                  {% if section.settings.btntext != blank %}
                  <a class="view-all" href="{{section.settings.btnlink}}">{{section.settings.btntext}}</a>
                  {% endif %}
                </div>
                <div class="collection-gutter">
                  {% if section.settings.m_collection != blank or section.settings.m_collection != false %}
                    <div class="grid--2-col-tablet grid--2-col-desktop grid--2-col" role="list">
                      {% assign collection = ''%}
                      {% if section.settings.m_collection != blank %}
                      {% assign collection = section.settings.m_collection %}
                      {% endif %}
                        <div class="card-wrapper left-sided">
                            <div class="card__warpper__detail left__sided">
                                <div class="collection-image">
                                  {% if section.settings.custom == false and collection.featured_image != blank %} 
                                  {% assign feature_image = collection.featured_image | img_url:'master' %}
                                  {% elsif section.settings.custom == true and section.settings.mc_image == blank and collection.featured_image != blank %}
                                  {% assign feature_image = collection.featured_image | img_url:'master' %}
                                    {% elsif section.settings.custom and section.settings.mc_image != blank  %}
                                    {% assign feature_image = section.settings.mc_image | img_url:'master' %}
                                    {%else%}
                                    {% assign feature_image = 'collection1.svg' | asset_url %}
                                  {% endif %}
                                  <img src="{{feature_image}}" alt="">
                                </div>
                                <div class="collection-detail {{section.settings.info_position}} text__{{section.settings.info_alignment}}">
                                  
                                       
                                    <h4>
                                      {% if section.settings.custom == false %}
                                        {{collection.title}}
                                        {% elsif section.settings.custom and section.settings.mc_heading != blank  %}
                                        {{section.settings.mc_heading}}
                                      {% endif %}
                                      </h4>
                                         <small>
                                      {% if section.settings.custom == false %}
                                        {{collection.description | strip_html | truncatewords: 15, "" }}
                                        {% elsif section.settings.custom and section.settings.mc_desc != blank  %}
                                        {{section.settings.mc_desc}}
                                      {% endif %}
                                    </small>
                                      {% if section.settings.mc_btntext != blank %}
                                        
                                        {% if section.settings.custom and section.settings.mc_btnlink != blank  %}
                                          {% assign btnlink = section.settings.mc_btnlink %}
                                    {% else %}
                                    {% assign btnlink = collection.url %}
                                      {% endif%}               
                                      
                                    <a href="{{btnlink}}" class="mainColbutton-{{section.id}}">                       
                                      <span>
                                      {% if section.settings.button_icon %}
                                    <svg height="14px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="14px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="448,224 288,224 288,64 224,64 224,224 64,224 64,288 224,288 224,448 288,448 288,288 448,288 "></polygon></svg> 
                                    {% endif %}
                                      {{section.settings.mc_btntext}}
                                    </span>
                                    </a>
                                  {% endif %}
                                </div>
                            </div>
                            
                        </div>
                    </div>
                  {% endif %}
                  {% if section.blocks.size > 0 %}
                    <div class="grid--2-col-tablet grid--2-col-desktop grid--2-col" role="list">
                        <ul class="collection__right__list" role="list">
                          {% for block in section.blocks %}
                            {% assign collection = ''%}
                            {% if block.settings.collection != blank %}
                            {% assign collection = block.settings.collection %}
                            {% endif %}
                            {% capture image_content %}
                            <div class="collection-image ">
                              {% if block.settings.custom == false and collection.featured_image != blank %} 
                              {% assign feature_image = collection.featured_image | img_url:'master' %}
                              {% elsif block.settings.custom == true and block.settings.image == blank and collection.featured_image != blank %}
                              {% assign feature_image = collection.featured_image | img_url:'master' %}
                                {% elsif block.settings.image != blank  %}
                                {% assign feature_image = block.settings.image | img_url:'master' %}
                                {%else%}
                                {% assign feature_image = 'collection2.svg' | asset_url %}
                              {% endif %}
                              <img src="{{feature_image}}" alt="">
                            </div>
                            {% endcapture %}
                            <li class="grid__item__list">
                                <div class="card-wrapper">
                                    <div class="card__warpper__detail right__sided block-{{forloop.index}}">                                      
                                    <div class="collection-detail-right">
                                      <h5>
                                          {% if block.settings.custom == false %}
                                            {{collection.title}}
                                            {% elsif block.settings.custom and block.settings.heading != blank  %}
                                            {{block.settings.heading}}
                                          {% endif %}
                                      </h5>
                                        <small>
                                          {% if block.settings.custom == false %}
                                            {{collection.description | strip_html | truncatewords: 15, "" }}
                                            {% elsif block.settings.custom and block.settings.desc != blank  %}
                                            {{block.settings.desc}}
                                          {% endif %}
                                        </small> 
                                        {% if block.settings.btntext != blank %}
                                        
                                          {% if block.settings.custom and block.settings.btnlink != blank  %}
                                            {% assign btnlink = block.settings.btnlink %}
                                      {% else %}
                                      {% assign btnlink = collection.url %}
                                        {% endif%}               
                                        
                                      <a href="{{btnlink}}" class="mainColbutton-{{section.id}}">    
                                          <span>
                                            {% if section.settings.button_icon %}
                                            <svg height="14px" id="Layer_1" style="enable-background:new 0 0 512 512;" version="1.1" viewBox="0 0 512 512" width="14px" xml:space="preserve" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink"><polygon points="448,224 288,224 288,64 224,64 224,224 64,224 64,288 224,288 224,448 288,448 288,288 448,288 "></polygon></svg> 
                                            {% endif %}
                                            {{block.settings.btntext }}
                                          </span>
                                        </a>
                                      {% endif %}
                                    </div>
                                      {{image_content}}
                                    </div>
                                </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                  {% endif %}
                </div>
            </div>
</div>
  <style>
.mainColbutton-{{section.id}} {
  background:{{section.settings.btn_bg}} !important ;
  color:{{section.settings.btn_text}} !important ;
}
.mainColbutton-{{section.id}} svg {
  fill:{{section.settings.btn_text}} !important ;
}
.mainColbutton-{{section.id}}:hover {
  background:{{section.settings.hvr_btn_bg}} !important ;
  color:{{section.settings.hvr_btn_text}} !important ;
}
.mainColbutton-{{section.id}}:hover svg {
  fill:{{section.settings.hvr_btn_text}} !important ;
}
  </style>
{% schema %}
{
  "name": "t:sections.collection-list.name",
  "tag": "section",
  "class":"spaced-section",
	"max_blocks":3,
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Collection list",
      "label": "t:sections.collection-list.settings.heading.label"
    },
    {
      "type": "text",
      "id": "btntext",
      "default": "View All",
      "label": "t:sections.collection-list.settings.btntext.label"
    },
    {
      "type": "url",
      "id": "btnlink",
      "label": "t:sections.collection-list.settings.btnlink.label"
    },
    {
      "type": "header",
      "content": "t:sections.collection-list.settings.main_collection_1.content"
    },
    {
      "type": "collection",
      "id": "m_collection",
      "label": "t:sections.collection-list.settings.m_collection.label"
    },
    {
      "type": "select",
      "id": "info_position",
      "label": "t:sections.collection-list.settings.info_position.label",
      "default": "top-center",
      "options": [
        {
          "label": "t:sections.collection-list.settings.info_position.top-left.label",
          "value": "top-left"
        },
        {
          "label": "t:sections.collection-list.settings.info_position.top-center.label",
          "value": "top-center"
        },
        {
          "label": "t:sections.collection-list.settings.info_position.top-right.label",
          "value": "top-right"
        },
        {
          "label": "t:sections.collection-list.settings.info_position.center-left.label",
          "value": "center-left"
        },
        {
          "label": "t:sections.collection-list.settings.info_position.center.label",
          "value": "center"
        },
        {
          "label": "t:sections.collection-list.settings.info_position.center-right.label",
          "value": "center-right"
        },
        {
          "label": "t:sections.collection-list.settings.info_position.bottom-left.label",
          "value": "bottom-left"
        },
        {
          "label": "t:sections.collection-list.settings.info_position.bottom-center.label",
          "value": "bottom-center"
        },
        {
          "label": "t:sections.collection-list.settings.info_position.bottom-right.label",
          "value": "bottom-right"
        }
      ]
    },
    {
      "type": "select",
      "id": "info_alignment",
      "label": "t:sections.collection-list.settings.info_alignment.label",
      "default": "center",
      "options": [
      {
        "label": "t:sections.collection-list.settings.info_alignment.left.label",
        "value": "left"
      },
      {
        "label": "t:sections.collection-list.settings.info_alignment.center.label",
        "value": "center"
      },
      {
        "label": "t:sections.collection-list.settings.info_alignment.right.label",
        "value": "right"
      }
      ]
    },
    {
      "type": "text",
      "id": "mc_btntext",
      "default": "Explore",
      "label": "t:sections.collection-list.settings.mc_btntext.label"
    },     
    {
      "type": "checkbox",
      "id": "custom",
      "default": true,
      "label": "t:sections.collection-list.settings.custom.label"
    },
    {
      "type": "text",
      "id": "mc_heading",
      "default":"Main Collection",
      "label": "t:sections.collection-list.settings.mc_heading.label"
    },
    {
      "type": "textarea",
      "id": "mc_desc",
      "default":"Contrary to popular belief, Lorem Ipsum is not simply random.",
      "label": "t:sections.collection-list.settings.mc_desc.label"
    },
    {
      "type": "url",
      "id": "mc_btnlink",
      "label": "t:sections.collection-list.settings.mc_btnlink.label"
    },
    {
      "type": "image_picker",
      "id": "mc_image",
      "label": "t:sections.collection-list.settings.mc_image.label"
    },
    {
      "type": "checkbox",
      "id": "button_icon",
      "label": "t:sections.collection-list.settings.button_icon.label",
      "default":true
    },
    {
      "type": "color",
      "id": "btn_bg",
      "label": "t:sections.collection-list.settings.btn_bg.label"
    },
    {
      "type": "color",
      "id": "btn_text",
      "label": "t:sections.collection-list.settings.btn_text.label",
      "default":"#000000"
    },
    {
      "type": "color",
      "id": "hvr_btn_bg",
      "label": "t:sections.collection-list.settings.hvr_btn_bg.label",
      "default":"#000000"
    },
    {
      "type": "color",
      "id": "hvr_btn_text",
      "label": "t:sections.collection-list.settings.hvr_btn_text.label",
      "default":"#ffffff"
    }
  ],
  "blocks": [
	  {
      "type":"collection",
      "name":"t:sections.collection-list.blocks.collection.name",
      "settings": [        
        {
          "type": "collection",
          "id": "collection",
          "label": "t:sections.collection-list.blocks.collection.settings.collection.label"
        },
        {
          "type": "text",
          "id": "btntext",
          "default": "Explore",
          "label": "t:sections.collection-list.blocks.collection.settings.btntext.label"
        },    
        {
          "type": "checkbox",
          "id": "custom",
          "default": true,
          "label": "t:sections.collection-list.blocks.collection.settings.custom.label"
        },
        {
          "type": "text",
          "id": "heading",
          "default":"Collection",
          "label": "t:sections.collection-list.blocks.collection.settings.heading.label"
        },
        {
          "type": "textarea",
          "id": "desc",
          "default":"Contrary to popular belief, Lorem Ipsum is not simply random.",
          "label": "t:sections.collection-list.blocks.collection.settings.desc.label"
        },
        {
          "type": "url",
          "id": "btnlink",
          "label": "t:sections.collection-list.blocks.collection.settings.btnlink.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.collection-list.blocks.collection.settings.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.collection-list.presets.name",
      "blocks": [
        {
          "type": "collection"
        },
        {
          "type": "collection"
        },
        {
          "type": "collection"
        }
      ]
    }
  ]
}
{% endschema %}