<div class="section-spacer">
  <div class="container">
    <div class="rich-text-description">
      {{ section.settings.custom_liquid }}
    </div>
  </div>
</div>

<style>
  #shopify-section-{{section.id}} {
    padding-top:{{section.settings.top_space_desktop}}px;
    padding-bottom:{{section.settings.bottom_space_desktop}}px;
  }
  @media only screen and (max-width:575px) {
    #shopify-section-{{section.id}}{
      padding-top:{{section.settings.top_space_mobile}}px;
      padding-bottom:{{section.settings.bottom_space_mobile}}px;
    }
  }
</style>
{% schema %}
{
  "name": "t:sections.custom-liquid.name",
  "tag": "section",
  "class": "custom-liquid-section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom-liquid.settings.custom_liquid.label",
      "info": "t:sections.custom-liquid.settings.custom_liquid.info"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:sections.offer-section.settings.top_space_desktop.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:sections.offer-section.settings.bottom_space_desktop.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:sections.offer-section.settings.top_space_mobile.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:sections.offer-section.settings.bottom_space_mobile.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-liquid.presets.name"
    }
  ]
}
{% endschema %}
