<div class="section-spacer">
  <div class="container">
    <div class="rich-text-description">
      {{ section.settings.custom_liquid }}
    </div>
  </div>
</div>

<style>
  .mainColbutton-{{section.id}} {
    background:{{section.settings.btn_bg}} !important ;
    color:{{section.settings.btn_text}} !important ;
  }
  .mainColbutton-{{section.id}} svg {
    fill:{{section.settings.btn_text}} !important ;
  }
  #shopify-section-{{section.id}} {
    padding-top:{{secton.settings.top_space}}px;
    padding-bottom:{{secton.settings.bottom_space}}px;
  }
</style>
{% schema %}
{
  "name": "t:sections.custom-liquid.name",
  "tag": "section",
  "class": "custom-liquid-section",
  "settings": [
    {
      "type": "liquid",
      "id": "custom_liquid",
      "label": "t:sections.custom-liquid.settings.custom_liquid.label",
      "info": "t:sections.custom-liquid.settings.custom_liquid.info"
    },
    {
      "type": "range",
      "id": "top_space",
      "label": "t:sections.custom-liquid.settings.top_space.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "bottom_space",
      "label": "t:sections.custom-liquid.settings.bottom_space.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    }
  ],
  "presets": [
    {
      "name": "t:sections.custom-liquid.presets.name"
    }
  ]
}
{% endschema %}
