<div class="section-spacer">
  <div class="container"> 
    <div class="shopify__top__section text__center">
      <div class="section-heading-box">
        <small>{{section.settings.heading}}</small>
        <h2>{{-section.settings.subheading}} 
          {%- if section.settings.button != blank and section.settings.link != blank -%}
          <a class="view-all corner-view desktop-only" href="{{section.settings.link}}">{{section.settings.button}}</a></h2>
        {%- endif -%}
      </div>
      </div>
      {%- if section.blocks.size > 0  -%}
      <div class="yv-blogs-wrapper desktop"> 
          <div id="featuredBlog-{{section.id}}" class="row">       
            {% assign first_grid_class = 'col-md-6 col-lg-6' %}
            {% assign second_grid_class = 'col-md-6 col-lg-6' %}
            
            {% if section.blocks.size > 2 %}
            {% assign second_grid_class = 'col-md-3 col-lg-3' %}
            {% endif %}
            {%- for block in section.blocks -%}
            {%- if block.settings.article != blank -%}  
            {%- assign article = block.settings.article -%}
            {%- include 'featured-article-grid' classes:class -%}
            {%- else -%}
            <div class="col-12 col-sm-12 col-md-6 col-lg-4">
              <div class="post-wrapper">               
                  <div class="post-information-image">
                    {% render 'placeholder' %}
                  </div>
                  <div class="post-information__wrapper text__left">
                    <div class="post-date">
                      <span class="custom-title">{{'sections.featured_article.onboarding_date' | t}}</span>
                    </div>
                    <div class="post-name">
                      <h6><a href="">{{'sections.featured_article.onboarding_title' | t}}</a></h6>
                      <p>{{'sections.featured_article.onboarding_content' | t}}</p>
                    </div>
                  </div>
              </div>
            </div>
            {%- endif -%}
            {%- endfor -%}
          </div>
      </div>
<!--       <div class="blog-multi-slide mobile">  
          <div id="featuredBlog-{{section.id}}-mobile" class="blog__post row">
            {%- for block in section.blocks limit:1 -%}  
            {%- if block.settings.article != blank -%}  
            {%- assign article = block.settings.article -%}
            {%- include 'featured-article-grid' desc_limit:20 -%}
            {%- else -%}
            <div class="item col-sm-12">
              <div class="post-wrapper">
                  
                  <div class="post-information-image">
                    {% render 'placeholder' %}
                  </div>
                  <div class="post-information__wrapper text__left">
                    <div class="post-date">
                      <span class="custom-title">{{'sections.featured_article.onboarding_date' | t}}</span>
                    </div>
                    <div class="post-name">
                      <h6><a href="">{{'sections.featured_article.onboarding_title' | t}}</a></h6>
                      <p>{{'sections.featured_article.onboarding_content' | t}}</p>
                    </div>
                  </div>
              </div>
            </div>
            {% endif %}
            {% endfor %}
          </div>
        
          {%- if section.settings.button != blank and section.settings.link != blank -%}
          <div class="text__center"><a class="button black-btn mobile-only view-all-blog " href="{{section.settings.link}}">{{section.settings.button}}</a></div>
        {%- endif -%}
      </div> -->
      {%- endif -%}
    </div>
  </div>
<style>
  #shopify-section-{{section.id}}.shopify-section{
    background-color:{{section.settings.color}};
/*     padding-top:{{section.settings.top_space_desktop}}px;
    padding-bottom:{{section.settings.bottom_space_desktop}}px; */
  }
/*   @media only screen and (max-width:575px) {
    #shopify-section-{{section.id}}.shopify-section{
      padding-top:{{section.settings.top_space_mobile}}px;
      padding-bottom:{{section.settings.bottom_space_mobile}}px;
    }
  } */
</style>
{% schema %}
{
    "name": "t:sections.featured-article.name",
    "tag": "section",
    "class":"blog-post featured-articles-section",
    "max_blocks":3,
    "settings": [
      {
        "type": "text",
        "id": "subheading",
        "default": "Add Blog posts here",
        "label": "t:sections.featured-article.settings.subheading.label"
      },
      {
        "type": "text",
        "id": "heading",
        "default": "Posts",
        "label": "t:sections.featured-article.settings.heading.label"
      },
      {
        "type": "text",
        "id": "button",
        "default": "View all",
        "label": "t:sections.featured-article.settings.button.label"
      },
      {
        "type": "url",
        "id": "link",
        "label": "t:sections.featured-article.settings.link.label"
      },
      {
        "type": "color",
        "id": "color",
        "label": "t:sections.featured-article.settings.color.label",
        "default":"#ffffff"
      },
      {
        "type": "range",
        "id": "top_space_desktop",
        "label": "t:sections.featured-article.settings.top_space_desktop.label",
        "default":40,
        "min":0,
        "max":60,
        "step":5
      },
      {
        "type": "range",
        "id": "bottom_space_desktop",
        "label": "t:sections.featured-article.settings.bottom_space_desktop.label",
        "default":0,
        "min":0,
        "max":60,
        "step":5
      },
      {
        "type": "range",
        "id": "top_space_mobile",
        "label": "t:sections.featured-article.settings.top_space_mobile.label",
        "default":30,
        "min":0,
        "max":60,
        "step":5
      },
      {
        "type": "range",
        "id": "bottom_space_mobile",
        "label": "t:sections.featured-article.settings.bottom_space_mobile.label",
        "default":30,
        "min":0,
        "max":60,
        "step":5
      }
    ],
    "blocks":[
      {
        "type":"article",
         "name":"t:sections.featured-article.blocks.article.name",
         "settings":[
          {
          "type":"article",
          "id":"article",
          "label": "t:sections.featured-article.blocks.article.settings.article.label"
          }
           ]
       }
         ],
    "presets": [
      {
        "name": "t:sections.featured-article.presets.name",
        "category": "Article",
        "blocks": [
          {
            "type": "article"
          },
          {
            "type": "article"
          },
          {
            "type": "article"
          }
        ]
      }
    ]
  }
  {% endschema %}