{%- assign product = section.settings.product -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

<div class="section-spacer">
  <div class="container ">
    <div class="feature-product product_content_section ">
      <div class="row">
        <div class="col-md-7">
          <div class="product-image-left">
            {% unless product == empty %}          
            <img src="{{product.featured_image.src | img_url:'master'}}" alt="">
            {%else%}
            {{ 'product-' | append: 1 | placeholder_svg_tag: 'placeholder-svg placeholder-svg--small' }}
            {%endunless%}
          </div>
        </div>
        <div class="col-md-5">
          {% unless section.settings.product == blank %}
          {% include 'product-form' %}
          {% endunless %}
        </div>
      </div>
    </div>
  </div>  
</div>
<style>
  #shopify-section-{{section.id}}.shopify-section {
    padding-top:{{section.settings.top_space_desktop}}px;
    padding-bottom:{{section.settings.bottom_space_desktop}}px;
  }
  @media only screen and (max-width:575px) {
    #shopify-section-{{section.id}}.shopify-section{
      padding-top:{{section.settings.top_space_mobile}}px;
      padding-bottom:{{section.settings.bottom_space_mobile}}px;
    }
  }
</style>
{% schema %}
{
   "name":"t:sections.contact-page-template.name",
   "templates":[
      "page"
   ],
   "tag":"section",
   "class":"contact-page-section",
   "settings":[
      {
         "type":"image_picker",
         "id":"banner",
         "label":"t:sections.contact-page-template.settings.banner.label"
      },
      {
         "type":"header",
         "content":"t:sections.contact-page-template.settings.header1.content"
      },
      {
         "type":"text",
         "id":"contact_heading",
         "default":"Customer Service",
         "label":"t:sections.contact-page-template.settings.contact_heading.label"
      },
      {
         "type":"text",
         "id":"phone_heading",
         "default":"PHONE US",
         "label":"t:sections.contact-page-template.settings.phone_heading.label"
      },
      {
         "type":"text",
         "id":"phone_number",
         "default":"+1234567890",
         "label":"t:sections.contact-page-template.settings.phone_number.label"
      },
      {
         "type":"text",
         "id":"email_heading",
         "default":"EMAIL",
         "label":"t:sections.contact-page-template.settings.email_heading.label"
      },
      {
         "type":"text",
         "id":"email",
         "default":"info@yuva.com",
         "label":"t:sections.contact-page-template.settings.email.label"
      },
      {
         "type":"text",
         "id":"address_heading",
         "default":"ADDRESS",
         "label":"t:sections.contact-page-template.settings.address_heading.label"
      },
      {
         "type":"text",
         "id":"address",
         "default":"#123 abc main city",
         "label":"t:sections.contact-page-template.settings.address.label"
      },
      {
         "type":"header",
         "content":"t:sections.contact-page-template.settings.header2.content"
      },
      {
         "type":"text",
         "id":"form_heading",
         "default":"Get In Touch",
         "label":"t:sections.contact-page-template.settings.form_heading.label"
      },
      {
         "type":"text",
         "id":"form_button",
         "default":"SEND MESSAGE",
         "label":"t:sections.contact-page-template.settings.form_button.label"
      },
      {
         "type":"richtext",
         "id":"form_info",
         "label":"t:sections.contact-page-template.settings.form_info.label"
      }
   ]
}
{% endschema %}