<div class="section-spacer">
  <div class="container">
    <div class="inner-container">
      <h2 class="content-heading text-center">{{section.settings.heading}}</h2>
      <div class="row">
        {% for block in section.blocks %}
        <div class="col-12 col-sm-6 col-md-4">
          <div class="about-feature-box">
            <div class="feature-icon">
              {% render 'icons' icon:block.settings.icon%}
            </div>
            <h5>{{block.settings.heading}}</h5>
            <p>{{block.settings.content}}</p>
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<style>
  #shopify-section-{{section.id}}.shopify-section{
    background-color:{{section.settings.bgcolor}};
    padding-top:{{section.settings.top_space_desktop}}px;
    padding-bottom:{{section.settings.bottom_space_desktop}}px;
  }
  @media only screen and (max-width:575px) {
    #shopify-section-{{section.id}}.shopify-section{
      padding-top:{{section.settings.top_space_mobile}}px;
      padding-bottom:{{section.settings.bottom_space_mobile}}px;
    }
  }
</style>
{% schema %}
  {
    "name": "t:sections.featured-content.name",
    "tag": "section",
    "class":"about-best-choice featured-content-section",
    "max_blocks":3,
    "settings": [
        {
            "type":"text",
            "id":"heading",
            "label":"t:sections.featured-content.settings.heading.label",
            "default":"Why We Are Your Best Choice"
        },
        {
          "type": "color",
          "id": "bgcolor",
          "label": "t:sections.featured-content.settings.bgcolor.label",
          "default":"#ffffff"
        },
        {
          "type": "range",
          "id": "top_space_desktop",
          "label": "t:sections.featured-content.settings.top_space_desktop.label",
          "default":30,
          "min":0,
          "max":60,
          "step":5
        },
        {
          "type": "range",
          "id": "bottom_space_desktop",
          "label": "t:sections.featured-content.settings.bottom_space_desktop.label",
          "default":30,
          "min":0,
          "max":60,
          "step":5
        },
        {
          "type": "range",
          "id": "top_space_mobile",
          "label": "t:sections.featured-content.settings.top_space_mobile.label",
          "default":30,
          "min":0,
          "max":60,
          "step":5
        },
        {
          "type": "range",
          "id": "bottom_space_mobile",
          "label": "t:sections.featured-content.settings.bottom_space_mobile.label",
          "default":30,
          "min":0,
          "max":60,
          "step":5
        }
  	],
	"blocks":[
		{
          "type": "featured-content",
          "name":"Feature",
          "settings": [
              {
                "type": "select",
                "id": "icon",
                "label": "t:sections.featured-content.blocks.featured-content.settings.icon.label",
                "default": "shipping",
                "options": [
                  {
                    "label": "t:sections.multicolumn.blocks.column.settings.icon.options.email.label",
                    "value": "email"
                  },
                  {
                    "label": "t:sections.multicolumn.blocks.column.settings.icon.options.file.label",
                    "value": "file"
                  },
                  {
                    "label": "t:sections.multicolumn.blocks.column.settings.icon.options.gift.label",
                    "value": "gift"
                  },
                  {
                    "label": "t:sections.multicolumn.blocks.column.settings.icon.options.location.label",
                    "value": "location"
                  },
                  {
                    "label": "t:sections.multicolumn.blocks.column.settings.icon.options.refund.label",
                    "value": "refund"
                  },
                  {
                    "label": "t:sections.multicolumn.blocks.column.settings.icon.options.secure.label",
                    "value": "secure"
                  },
                  {
                    "label": "t:sections.multicolumn.blocks.column.settings.icon.options.shipping.label",
                    "value": "shipping"
                  },
                  {
                    "label": "t:sections.multicolumn.blocks.column.settings.icon.options.smile.label",
                    "value": "smile"
                  },
                  {
                    "label": "t:sections.multicolumn.blocks.column.settings.icon.options.support.label",
                    "value": "support"
                  },
                  {
                    "label": "t:sections.multicolumn.blocks.column.settings.icon.options.tag.label",
                    "value": "tag"
                  }
                ]
              },
              {
                  "type":"text",
                  "id":"heading",
                  "label":"t:sections.featured-content.blocks.featured-content.settings.heading.label",
                  "default":"Feature Title"
              },
              {
                  "type":"textarea",
                  "id":"content",
                  "label":"t:sections.featured-content.blocks.featured-content.settings.content.label"
              }
          ]
		}
	],
    "presets": [
      {
        "name": "t:sections.featured-content.presets.name",
            "blocks": [
              {
                "type": "featured-content",
				"settings":{
                  "heading": "Shipping",
                  "content": "<p>I'm a paragraph. Click here to add your own text and edit me.<\/p>"
				}
              },
              {
                "type": "featured-content",
				"settings":{
                  "heading": "Delivery",
                  "content": "<p>I'm a paragraph. Click here to add your own text and edit me.<\/p>"
				}
              },
              {
                "type": "featured-content",
				"settings":{
                  "heading": "Returns Policy?",
                  "content": "<p>I'm a paragraph. Click here to add your own text and edit me.<\/p>"
				}
              }
            ]
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
