<div class="section-spacer">
  <div class="container">
    <div class="inner-container">
      <h2 class="content-heading text-center">{{section.settings.content}}</h2>
    </div>
  </div>
</div>
<style>
  #shopify-section-{{section.id}}{
    background-color:{{section.settings.bgcolor}};
    padding-top:{{section.settings.top_space}}px;
    padding-bottom:{{section.settings.bottom_space}}px;
  }
</style>
{% schema %}
  {
    "name": "t:sections.featured-text.name",
    "tag": "section",
    "class":"about-best-choice featured-text-section",
    "settings": [
        {
            "type":"textarea",
            "id":"content",
            "label":"t:sections.featured-text.settings.content.label",
			"default":"Why We Are Your Best Choice"
        },
        {
          "type": "color",
          "id": "bgcolor",
          "label": "t:sections.featured-text.settings.bgcolor.label",
          "default":"#ffffff"
        },
        {
          "type": "range",
          "id": "top_space",
          "label": "t:sections.featured-text.settings.top_space.label",
          "default":30,
          "min":0,
          "max":60,
          "step":5
        },
        {
          "type": "range",
          "id": "bottom_space",
          "label": "t:sections.featured-text.settings.bottom_space.label",
          "default":30,
          "min":0,
          "max":60,
          "step":5
        }
  	],
    "presets": [
      {
        "name": "t:sections.featured-text.presets.name"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
