{%- assign product = section.settings.product -%}
{%- assign current_variant = product.selected_or_first_available_variant -%}
{%- assign featured_image = current_variant.featured_image | default: product.featured_image -%}

<div class="section-spacer">
  <div class="container ">
      <div class="inner-container ">
    <div class="feature-product product_content_section ">
      <div class="row">
        <div class="col-md-7">
          <div class="product-image-left" {% unless product.images.size == 1%}data-slider{% endunless %}>
            {% unless product == empty %}   
            {%- for media in product.media -%}
            {%-if media.media_type == 'image'-%}
            <div id="media-{{media.id}}" class="item" >
              {% include 'lazy-image' image:media %}  
            </div>
            {%-endif-%}
            {% endfor %}
            {%else%}
            {% for i in (1..3) %}
            <div class="item" >
            {{ 'product-'| append: i | placeholder_svg_tag: 'placeholder-svg' }}
            </div>
            {% endfor %}
            {%endunless%}
          </div>
        </div>
        <div class="col-md-5">
          {% unless section.settings.product == blank %}
          {% include 'product-form' %}
            {%else%}
          <div class="product-add-to-cart-right placeholder-content">
            <div class="pdp-wrapper">
              <a class="product-detail-title" href="/products/copy-of-basic-fur-hood-grey-jacket">{{'onboarding.product_title' | t}}</a>
              <div class="prizebox" data-saved="true" data-saved-style="currency" data-price-wrapper="">
                <h3 id="get_price" class="price-list"><h3 id="get_price" class="price-list">
                  <span class="get-price">{{8800 | money}}</span>
                  <span class="main-price"> {{9900 | money}}</span>
                  {% if settings.show_saved_amount %}
                  {% if settings.saved_amount_style == 'percentage' %}
                  <span class="percent-off">{{ 9900 | minus: 8800  | times: 100.0 | divided_by: 9900 | round:2 | append: "% OFF"}}</span>
                  {% else %}
                  <span class="percent-off">{{ 9900| minus: 8800  | money | append: " OFF"}}</span>
                  {% endif %}
                  {% endif %}
                  </h3>
                  </h3>
              </div>
              <div class="select__quantity">
                <span class="variant_title">{{ 'products.product.quantity.label' | t }}</span>
                <div class="quantity">
                  <input type="number" name="quantity" min="1" max="50" step="1" value="1" aria-label="{{ 'products.product.quantity.label' | t }}">
                  <div class="quantity-nav">
                    <div class="quantity-button quantity-up"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 102 99" style="enable-background:new 0 0 102 99;" xml:space="preserve">
                      <polygon points="100.1,37.2 63.5,37.2 63.5,0.5 39.1,0.5 39.1,37.2 2.4,37.2 2.4,61.6 39.1,61.6 39.1,98.3 63.5,98.3 63.5,61.6 100.1,61.6 "></polygon>
                      </svg></div>
                    <div class="quantity-button quantity-down"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 102 99" style="enable-background:new 0 0 102 99;" xml:space="preserve">
                      <polyline points="63.3,61.6 102,61.6 102,37.2 63.3,37.2 "></polyline>
                      <polyline points="78.7,37.2 0.1,37.2 0.1,61.6 78.7,61.6 "></polyline>
                      </svg></div>
                  </div>
                </div>
              </div>
              <div class="product_button">
                  <div class="pdp-action-container " data-button-wrapper="">
                    <div class="pdp-add-to-bag">
                      <button class="Sd_addProduct add_to_cart black-btn button btn-block">
                        <span> {{ 'products.product.add_to_cart' | t }} </span>
                      </button>
                    </div>
                  </div>
              </div>
            </div>
          </div>
          {% endunless %}
        </div>
      </div>
    </div>
  </div>  
</div>
</div>
<style>
  #shopify-section-{{section.id}}.shopify-section {
    padding-top:{{section.settings.top_space_desktop}}px;
    padding-bottom:{{section.settings.bottom_space_desktop}}px;
  }
  @media only screen and (max-width:575px) {
    #shopify-section-{{section.id}}.shopify-section{
      padding-top:{{section.settings.top_space_mobile}}px;
      padding-bottom:{{section.settings.bottom_space_mobile}}px;
    }
  }
</style>

    <script type="application/json" name="slider-json">    
         {
          "slidesToShow":1,
          "slidesToScroll":1,
          "infinite":true,
          "draggable":true,
          "cssEase": "linear",
          "speed":400,
          "dots":true,
          "arrows":false,
          "prevArrow":"<button type=\"button\" class=\"slick-prev\">prev<span><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M15.526 18.966L8.559 12l6.967-6.967\"></path></svg></span></button>",
          "nextArrow":"<button type=\"button\" class=\"slick-next\">next<span><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M8.474 18.966L15.44 12 8.474 5.033\"></path></svg></span></button>"
        }
    </script>
{% schema %}
{
   "name":"t:sections.featured-product.name",
   "tag":"section",
   "class":"feature-section featured-product-section",
   "settings":[
      {
         "type":"product",
         "id":"product",
         "label":"t:sections.featured-product.settings.product.label"
      },
      {
         "type":"range",
         "id":"top_space_desktop",
         "label":"t:sections.featured-product.settings.top_space_desktop.label",
         "default":30,
         "min":0,
         "max":60,
         "step":5
      },
      {
         "type":"range",
         "id":"bottom_space_desktop",
         "label":"t:sections.featured-product.settings.bottom_space_desktop.label",
         "default":30,
         "min":0,
         "max":60,
         "step":5
      },
      {
         "type":"range",
         "id":"top_space_mobile",
         "label":"t:sections.featured-product.settings.top_space_mobile.label",
         "default":30,
         "min":0,
         "max":60,
         "step":5
      },
      {
         "type":"range",
         "id":"bottom_space_mobile",
         "label":"t:sections.featured-product.settings.bottom_space_mobile.label",
         "default":30,
         "min":0,
         "max":60,
         "step":5
      }
   ],
   "blocks":[
      {
         "type":"@app"
      },
      {
         "type":"title",
         "name":"t:sections.featured-product.blocks.title.name",
         "limit":1
      },
      {
         "type":"text",
         "name":"t:sections.featured-product.blocks.text.name",
         "settings":[
            {
               "type":"text",
               "id":"text",
               "label":"t:sections.featured-product.blocks.text.settings.text.label"
            }
         ]
      },
      {
         "type":"price",
         "name":"t:sections.featured-product.blocks.price.name",
         "limit":1
      },
      {
         "type":"review-star",
         "name":"t:sections.featured-product.blocks.review-star.name",
         "limit":1
      },
      {
         "type":"social-icons",
         "name":"t:sections.featured-product.blocks.social-icons.name",
         "limit":1
      },
      {
         "type":"variant",
         "name":"t:sections.product-template.blocks.variant.name",
         "limit":1
      },
      {
         "type":"quantity",
         "name":"t:sections.featured-product.blocks.quantity.name",
         "limit":1
      },
      {
         "type":"button",
         "name":"t:sections.featured-product.blocks.button.name",
         "limit":1,
         "settings":[
            {
               "type":"checkbox",
               "id":"dynamic_checkout_btn",
               "default":true,
               "label":"t:sections.featured-product.blocks.button.settings.dynamic_checkout_btn.label"
            },
            {
               "type":"checkbox",
               "id":"show_view_detail",
               "default":true,
               "label":"t:sections.featured-product.blocks.button.settings.show_view_detail.label"
            }
         ]
      }
   ],
   "presets":[
      {
         "name":"t:sections.featured-product.presets.name",
         "category":"Product",
         "blocks":[
            {
               "type":"title"
            },
            {
               "type":"text"
            },
            {
               "type":"review-star"
            },
            {
               "type":"price"
            },
            {
               "type":"variant"
            },
            {
               "type":"quantity"
            },
            {
               "type":"button"
            }
         ]
      }
   ]
}
{% endschema %}