<div class="section-spacer">
  <div class="container">
    <div class="best__for__you shopify__top__section text__center">
      <div class="section-heading-box">
        <small>{{section.settings.heading}}</small>
        <h2>{{section.settings.subheading}} 
          {% if section.settings.view_all_btn and section.settings.collection != blank and section.settings.view_all_btn_text != blank %}
          <a class="view-all corner-view" href="{{section.settings.collection.url}}">{{section.settings.view_all_btn_text}}</a>    
          {% endif %}
        </h2>
      </div>
      {% if section.settings.collection != blank %}
      {% assign collection = section.settings.collection %}
        <div class="products-grid ">
          <div class="row column-{{section.settings.col_size}} product_columns">
            {% assign limit = section.settings.col_size | times : section.settings.row_size%}
            {% for product in collection.products limit:limit%}
            {% include 'product-grid' %}
            {% endfor %}
          </div>
        </div>
      {% endif%}
    </div>
  </div>
</div>
<style>
  #shopify-section-{{section.id}} {
    padding-top:{{section.settings.top_space_desktop}}px;
    padding-bottom:{{section.settings.bottom_space_desktop}}px;
  }
  @media only screen and (max-width:575px) {
    #shopify-section-{{section.id}}{
      padding-top:{{section.settings.top_space_mobile}}px;
      padding-bottom:{{section.settings.bottom_space_mobile}}px;
    }
  }
</style>
{% schema %}
{
  "name": "t:sections.featured-collection.name",
  "tag": "section",
  "class":"latest__sale featured-collection-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "All Products",
      "label": "t:sections.featured-collection.settings.heading.label"
    },
    {
      "type": "textarea",
      "id": "subheading",
      "default": "See the latest!",
      "label": "t:sections.featured-collection.settings.subheading.label"
    },
    {
      "type": "collection",
      "id": "collection",
      "label": "t:sections.featured-collection.settings.collection.label"
    },
    {
        "type": "range",
        "id": "col_size",
        "min": 2,
        "max": 5,
        "step": 1,
        "label": "t:sections.featured-collection.settings.col_size.label",
        "default": 4
    },
    {
        "type": "range",
        "id": "row_size",
        "min": 1,
        "max": 5,
        "step": 1,
        "label": "t:sections.featured-collection.settings.row_size.label",
        "default": 2
    },
    {
      "type": "checkbox",
      "id": "show_second_image",
      "default": false,
      "label": "t:sections.featured-collection.settings.show_second_image.label"
    },
    {
      "type": "checkbox",
      "id": "view_all_btn",
      "default": true,
      "label": "t:sections.featured-collection.settings.view_all_btn.label"
    },
    {
      "type": "text",
      "id": "view_all_btn_text",
      "default": "View all",
      "label": "t:sections.featured-collection.settings.view_all_btn_text.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:sections.featured-collection.settings.top_space_desktop.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:sections.featured-collection.settings.bottom_space_desktop.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:sections.featured-collection.settings.top_space_mobile.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:sections.featured-collection.settings.bottom_space_mobile.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    }
  ],
  "presets": [
    {
      "name": "t:sections.featured-collection.presets.name"
    }
  ]
}
{% endschema %}