<div class="footer-top-box {% unless section.settings.image != blank %}no-footer-logo{% endunless %}">
  <div class="container">
    <div class="footer-logo-box">
      <div class="row">
        {% assign footlogo = false %}
        {% if section.settings.image != blank %}
        {% assign footlogo = true %}
        <div class="col-sm-12 col-md-3 col-lg-2">
          <div class="footer-logo">
            {% assign width = section.settings.image_width | append:'px' %}
              {% render 'lazy-image' image:section.settings.image,class:'Yuva-logo',max_width:width %}
          </div>
        </div>
        {% endif %}
        {% if section.settings.subtext != blank %}
        <div class="col-sm-12 {% if footlogo %}col-md-10{% else %}col-md-12{%endif%}">
          <div class="footer-content">
            {{ section.settings.subtext }}
          </div>
        </div>
        {% endif %}
      </div>
    </div>
  </div>
</div> 
<div class="footer-middle-box">
  <div class="container">
    <div class="footer-menu-list">
      <div class="row">
        {% for block in section.blocks %}
        {% case block.type %}
        {% when 'link_list'%}
        <div class="col-sm-12 col-md-3 col-lg-2" {{ block.shopify_attributes }}>
          <div class="footer-menu-accordion">
            {% if block.settings.heading != blank %}
            <h5 class="footer-menu-head footer-menu-accordion-head">{{block.settings.heading}}</h5>
            {% endif %}
            {% if block.settings.menu != blank %}
            <ul>
              {% for link in block.settings.menu.links %}
              <li><a href="{{link.url}}">{{link.title | split: '{'| first }}</a></li>
              {% endfor %}
            </ul>
            {% endif %}
          </div>
        </div>
        {% when 'newsletter'%}
        <div class="col-sm-12 col-md-12 col-lg-4" {{ block.shopify_attributes }}>
			<div class="newsletter-box">
          {% if block.settings.heading != blank %}
          <h5 class="footer-menu-head ">{{block.settings.heading}}</h5>
          {% endif %}

          {% if block.settings.subtext != blank %}
          {{block.settings.subtext}}
          {% endif %}

          {% if block.settings.show_newsletter %}
          {%- form 'customer', id: 'ContactFooter',class:'footer__newsletter newsletter-form' -%}
          <input type="hidden" name="contact[tags]" value="newsletter">

          {% if form.posted_successfully? %}
          <span class="success-text">{{ 'newsletter.success' | t }}</span>
          {% else %}
          <div class="newsletter-form__field-wrapper">
            <div class="field">
              <input id="NewsletterForm--footer" 
                     type="email" 
                     name="contact[email]" 
                     class="field__input" 
                     value="{{ form.email }}" 
                     aria-required="true"
                     autocorrect="off" 
                     autocapitalize="none"
                     autocomplete="email" 
                     {% if form.errors %}
                     autofocus
                     aria-invalid="true"
                     aria-describedby="Newsletter-error--{{ section.id }}"
                     {% elsif form.posted_successfully? %}
                     aria-describedby="Newsletter-success--{{ section.id }}"
                     {% endif %}
                     placeholder="{{block.settings.placeholder}}" 
                     required>
            </div>                  
            {%- if form.errors -%}
            <span class="newsletter-form__message form__message error-text" id="Newsletter-error--{{ section.id }}">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
            {%- endif -%}
          </div>
          <button type="submit" class="button button--secondary newsletter-form__button" name="commit">
  
            <img src="{{'arrow.svg' | asset_url}}" width="20" height="15" alt="{{'newsletter.button_label' | t}}"/>
          </button>
          {% endif %}
          {% endform %}
          {% endif %}


          {% if block.settings.show_social %}
          {% include 'social-media-icons' %}
          {% endif %}
        </div>
        </div>
        {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>
<div class="footer-bottom-box">
  <div class="container">
    <div class="footer-copyright-box">
      {%- if section.settings.copyright_content -%}
      <div class="footer-copyright">
        {% if section.settings.enable_language_selector %}
        {% include 'language' %}
        {% endif %}
        <p class="copyright-content">{{section.settings.copyright_content}}</p>
      </div>
      {%- endif -%}
      {%- if section.settings.payment_enable -%}
      <div class="footer-payment">
        <ul class="list list-payment" role="list">
          {%- for type in shop.enabled_payment_types -%}
          <li class="list-payment__item">
            {{ type | payment_type_svg_tag: class: 'icon' }}
          </li>
          {%- endfor -%}
        </ul>
      </div>
      {%- endif -%}
    </div>
  </div>
</div>
<style>
  #shopify-section-{{section.id}} .footer-top-box,
  #shopify-section-{{section.id}} .footer-middle-box{
    background-color:{{section.settings.footer_bg}};
  }
  #shopify-section-{{section.id}} .footer-bottom-box{
    background-color:{{section.settings.footer_bg | color_darken: 5 }};
  }
  
  #shopify-section-{{section.id}} a,
  #shopify-section-{{section.id}} small,
  #shopify-section-{{section.id}} label,
  #shopify-section-{{section.id}} span:not(.error-text):not(.success-text),
  #shopify-section-{{section.id}} h6,
  #shopify-section-{{section.id}} h5,
  #shopify-section-{{section.id}} h4,
  #shopify-section-{{section.id}} h3,
  #shopify-section-{{section.id}} h2,
  #shopify-section-{{section.id}} h1,
  #shopify-section-{{section.id}} p{
    color:{{section.settings.footer_text}};
  }
  #shopify-section-{{section.id}} a:hover{
    color:{{section.settings.footer_text_hover}};
  }
  #shopify-section-{{section.id}} ul li a:before {
    background-color:{{section.settings.footer_text_hover}};
}
</style>
{% schema %}
{
   "name":"t:sections.footer.name",
	"tag":"footer",
   "max_blocks":5,
   "blocks":[
      {
         "type":"link_list",
         "name":"t:sections.footer.blocks.link_list.name",
         "settings":[
            {
               "type":"text",
               "id":"heading",
               "default":"Quick links",
               "label":"t:sections.footer.blocks.link_list.settings.heading.label",
               "info":"t:sections.footer.blocks.link_list.settings.heading.info"
            },
            {
               "type":"link_list",
               "id":"menu",
               "default":"footer",
               "label":"t:sections.footer.blocks.link_list.settings.menu.label",
               "info":"t:sections.footer.blocks.link_list.settings.menu.info"
            }
         ]
      },
      {
         "type":"newsletter",
         "name":"t:sections.footer.blocks.newsletter.name",
         "limit":1,
         "settings":[
            {
               "type":"checkbox",
               "id":"show_newsletter",
               "default":true,
               "label":"t:sections.footer.blocks.newsletter.settings.show_newsletter.label"
            },
            {
               "type":"text",
               "id":"heading",
               "default":"Newsletter",
               "label":"t:sections.footer.blocks.newsletter.settings.heading.label"
            },
            {
               "type":"richtext",
               "id":"subtext",
               "default":"<p>Receive our weekly newsletter.</p><p>For dietary content, fashion insider and the best offers.</p>",
               "label":"t:sections.footer.blocks.newsletter.settings.subtext.label"
            },
            {
               "type":"text",
               "id":"placeholder",
               "default":"Email address",
               "label":"t:sections.footer.blocks.newsletter.settings.placeholder.label"
            },
            {
               "type":"header",
               "content":"t:sections.footer.blocks.newsletter.settings.header__2.content",
               "info":"t:sections.footer.blocks.newsletter.settings.header__2.info"
            },
            {
               "type":"checkbox",
               "id":"show_social",
               "default":false,
               "label":"t:sections.footer.blocks.newsletter.settings.show_social.label"
            }
         ]
      }
   ],
   "settings":[
      {
         "type":"image_picker",
         "id":"image",
         "label":"t:sections.footer.settings.image.label"
      },
      {
         "type":"range",
         "id":"image_width",
         "min":50,
         "max":250,
         "step":5,
         "unit":"px",
         "label":"t:sections.footer.settings.image_width.label",
         "default":100
      },
      {
         "type":"richtext",
         "id":"subtext",
         "label":"t:sections.footer.settings.subtext.label"
      },
      {
         "type":"checkbox",
         "id":"enable_language_selector",
         "default":true,
         "label":"t:sections.footer.settings.enable_language_selector.label"
      },
      {
         "type":"checkbox",
         "id":"payment_enable",
         "default":true,
         "label":"t:sections.footer.settings.payment_enable.label"
      },
      {
         "type":"textarea",
         "id":"copyright_content",
         "default":"© 2019. All Rights Reserved",
         "label":"t:sections.footer.settings.copyright_content.label"
      },
      {
         "type":"color",
         "id":"footer_bg",
         "default":"#dddddd",
         "label":"t:sections.footer.settings.footer_bg.label"
      },
      {
         "type":"color",
         "id":"footer_text",
         "default":"#000000",
         "label":"t:sections.footer.settings.footer_text.label"
      },
      {
         "type":"color",
         "id":"footer_text_hover",
         "default":"#ffffff",
         "label":"t:sections.footer.settings.footer_text_hover.label"
      }
   ],
   "default":{
      "blocks":[
         {
            "type":"link_list"
         }
      ]
   }
}
{% endschema %}
