<div class="section-spacer">
  {%- capture image_content -%}
  {%- if section.settings.image != blank -%}
  <div class="col-12 col-sm-12 col-md-6">
    <div class="left-img-content">
      <img src="{{section.settings.image | img_url:'master'}}" alt="{{section.settings.image.alt | default:shop.name}}" />
    </div>
  </div>
  {%- endif -%}
  {%- endcapture -%}
  <div class="container">
    <div class="inner-container">
      <div class="row align-items-center image-position-{{section.settings.image_alignment}}">
        {% if section.settings.image_alignment == 'left' %}
        {{- image_content -}}
        {% endif %}
        <div class="col-12 col-sm-12 col-md-6">
          <div class="right-text-content">
            <h2 class="content-heading">{{section.settings.heading}}</h2>
            {{section.settings.content}}
          </div>
        </div>

        {% if section.settings.image_alignment == 'right' %}
        {{- image_content -}}
        {% endif %}
      </div>
    </div>
  </div>
</div>
<style>
  #shopify-section-{{section.id}} {
    padding-top:{{section.settings.top_space}}px;
    padding-bottom:{{section.settings.bottom_space}}px;
  }
</style>
{% schema %}
  {
    "name": "Image With Text",
    "tag": "section",
    "class":"image-with-text-section",
    "settings": [
        {
            "type":"image_picker",
            "id":"image",
            "label":"image"
        },
        {
          "type": "select",
          "id": "image_alignment",
          "label": "Image Alignment",
          "default": "left",
          "options": [
            {
            "label": "Left",
            "value": "left"
            },
            {
            "label": "Right",
            "value": "right"
            }
          ]
        },
        {
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default":"Yuva Our Story"
        },
        {
            "type":"richtext",
            "id":"content",
            "label":"Content"
        },
        {
          "type": "range",
          "id": "top_space",
          "label": "t:sections.image-with-text.settings.top_space.label",
          "default":30,
          "min":0,
          "max":60,
          "step":5
        },
        {
          "type": "range",
          "id": "bottom_space",
          "label": "t:sections.image-with-text.settings.bottom_space.label",
          "default":30,
          "min":0,
          "max":60,
          "step":5
        }
  	],
    "presets": [
      {
        "name": "Image With Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
