<div class="section-spacer">
<div class="container">
  <div class="shopify__top__section section-heading-box text__center">
    <h2>{{section.settings.heading}}</h2>
    <p class="instagramUserName">{{section.settings.subheading}}</p>
  </div>
  {% if section.settings.insta_user_id != blank and section.settings.insta_access_Token != blank %}
  <div class="instagram-post-list"><div id="instafeed"></div></div>
  {% endif %}
</div>
</div>
{% if section.settings.insta_user_id != blank and section.settings.insta_access_Token != blank %}
<script type="application/json" name="slider-json">    
         {
          "slidesToShow":6,
          "slidesToScroll":3,
          "infinite":true,
          "draggable":false,
          "cssEase": "linear",
         "dots":false,
          "arrows":true,
          "prevArrow":"<button type=\"button\" class=\"slick-prev\"><span><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M15.526 18.966L8.559 12l6.967-6.967\"></path></svg></span></button>",
          "nextArrow":"<button type=\"button\" class=\"slick-next\"><span><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M8.474 18.966L15.44 12 8.474 5.033\"></path></svg></span></button>",
          "responsive":[
          	{
            "breakpoint": 768,
              "settings": {
              	"slidesToShow": 3,
                "slidesToScroll":2
              }
            },
          	{
            "breakpoint": 576,
                "settings": {
                    "slidesToShow": 2,
                    "dots":true,
                    "arrows":false,
                    "slidesToScroll":1,
                    "draggable":true
                  }
            }
          ]
        }
</script>
<script>
  function instagramFeed(){
    var userFeed = new Instafeed({
      get: 'user',
      userId: '{{ section.settings.insta_user_id}}',
      accessToken: '{{ section.settings.insta_access_Token}}',
      limit: {{section.settings.post_count}},
      resolution : 'standard_resolution',
      template:'<div><a href="{% raw %}{{link}}{% endraw %}"><div class="instagram-post-detail"><img src="{% raw %}{{image}}{% endraw %}" alt=""><div class="insta-icon"><i class="fab fa-instagram"></i></div></div></a></div>'
    });
    userFeed.run();
    setTimeout(function(){ 
      $('#instafeed a').attr('target','_blank');
      slickSlider($('#instafeed'));                   
                         }, 1000);
  }
  instagramFeed();
</script>
{% endif %}
<style>
  #shopify-section-{{section.id}}.shopify-section{
    background-color:{{section.settings.bgcolor}};
    padding-top:{{section.settings.top_space_desktop}}px;
    padding-bottom:{{section.settings.bottom_space_desktop}}px;
  }
  .instagram-post-list {
    display: flex;
    width: 100%;
    align-content: center;
    justify-content: center;
    margin-top: 20px;
  }
  .instagram-post-list > a {
    flex: 0 0 20%;
  }
  .instagram-post-list > a:not(:last-child) {
    margin-right: 10px;
  }
  .instagram-post-list > a > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  @media only screen and (max-width:575px) {
    #shopify-section-{{section.id}}.shopify-section{
      padding-top:{{section.settings.top_space_mobile}}px;
      padding-bottom:{{section.settings.bottom_space_mobile}}px;
    }
  }
</style>
{% schema %} 
  {
    "name": "t:sections.instagram.name",
    "tag": "section",
    "class":"instagram-post instagram-section",
    "settings": [
      {
        "type": "text",
        "id": "heading",
        "label": "t:sections.instagram.settings.heading.label",
        "default": "Follow Us On Instagram"
      },
      {
        "type": "textarea",
        "id": "subheading",
        "label": "t:sections.instagram.settings.subheading.label"
      },
       {
        "type": "text",
        "id": "insta_user_id",
        "label": "t:sections.instagram.settings.insta_user_id.label"
      },
      {
        "type": "text",
        "id": "insta_access_Token",
        "label": "t:sections.instagram.settings.insta_access_Token.label"
      },
      {
        "type": "range",
        "id": "post_count",
        "label": "t:sections.instagram.settings.post_count.label",
        "default":6,
        "min":6,
        "max":18,
        "step":1
      },
      {
        "type": "color",
        "id": "bgcolor",
        "label": "t:sections.instagram.settings.bgcolor.label",
        "default":"#ffffff"
      },
      {
        "type": "range",
        "id": "top_space_desktop",
        "label": "t:sections.instagram.settings.top_space_desktop.label",
        "default":30,
        "min":0,
        "max":60,
        "step":5
      },
      {
        "type": "range",
        "id": "bottom_space_desktop",
        "label": "t:sections.instagram.settings.bottom_space_desktop.label",
        "default":30,
        "min":0,
        "max":60,
        "step":5
      },
      {
        "type": "range",
        "id": "top_space_mobile",
        "label": "t:sections.instagram.settings.top_space_mobile.label",
        "default":30,
        "min":0,
        "max":60,
        "step":5
      },
      {
        "type": "range",
        "id": "bottom_space_mobile",
        "label": "t:sections.instagram.settings.bottom_space_mobile.label",
        "default":30,
        "min":0,
        "max":60,
        "step":5
      }
    
    ],
    "presets": [
    	{
          "name": "t:sections.instagram.presets.name",
          "category": "Promotional"
        }
    ]
  }
{% endschema %}