
{%- paginate blog.articles by 6 -%}
<div class="top_page_title" {% if section.settings.show_image and section.settings.banner_image != blank %} style="background:url({{section.settings.banner_image | img_url :'master'}}) no-repeat center"{% endif %}>
  <div class="container">
    <div class="contact-banner-text">
      <div class="banner_title">
        <h1>{{ blog.title | escape }}</h1>
      </div>
    </div>
  </div>
</div>
<section class="blog-listing">
  	<div class="container">
      	<div class="blog-outer-box">  
        	<div class="row">
              {%- for article in blog.articles -%}
                <div class="col-12 col-sm-12 col-md-6"> 
                  <div class="blog-card">
                    <div class="blog-img">
                        <img src="{{article.image |img_url :'master'}}" alt="blog image"/>
                    </div>
                    <div class="blog-content">
                      <h3 class="blog-title">{{article.title}}</h3> 
                      <p class="blog-desc">{{article.content | strip_html | truncatewords:25}}</p>
                      <a href="{{article.url}}" class="read-more">Read More</a>
                  	</div>
                  </div>
                </div>
              {%- endfor -%}
        </div>
  		</div>
  	</div>
</section>


    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "spaced-section shopify-blog-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label",
      "info": "t:sections.main-blog.settings.show_image.info"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "t:sections.main-blog.settings.banner_image.label"
    }
  ]
}
{% endschema %}
