{{ 'cart.css' | asset_url | stylesheet_tag }}
<div class="container">
  {% if cart.item_count == 0 %}
  <div class="continue-shopping">
     <h2>Your Cart is Empty</h2>
     <a href="/collections/all" class="button">continue shopping</a>
  </div>
  {% else %}
  <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart">
  <div class="row">    
     <div class="col-md-8">
        <h3>Shopping Cart <span>In your bag {{cart.item_count}} items</span></h3>
        <div class="inner-box">
           <table>
              <tbody>
                {% for item in cart.items %}
                 <tr>
                    <td class="cart-img">
                      <a href="{{item.url}}">
                          <img src="{{item.image | img_url:'100x'}}" alt="">
                      </a>
                    </td>
                    <td class="cart-prd-details">
                       <h5>{{item.product.title}}</h5>
                       {% if item.sku != blank %}
                       <span>SKU: {{item.sku}}</span>
                       {% endif %}
                       {% unless item.variant.title == null %}
                       {% for option in item.options_with_values %}
                       <span>{{option.name}}: {{option.value}}</span>
                       {% endfor %}
                       {% endunless %}
                    </td>
                    <td class="cart-qty">
                       <div class="qty">
                          <button class="minus">-</button>
                          <input type="number" value="{{item.quantity}}">
                          <button class="plus">+</button>
                       </div>
                    </td>
                    <td class="cart-price">
                       <div class="price">
                          Rs. 447.00
                       </div>
                    </td>
                    <td class="cart-remove">
                       <div class="remove">
                          <img src="assets/images/cart-cross.png" alt="">
                       </div>
                    </td>
                 </tr>
                 {% endfor %}
              </tbody>
           </table>
        </div>
        <div class="go-to-back">
           <script>
            document.write('<a href="' + document.referrer + '">Go to Product</a>');
          </script>
        </div>
     </div>
     <div class="col-md-4">
        <h3>Price Details</h3>
        <div class="inner-box price-details">
           <div class="seller-box">
              <span>Special instructions for seller</span>
           </div>
           <ul>
              <li>Total <strong>{{cart.original_total_price | money}}</strong></li>
              {%- if cart.cart_level_discount_applications.size > 0 -%}
              {%- for discount in cart.cart_level_discount_applications -%}
              <li>Discount['{{ discount.title }}'] <strong>-{{discount.total_allocated_amount | money}}</strong></li>
              {%- endfor -%}
              {% endif %}
              <!-- <li>Convenience Fee Know More<strong>49FREE</strong></li> -->
              <li class="total">
                 <p>Total Amount</p>
                 <strong>{{cart.total_price | money}}</strong>
              </li>
           </ul>
           <div class="cart-btn">
              <button type="submit" form="cart">Add to cart</button>
              <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                {{ content_for_additional_checkout_buttons }}
              </div>
           </div>
           <p class="checkout-text">Shipping &amp; taxes calculated at checkout</p>
        </div>
     </div>
  </div>
</form>
  {% endif %}
</div>

{% schema %}
{
  "name": "t:sections.main-cart-footer.name",
  "class": "cart__footer-wrapper cstm-cart-sec",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "default": false,
      "label": "t:sections.main-cart-footer.settings.show_cart_note.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
