
{%- paginate blog.articles by 6 -%}
<div class="top_page_title"  style="background:url(https://cdn.shopify.com/s/files/1/0597/9668/5009/files/blog-banner.jpg?v=1635831132) no-repeat center">
  <div class="container">
    <div class="contact-banner-text">
      <div class="banner_title">
        <h1>{{ blog.title | escape }}</h1>
      </div>
    </div>
  </div>
</div>
<section class="blog-listing">
  	<div class="container">
      	<div class="blog-outer-box">  
        	<div class="row">
              {%- for article in blog.articles -%}
                <div class="col-12 col-sm-12 col-md-6"> 
                  <div class="blog-card">
                    <div class="blog-img">
                        <img src="{{article.image |img_url :'master'}}" alt="blog image"/>
                    </div>
                    <h3 class="blog-title">{{article.title}}</h3> 
                    <p class="blog-desc">{{article.content | truncatewords:25}}</p>
                    <a href="{{article.url}}" class="read-more">Read More</a>
                  </div>
                </div>
              {%- endfor -%}
        </div>
  		</div>
  	</div>
</section>


    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "spaced-section shopify-blog-section",
  "settings": [
    {
      "type": "header",
      "content": "t:sections.main-blog.settings.header.content"
    },
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label",
      "info": "t:sections.main-blog.settings.show_image.info"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": false,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "paragraph",
      "content": "t:sections.main-blog.settings.paragraph.content"
    }
  ]
}
{% endschema %}
