{% paginate collection.products by section.settings.products_per_page %}
{%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
<div class="CollectionProductGrid {{sort_by}} {{collection.default_sort_by}} 
              {% if collection.products_count == 0 %}no-results{% endif %}" id="CollectionProductsContainer" data-id="{{section.id}}" data-view="grid-layout-5">
  <div class="container">
    {% if collection.all_products_count > 0 and collection.filters.size > 0 %}
    <div class="product-toolbar-box">
      
      {% if section.settings.enable_filtering %}
      <div id="filterHeading" class="aside-title">
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" viewBox="0 0 16 16"><g id="Layer_2" data-name="Layer 2"><g id="Layer_1-2" data-name="Layer 1"><path d="M0,1H16V3H0ZM0,7H16V9H0Zm0,6H16v2H0ZM7,0H9V4H7Zm3,6h2v4H10ZM5,12H7v4H5Z"/></g></g></svg>
        <p>Filters</p>
        {% assign active = false %}
        {%- for filter in collection.filters -%}
        {%- for value in filter.active_values -%}
        {% assign active = true  %}
        {% break %}
        {% endfor %}
        {% endfor %}
        {% if active %}
        <a href="{{ collection.url }}?sort_by={{ sort_by }}" class="select-item filter-clean text-primary">Clear All</a>
        {% endif %}
      </div>
      {% endif %}
      <nav class="toolbox">
        <div class="toolbox-left">
          <div class="filter-total-result">

            <h6>{{collection.title}} - {{ collection.products_count}} {{ collection.products_count | pluralize: 'item', 'items' }}</h6>
          </div>
        </div>
        {% if section.settings.enable_sorting %}
        <div class="toolbox-right">
          <div class="toolbox-item toolbox-layout">
            <a data-layout="" data-value="grid-layout-4" class="btn-layout grid-layout-4">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.2" baseProfile="tiny-ps" viewBox="0 0 19 19" width="19" height="19">
                <title>Layer_1-2</title>
                <style>
                  .grid-layout-4 tspan { white-space:pre }
                  .grid-layout-4 .shp0 { fill: #000000 } 
                </style>
                <g id="Layer_1-2">
                  <path id="Shape 1" class="shp0" d="M0 0L4 0L4 4L0 4L0 0Z"/>
                  <path id="Shape 1 copy" class="shp0" d="M5 0L9 0L9 4L5 4L5 0Z"/>
                  <path id="Shape 1 copy 2" class="shp0" d="M10 0L14 0L14 4L10 4L10 0Z"/>
                  <path id="Shape 1 copy 3" class="shp0" d="M15 0L19 0L19 4L15 4L15 0Z"/>
                  <path id="Shape 1 copy 4" class="shp0" d="M0 5L4 5L4 9L0 9L0 5Z"/>
                  <path id="Shape 1 copy 5" class="shp0" d="M5 5L9 5L9 9L5 9L5 5Z"/>
                  <path id="Shape 1 copy 6" class="shp0" d="M10 5L14 5L14 9L10 9L10 5Z"/>
                  <path id="Shape 1 copy 7" class="shp0" d="M15 5L19 5L19 9L15 9L15 5Z"/>
                  <path id="Shape 1 copy 8" class="shp0" d="M0 10L4 10L4 14L0 14L0 10Z"/>
                  <path id="Shape 1 copy 9" class="shp0" d="M5 10L9 10L9 14L5 14L5 10Z"/>
                  <path id="Shape 1 copy 10" class="shp0" d="M10 10L14 10L14 14L10 14L10 10Z"/>
                  <path id="Shape 1 copy 11" class="shp0" d="M15 10L19 10L19 14L15 14L15 10Z"/>
                  <path id="Shape 1 copy 12" class="shp0" d="M0 15L4 15L4 19L0 19L0 15Z"/>
                  <path id="Shape 1 copy 13" class="shp0" d="M5 15L9 15L9 19L5 19L5 15Z"/>
                  <path id="Shape 1 copy 14" class="shp0" d="M10 15L14 15L14 19L10 19L10 15Z"/>
                  <path id="Shape 1 copy 15" class="shp0" d="M15 15L19 15L19 19L15 19L15 15Z"/>
                </g>
              </svg>
            </a>
            <a data-layout="" data-value="grid-layout-3" class="btn-layout grid-layout-3">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.2" baseProfile="tiny-ps" viewBox="0 0 19 19" width="19" height="19">
                <title>Layer_2</title>
                <style>
                  .grid-layout-3 tspan { white-space:pre }
                  .grid-layout-3 .shp0 { fill: #000000 } 
                </style>
                <g id="Layer_2">
                  <g id="Layer_1-2">
                    <path id="Layer" class="shp0" d="M0 0L4.99 0L4.99 4.99L0 4.99L0 0Z"/>
                    <path id="Layer" class="shp0" d="M7 0L11.99 0L11.99 4.99L7 4.99L7 0Z"/>
                    <path id="Layer" class="shp0" d="M0 7L4.99 7L4.99 11.99L0 11.99L0 7Z"/>
                    <path id="Layer" class="shp0" d="M7 7L11.99 7L11.99 11.99L7 11.99L7 7Z"/>
                    <path id="Layer" class="shp0" d="M0 14L4.99 14L4.99 18.99L0 18.99L0 14Z"/>
                    <path id="Layer" class="shp0" d="M7 14L11.99 14L11.99 18.99L7 18.99L7 14Z"/>
                    <path id="Layer copy" class="shp0" d="M14 0L18.99 0L18.99 4.99L14 4.99L14 0Z"/>
                    <path id="Layer copy 2" class="shp0" d="M14 7L18.99 7L18.99 11.99L14 11.99L14 7Z"/>
                    <path id="Layer copy 3" class="shp0" d="M14 14L18.99 14L18.99 18.99L14 18.99L14 14Z"/>
                  </g>
                </g>
              </svg>
            </a>
            <a data-layout="" data-value="grid-layout-2" class="btn-layout grid-layout-2">
              <svg xmlns="http://www.w3.org/2000/svg" version="1.2" baseProfile="tiny-ps" viewBox="0 0 19 19" width="19" height="19">
                <title>Layer_2</title>
                <style>
                  .grid-layout-2 tspan { white-space:pre }
                  .grid-layout-2 .shp0 { fill: #000000 } 
                </style>
                <g id="Layer_2">
                  <g id="Layer_1-2">
                    <path id="Shape 1" class="shp0" d="M0 0L9 0L9 9L0 9L0 0Z"/>
                    <path id="Shape 1 copy" class="shp0" d="M10 0L19 0L19 9L10 9L10 0Z"/>
                    <path id="Shape 1 copy 2" class="shp0" d="M0 10L9 10L9 19L0 19L0 10Z"/>
                    <path id="Shape 1 copy 3" class="shp0" d="M10 10L19 10L19 19L10 19L10 10Z"/>
                  </g>
                </g>
              </svg>
            </a>
          </div>
          <div class="toolbox-item toolbox-sort select-box">
            <ul class="" id="sort__list">
              {%- for option in collection.sort_options -%}
              <li class="{% if option.value == sort_by %}selected{%- assign sort_name = option.name | escape  -%}{% endif %}" value="{{ option.name | escape }}">
                <input type="radio" name="sort_by" value="{{ option.value | escape }}" data-name="{{ option.name | escape }}" form="CollectionFiltersForm"{% if option.value == sort_by %}checked{% endif %} hidden/>
                {{ option.name | escape }}
              </li>
              {%- endfor -%}
            </ul>
            <span>Sort by:</span>
            <label for="SortBy">{{sort_name}}</label>
          </div>
        </div>
        {% endif %}
      </nav>
    </div>
    <div class="product-listing-box filters-{{section.settings.enable_filtering}}">
      {% if section.settings.enable_filtering and collection.filters.size > 0 %}
      <aside id="filterSideBar" class="sidebar sidebar-fixed shop-sidebar sticky-sidebar-wrapper">
        {% include 'collection-sidebar' %}
      </aside>
      {% else %}
      <form id="CollectionFiltersForm" class="collectionFilters__form" >
      </form>
      {% endif %}
      <div class="product-content main-content">

        {% if active %}
        <div class="toolbox-item toolbox-layout">
          <div class="filter-actions">
            <div class="select-items">
              {% assign active = 0 %}
              {%- for filter in collection.filters -%}
              {%- for value in filter.active_values -%}
              {% assign active = active | plus:1 %}
              <a class="select-item" href="{{ value.url_to_remove }}">
                {{ value.label | escape }}
                <span class="close">
                  {% render 'icon-cross' %}
                </span>
              </a>
              {%- endfor -%}

              {% if filter.type == "price_range" %}
              {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}                             
              {% assign active = active | plus:1 %}
              <a class="select-item" href="{{ filter.url_to_remove }}">
                {%- if filter.min_value.value -%}{{ filter.min_value.value | money }}{%- else -%}{{ 0 | money }}{%- endif -%}-{%- if filter.max_value.value -%}{{ filter.max_value.value | money }}{%- else -%}{{ filter.range_max | money }}{%- endif -%}
                <span class="close">
                  {% render 'icon-cross' %}
                </span>
              </a>
              {%- endif -%}
              {% endif %}
              {%- endfor -%}
            </div>
          </div>
        </div>
        {% endif %}
        <div class="product-collection grid-view">
          <div class="products-grid" style="display:block">
            <div class="row product_columns">
              {% if collection.products_count > 0 %}
              {% for product in collection.products %}
              {% render 'product-grid',product: product %}
              {% endfor %}
              {% else %}
              {% render 'not-found'  item:'Product'%}
              {% endif %}
            </div>
          </div>
        </div>
        {% if paginate.pages > 1 %}
        {% include 'pagination' %}
        {% endif %}
      </div>
    </div>
    {% else %}
    {% render 'not-found'  item:'Product'%}
    {% endif %}
  </div>
</div>

{% endpaginate %}
{% include 'similar-product-grid' %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/11.1.0/nouislider.min.js"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/noUiSlider/11.1.0/nouislider.min.css" />
<script src="{{'collection-filters.js' | asset_url}}" defer="defer" ></script> 
<script>
  (function() {

    
        
})();
</script>
{% schema %}
{
  "name": "t:sections.main-collection.name",
  "class": "collection-grid-section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 25,
      "step": 1,
      "default": 16,
      "label": "t:sections.main-collection.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection.settings.enable_filtering.label",
      "info": "t:sections.main-collection.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection.settings.enable_sorting.label"
    }
  ]
}
{% endschema %}
