
<article class="article-template article-image-{{section.settings.show_image}}" itemscope itemtype="http://schema.org/BlogPosting">
  {%- if article.image and section.settings.show_image -%}
  <div class="article-template__hero-container">
    <div class="article-template__hero-{{ block.settings.image_height }} media"
         itemprop="image">
      {% include 'lazy-image' image:article.image %}     
    </div>
  </div>
  {%- endif -%}
<div class="blog-detail-outer">
  <div class="container">
    <div class="blog-detail-box">
      <div class="row">
        <div class="{% if section.settings.show_related %}col-12 col-sm-12 col-md-7 col-lg-8{% else %}col-12 col-sm-12 col-md-12 col-lg-12{% endif %}">
          <div class="blog-detail-content">
            <h3 class="article-template__title" itemprop="headline">{{ article.title | escape }}</h3>
            <div class="blog-author">
              {%- if section.settings.show_author -%}
              <span class="" itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name">Posted By {{ article.author }}</span>
              </span>
              {%- endif -%}
              {%- if section.settings.show_date -%}
              <span class="circle-divider" itemprop="dateCreated pubdate datePublished">
                on {{ article.published_at | time_tag: format: 'month_year' }}
              </span>
              {%- endif -%}

            </div>
            <div class="article-template__content page-width page-width--narrow rte" itemprop="articleBody">
              {{ article.content }}
            </div>
              {%- if section.settings.show_tags -%}
            <ul class="article_tags">
            	{%- for tag in article.tags -%}
              <li><a href="{{blog.url}}/tagged/{{tag}}">{{tag}}</a></li>
              {%- endfor -%} 
            </ul>
            {%- endif -%}
            {%- if section.settings.show_social -%}
            <div class="article-template__social-sharing page-width page-width--narrow social-icons">
              {%- render 'social-sharing', share_title: article.title, share_permalink: article.url, share_image: article.image -%}
            </div>
            {%- endif -%}

            {%- if blog.comments_enabled? -%}
            <div class="article-template__comment-wrapper background-secondary shopify-blog-comments">
              <div id="comments" class="page-width page-width--narrow">
                {%- if article.comments_count > 0 -%}
                {%- assign anchorId = '#Comments-' | append: article.id -%}

                <h3 id="Comments-{{ article.id }}">{{ 'blogs.article.comments' | t: count: article.comments_count }}</h3>
                {%- paginate article.comments by 5 -%}
                <div class="article-template__comments">
                  {%- if comment.status == 'pending' and comment.content -%}
                  <article id="{{ comment.id }}" class="article-template__comments-comment">
                    {{ comment.content }}
                    <div class="right">
                      <span class="circle-divider caption-with-letter-spacing">{{ comment.author }}</span>
                    </div>
                  </article>
                  {%- endif -%}

                  {%- for comment in article.comments -%}
                  <article id="{{ comment.id }}" class="article-template__comments-comment">
                    {{ comment.content }}
                    <div class="commented-by">
                      <span class="">{{ comment.author }}</span>
                      <span class="">{{ comment.created_at | time_tag: format: 'month_year' }}</span>
                    </div>
                  </article>
                  {%- endfor -%}
                  {% render 'pagination', paginate: paginate, anchor: anchorId %}
                </div>
                {% endpaginate %}
                {%- endif -%}
                {% form 'new_comment', article %}
                {%- liquid
            assign post_message = 'blogs.article.success'
            if blog.moderated? and comment.status == 'unapproved'
              assign post_message = 'blogs.article.success_moderated'
            endif
          -%}
                <h3>{{ 'blogs.article.comment_form_title' | t }}</h3>
                
                {%- if form.posted_successfully? -%}
                <div class="form-status-list form__message" role="status">
                  <span class="form-status success-text" tabindex="-1" autofocus>{{ post_message | t }}</span>
                </div>
                {%- endif -%}

                <div class="article-template__comments-fields">
                  <div class="row">
                    <div class="col-12 col-sm-6 col-md-6">
                      <div class="field field--with-error form-group">
                                        <label class="field__label hidden" for="CommentForm-author">{{ 'blogs.article.name' | t }} <span aria-hidden="true">*</span></label>
                        <input
                               type="text"
                               name="comment[author]"
                               id="CommentForm-author"
                               class="form-control"
                               autocomplete="name"
                               value="{{ form.author }}"
                               aria-required="true"
                               {% if form.errors contains 'author' %}
                               aria-invalid="true"
                               aria-describedby="CommentForm-author-error"
                               {% endif %}
                               placeholder="{{ 'blogs.article.name' | t }}"
                               >

                        {%- if form.errors contains 'author' -%}
                        <small id="CommentForm-author-error">
                          <span class="form__message error-text">{{ 'blogs.article.name' | t }} {{ form.errors.messages['author'] }}.</span>
                        </small>
                        {%- endif -%}
                      </div>
                    </div>
                    <div class="col-12 col-sm-6 col-md-6">
                      <div class="field field--with-error form-group">
                        <label class="field__label hidden" for="CommentForm-email">{{ 'blogs.article.email' | t }} <span aria-hidden="true">*</span></label>
                        <input
                               type="email"
                               name="comment[email]"
                               id="CommentForm-email"
                               autocomplete="email"
                               class="form-control"
                               value="{{ form.email }}"
                               autocorrect="off"
                               autocapitalize="off"
                               aria-required="true"
                               {% if form.errors contains 'email' %}
                               aria-invalid="true"
                               aria-describedby="CommentForm-email-error"
                               {% endif %}
                               placeholder="{{ 'blogs.article.email' | t }}"
                               >

                        {%- if form.errors contains 'email' -%}
                        <small id="CommentForm-email-error">
                          <span class="form__message error-text">{{ 'blogs.article.email' | t }} {{ form.errors.messages['email'] }}.</span>
                        </small>
                        {%- endif -%}
                      </div>
                    </div>
                    <div class="col-12 col-sm-12 col-md-12">
                      <div class="field form-group field--with-error">
                        <label class="form__label field__label hidden" for="CommentForm-body">{{ 'blogs.article.message' | t }} <span aria-hidden="true">*</span></label>
                        <textarea
                                  rows="5"
                                  name="comment[body]"
                                  id="CommentForm-body"
                                  class="text-area form-control"
                                  aria-required="true"
                                  {% if form.errors contains 'body' %}
                                  aria-invalid="true"
                                  aria-describedby="CommentForm-body-error"
                                  {% endif %}
                                  placeholder="{{ 'blogs.article.message' | t }}"
                                  >{{ form.body }}</textarea>
                      {%- if form.errors contains 'body' -%}
                      <small id="CommentForm-body-error">
                        <span class="form__message error-text">{{ 'blogs.article.message' | t }} {{ form.errors.messages['body'] }}.</span>
                      </small>
                      {%- endif -%}

                      </div>
                    </div>
                  </div>
                </div>

                <div class="d-flex justify-content-between align-items-center">
                  {%- if blog.moderated? -%}
                  <p class="article-template__comment-warning caption">{{ 'blogs.article.moderated' | t }}</p>
                  {%- endif -%}
                  <button type="submit" class="button black-btn" >{{ 'blogs.article.post' | t }}</button>
                </div>
                {% endform %}
              </div>
            </div>
            {%- endif -%}
          </div>

        </div>

        {% if section.settings.show_related %}
        <div class="col-12 col-sm-12 col-md-5 col-lg-4">
          <div class="relatedBlogPosts">
            <h4>Related Posts</h4>
              {%- assign related_posts = "" -%}
              {%- assign count = 0 -%}
              {%- assign currentArticle = article.handle -%}
              {%- for newArticle in blog.articles -%}
              {%- unless newArticle.handle == currentArticle -%}
              {%- assign count = count | plus:1 -%}
              {%- capture post -%}
                {% include 'article-grid' article:newArticle %}
              {%- endcapture -%}
              {%- assign related_posts = related_posts | append:post -%}
              {%- endunless -%}
              {%- if count == 3 -%}
              {%- break -%}
              {%- endif -%}
              {%- endfor -%}
              {%- if related_posts.size > 0 -%}
                {{- related_posts -}}
              {%- else -%}
              No related posts!
              {%- endif -%}
          </div>
        </div>
        {%- endif -%}
      </div>
    </div>
  </div>
  </div>
</article>

<script type="application/ld+json">
  {
    "@context": "http://schema.org",
    "@type": "Article",
    "articleBody": {{ article.content | strip_html | json }},
    "mainEntityOfPage": {
      "@type": "WebPage",
      "@id": {{ shop.url | append: page.url | json }}
    },
    "headline": {{ article.title | json }},
    {% if article.excerpt != blank %}
      "description": {{ article.excerpt | strip_html | json }},
    {% endif %}
    {% if article.image %}
      {% assign image_size = article.image.width | append: 'x' %}
      "image": [
        {{ article | img_url: image_size | prepend: "https:" | json }}
      ],
    {% endif %}
    "datePublished": {{ article.published_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "dateCreated": {{ article.created_at | date: '%Y-%m-%dT%H:%M:%SZ' | json }},
    "author": {
      "@type": "Person",
      "name": {{ article.author | json }}
    },
    "publisher": {
      "@type": "Organization",
      {% if settings.share_image %}
        {% assign image_size = settings.share_image.width | append: 'x' %}
        "logo": {
          "@type": "ImageObject",
          "height": {{ settings.share_image.height | json }},
          "url": {{ settings.share_image | img_url: image_size | prepend: "https:" | json }},
          "width": {{ settings.share_image.width | json }}
        },
      {% endif %}
      "name": {{ shop.name | json }}
    }
  }
  </script>


{% schema %}
{
  "name": "t:sections.main-article.name",
  "tag": "section",
  "class":"shopify-article-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_image",
      "default": false,
      "label": "t:sections.main-article.settings.show_image.label"
    },
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-article.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "t:sections.main-article.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_social",
      "default": true,
      "label": "t:sections.main-article.settings.show_social.label"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": true,
      "label": "t:sections.main-article.settings.show_tags.label"
    },
    {
      "type": "checkbox",
      "id": "show_related",
      "default": true,
      "label": "t:sections.main-article.settings.show_related.label"
    }
  ]
}
{% endschema %}
