<div class="template-404">
  <div class="container">
    <img class="pencel mx-auto" src="{{'not_found.png' | asset_url }}" alt="not found">
    <h1>{{ 'templates.404.tag' | t }}</h1>
    <h6>{{ 'templates.404.title' | t }}</h6>
    <p>{{ 'templates.404.subtext_html' | t }}</p>
    <div class="back-to-home-box">
      <a href="{{ routes.root_url}}" class="button black-btn">{{ 'templates.404.button_txt' | t }}</a>
    </div>
  </div>
</div>
