
{%- paginate blog.articles by 6 -%}
<div class="top_page_title" {% if section.settings.show_image and section.settings.banner_image != blank %} style="background:url({{section.settings.banner_image | img_url :'master'}}) no-repeat center"{% endif %}>
  <div class="container">
    <div class="contact-banner-text">
      <div class="banner_title">
        <h1>{{ blog.title | escape }}</h1>
      </div>
    </div>
  </div>
</div>
<section class="blog-listing">
  	<div class="container">
      	<div class="blog-outer-box">  
        	<div class="row">
              {%- for article in blog.articles -%}
                <div class="col-12 col-sm-12 col-md-6"> 
                  <div class="style1">
                    <div class="post-wrapper">
                      <div class="post-information">
                        {% assign article_image = 'featured_image.png' | asset_url %}
                        {% if article.image %}
                        {% assign article_image = article.image | img_url:'master' %}
                        {% endif %}
                        <div class="post-information-image">
                          <a href="{{article.url}}" class="animate_hvrbr">
                            <img src="{{article_image}}" alt="">
                          </a>
                        </div>
                        <div class="post-information__wrapper text__left">
                          <div class="post-date">
                            <h4 class="custom-title">{{article.published_at | date: "%d" }} {{article.published_at | date: " %b %Y" }} </h4>
                          </div>
                          <div class="post-name">
                            <h6><a href="{{article.url}}">{{article.title| truncatewords: 6}}</a></h6>
                            <p>{{article.excerpt_or_content | strip_html | truncatewords: 6}}</p>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              {%- endfor -%}
        </div>
  		</div>
  	</div>
</section>


    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "spaced-section shopify-blog-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_image",
      "default": true,
      "label": "t:sections.main-blog.settings.show_image.label",
      "info": "t:sections.main-blog.settings.show_image.info"
    },
    {
      "type": "image_picker",
      "id": "banner_image",
      "label": "t:sections.main-blog.settings.banner_image.label"
    }
  ]
}
{% endschema %}
