<!-- {{ 'component-card.css' | asset_url | stylesheet_tag }}
{{ 'section-collection-list.css' | asset_url | stylesheet_tag }} -->
{% paginate collections by section.settings.collections_per_page %}
<div class="main-collection-category-section">
<div class="container">
  <div class="shopify__top__section section-heading-box">
    <h2>{{ section.settings.title | escape }}</h2>
  </div>
  {%- liquid
    case section.settings.sort
      when 'products_high' or 'products_low'
        assign collections = collections | sort: 'all_products_count'
      when 'date' or 'date_reversed'
        assign collections = collections | sort: 'published_at'
    endcase

    if section.settings.sort == 'products_high' or section.settings.sort == 'date_reversed' or section.settings.sort == 'alphabetical_reversed'
      assign collections = collections | reverse
    endif
  -%}

  <ul class="collection-list grid grid--1-col grid--3-col-tablet" role="list">
    {%- for collection in collections -%}
      <li class="collection-list__item grid__item">
        <div class="collection-card-box">
        <a{% if collection.all_products_count > 0 %} href="{{ collection.url }}"{% endif %}
          class="card animate-arrow{% if collection.featured_image != blank %} card--media{% else %}{% if section.settings.image_ratio != 'adapt' %} card--stretch{% endif %}{% endif %}{% unless section.settings.image_padding %} card--light-border{% endunless %}"
        >
          <div class="card--stretch card-colored color-{{ section.settings.color_scheme }}">
            {%- if collection.featured_image != blank -%}
              <div{% if section.settings.image_padding %} class="card__media-spacer"{% endif %}>
                {% if section.settings.image_padding %}<div class="overlay-card"></div>{% endif %}
                <div class="media media--square media--hover-effect overflow-hidden">

                  <img
                    srcset="{%- if collection.featured_image.width >= 165 -%}{{ collection.featured_image | img_url: '165x' }} 165w,{%- endif -%}
                      {%- if collection.featured_image.width >= 360 -%}{{ collection.featured_image | img_url: '360x' }} 360w,{%- endif -%}
                      {%- if collection.featured_image.width >= 535 -%}{{ collection.featured_image | img_url: '535x' }} 535w,{%- endif -%}
                      {%- if collection.featured_image.width >= 750 -%}{{ collection.featured_image | img_url: '750x' }} 750w,{%- endif -%}
                      {%- if collection.featured_image.width >= 1000 -%}{{ collection.featured_image | img_url: '1000x' }} 1000w,{%- endif -%}
                      {%- if collection.featured_image.width >= 1500 -%}{{ collection.featured_image | img_url: '1500x' }} 1500w,{%- endif -%}"
                    src="{{ collection.featured_image | img_url: '1500x' }}"
                    sizes="(min-width: {{ settings.page_width }}px) {{ settings.page_width | minus: 100 | divided_by: 3 }}px, (min-width: 750px) calc((100vw - 130px) / 3), calc(100vw - 30px)"
                    alt="{{ collection.title | escape }}"
                    height="{{ collection.featured_image.height }}"
                    width="{{ collection.featured_image.width }}"
                    loading="lazy"
                  >
                </div>
              </div>
              <div class="card__text card__text-spacing card__text-hover collection-card">
                <div class="overlay-card"></div>
                <h4 class="collection-title">{{- collection.title -}}</h4>
              </div>
            {%- else -%}
              <div class="overlay-card"></div>
              <div class="card__text-spacing card__text-hover">
                <h4 class="">
                  {{- collection.title -}}{%- if collection.description == blank -%}{% endif %}
                </h4>

                {%- if collection.description != blank -%}
                  <p>
                    {{- collection.description | strip_html | truncatewords: 12 -}}
                  </p>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        </a>
        </div>
      </li>
    {%- endfor -%}
  </ul>
</div>
  
        {% if paginate.pages > 1 %}
        {% include 'pagination' %}
        {% endif %}
</div>
{% endpaginate %}
{% schema %}
{
  "name": "t:sections.main-list-collections.name",
  "class": "collection_list_outer",
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "t:sections.main-list-collections.settings.title.label",
      "default": "Collections"
    },
    {
      "type": "range",
      "id": "collections_per_page",
      "min": 3,
      "max": 16,
      "step": 1,
      "default": 9,
      "label": "t:sections.main-list-collections.settings.collections_per_page.label"
    },
    {
      "type": "radio",
      "id": "show_collections",
      "default": "all",
      "label": "t:sections.main-list-collections.settings.show_collections.label",
      "options": [
        {
          "value": "all",
          "label": "t:sections.main-list-collections.settings.show_collections.all.label"
        },
        {
          "value": "selected",
          "label": "t:sections.main-list-collections.settings.show_collections.selected.label"
        }
      ]
    },
    {
      "type": "select",
      "id": "sort",
      "options": [
        {
          "value": "alphabetical",
          "label": "t:sections.main-list-collections.settings.sort.options__1.label"
        },
        {
          "value": "alphabetical_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__2.label"
        },
        {
          "value": "date_reversed",
          "label": "t:sections.main-list-collections.settings.sort.options__3.label"
        },
        {
          "value": "date",
          "label": "t:sections.main-list-collections.settings.sort.options__4.label"
        },
        {
          "value": "products_high",
          "label": "t:sections.main-list-collections.settings.sort.options__5.label"
        },
        {
          "value": "products_low",
          "label": "t:sections.main-list-collections.settings.sort.options__6.label"
        }
      ],
      "default": "alphabetical",
      "label": "t:sections.main-list-collections.settings.sort.label"
    }
  ]
}
{% endschema %}
