<section id="product-slider">
	<div class="container-fluid">
		<div class="row">
			<div class="slider-list">
				<div class="d-flex">
				  <div class="loopED owl-carousel owl-theme">
					{% for block in section.blocks %}
					<div class="item">
						{% if block.settings.image != blank %}
					  <img src="{{block.settings.image | img_url:'master'}}" loading="lazy" alt="">
						{% endif %}
							<div class="carousel-caption">
							<div class="container">
								<div class="row">
									{% case block.type %}
										{% when "style1" %}
										<div class="carousel-caption-title style1">
											{% if block.settings.heading != blank %}
											<h1 class="smaller-heading">{{block.settings.heading}}</h1>
										{% endif %}
											{% if block.settings.subheading != blank %}
											<h1 class="bigger-heading">{{block.settings.subheading}}</h1>
										{% endif %}
											{% if block.settings.content != blank %}
											<h3 class="top-title">{{block.settings.content}}</h3>
										{% endif %}
											{% if block.settings.sale != blank %}
											<div class="offer-box">
												<p class="big-size"><span class="offer-catg">upto</span>{{block.settings.sale}} <sup>OFF</sup></p>
											</div>
										{% endif %}
											{% if block.settings.btn != blank %}
											<a href="{{block.settings.link}}" class="black-btn button">{{block.settings.btn}}<i class="fas fa-arrow-right"></i></a>
										{% endif %}
										</div>
									{% when "style2" %}
									<div class="carousel-caption-title style2">
										{% if block.settings.heading != blank %}
										<h2 class="top-title">{{block.settings.heading}}</h2>
									{% endif %}
										{% if block.settings.subheading != blank %}
										<h1 class="smaller-heading">{{block.settings.subheading}}</h1>
									{% endif %}
										{% if block.settings.sale != blank %}
										<h1 class="bigger-heading">{{block.settings.sale}}</h1>
									{% endif %}
										{% if block.settings.content != blank %}
										<h5 class="bottom-title">{{block.settings.content}}</h5>
									{% endif %}
										{% if block.settings.btn != blank %}
										<a href="{{block.settings.link}}" class="black-btn button">{{block.settings.btn}}<i class="fas fa-arrow-right"></i></a>
									{% endif %}
									</div>
								{% endcase %}
								</div>
							</div>
						</div>
					</div>
				{% endfor %}
				  </div>
				 </div>
			</div>
		</div>
	</div>
</section>
{% javascript %}
jQuery(document).ready(function($) {
	$('.loop').owlCarouSSsel({
	 center: false,
	 items: 1,
	 loop: true,
	 margin: 0,
	 dots:false,
	 //autoplay:true,
	 slideSpeed: 4000,
	 autoPlaySpeed: 4000,
	 responsiveClass:true,
	 responsive: {
	   600: {
		 items: 1
	   }
	 }
  });
});
{% endjavascript %}
{% schema %}
{
  "name": "main-slider",
  "tag": "section",
  "blocks": [
	  {
	  "type":"style1",
	  "name":"t:sections.main-slider.blocks.style1.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.main-slider.blocks.style1.settings.heading.label"
        },
        {
          "type": "text",
          "id": "subheading",
          "default": "Sub Heading",
          "label": "t:sections.main-slider.blocks.style1.settings.subheading.label"
        },
        {
          "type": "text",
          "id": "content",
          "default": "content",
          "label": "t:sections.main-slider.blocks.style1.settings.content.label"
        },
        {
          "type": "text",
          "id": "sale",
          "default": "70%",
          "label": "t:sections.main-slider.blocks.style1.settings.sale.label"
        },
        {
          "type": "text",
          "id": "btn",
          "default": "Explore Now",
          "label": "t:sections.main-slider.blocks.style1.settings.btn.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.main-slider.blocks.style1.settings.link.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.main-slider.blocks.style1.settings.image.label"
        }
      ]
	},
	{
		"type":"style2",
		"name":"t:sections.main-slider.blocks.style2.name",
		"settings": [
			{
				"type": "text",
				"id": "heading",
				"default": "Heading",
				"label": "t:sections.main-slider.blocks.style2.settings.heading.label"
			},
			{
				"type": "text",
				"id": "subheading",
				"default": "Sub Heading",
				"label": "t:sections.main-slider.blocks.style2.settings.subheading.label"
			},
			{
				"type": "text",
				"id": "sale",
				"default": "Sale 40%",
				"label": "t:sections.main-slider.blocks.style2.settings.sale.label"
			},
			{
				"type": "text",
				"id": "content",
				"default": "content",
				"label": "t:sections.main-slider.blocks.style2.settings.content.label"
			},
			{
			  "type": "text",
			  "id": "btn",
			  "default": "Explore Now",
			  "label": "t:sections.main-slider.blocks.style2.settings.btn.label"
			},
			{
			  "type": "url",
			  "id": "link",
			  "label": "t:sections.main-slider.blocks.style2.settings.link.label"
			},
			{
			  "type": "image_picker",
			  "id": "image",
			  "label": "t:sections.main-slider.blocks.style2.settings.image.label"
			}
		]
	}
  ],
  "presets": [
    {
      "name": "t:sections.main-slider.presets.name"
    }
  ]
}
{% endschema %}
