{{ 'cart.css' | asset_url | stylesheet_tag }}
<div class="container">  
  
  <div class="continue-shopping"{% if cart.item_count > 0 %}style="display:none"{% endif %} cart-empty>
    <img class="emptyCartIcon" src="//cdn.shopify.com/s/files/1/0597/9668/5009/t/6/assets/cart.svg">
     <h4>{{'sections.cart.empty' | t}}</h4>
     <a href="/collections/all" class="button black-btn">{{'general.continue_shopping' | t}}</a>
  </div>
  
  {% if cart.item_count > 0 %}
  <form action="{{ routes.cart_url }}" class="cart__contents critical-hidden" method="post" id="cart" cart-form>
  <div class="row">    
     <div class="col-sm-12 col-md-12 col-lg-8">
        <h3>
          {{'sections.cart.heading_html' | t: itemCount :cart.item_count}}
       </h3>
        <div class="inner-box">
           <table>
              <tbody>
                {% for item in cart.items %}
                 <tr>
                    <td class="cart-img">
                      <a href="{{item.url}}">
                          <img src="{{item.image | img_url:'100x'}}" alt="">
                      </a>
                    </td>
                    <td class="cart-prd-details">
                       
                      <a href="{{item.url}}"><h5>{{item.product.title | truncatewords:5}}</h5></a>
                      <div class="cart-item-product-details">
                        {% if item.sku != blank %}
                        <span>SKU: {{item.sku}}</span>
                        {% endif %}
                        {% unless item.variant.title == null or item.variant.title == 'Default Title'%}
                        {% for option in item.options_with_values %}
                        <span>{{option.name}}: {{option.value}}</span>
                        {% endfor %}
                        {% endunless %}
                        {%- for property in item.properties -%}
                        {%- assign property_first_char = property.first | slice: 0 -%}
                        {%- if property.last != blank and property_first_char != '_' -%}
                        <span><strong>{{ property.first }}</strong>: 
                          {%- if property.last contains '/uploads/' -%}
                          <a href="{{ property.last }}" target="_blank">
                            {{ property.last | split: '/' | last }}
                          </a>
                          {%- else -%}
                          {{ property.last }}
                          {%- endif -%}
                        </span>
                        {%- endif -%}
                        {%- endfor -%}
                      </div>
                      
                       
                    </td>
                    <td class="cart-qty">
                       <div class="qty">
                          <button class="minus line_item_change"  data-line="{{forloop.index}}">-</button>
                          <input type="number" name="item_quantity" initial="{{item.quantity}}" data-line="{{forloop.index}}" value="{{item.quantity}}">
                          <button class="plus line_item_change" data-line="{{forloop.index}}">+</button>
                       </div>
                    </td>
                    <td class="cart-price">
                       <div class="price">
                          {{item.original_price | money}}
                       </div>
                    </td>
                    <td class="cart-remove">
                       <div class="remove line_item_remove" data-line="{{forloop.index}}">
                        <svg line="1" xmlns="http://www.w3.org/2000/svg" width="11" height="11" viewBox="0 0 11 11">
                          <path id="Forma_1" data-name="Forma 1" d="M1873.46,42.5l4.32-4.328a0.687,0.687,0,1,0-.97-0.973l-4.32,4.328-4.32-4.328a0.687,0.687,0,1,0-.97.973l4.32,4.328-4.32,4.329a0.688,0.688,0,0,0,.49,1.175,0.674,0.674,0,0,0,.48-0.2l4.32-4.329,4.32,4.329a0.7,0.7,0,0,0,.49.2,0.674,0.674,0,0,0,.48-0.2,0.686,0.686,0,0,0,0-.973Z" transform="translate(-1867 -37)"></path>
                        </svg>
                       </div>
                    </td>
                 </tr>
                 {% endfor %}
              </tbody>
           </table>
        </div>
        <div class="go-to-back">
          <a href="/collections/all">Go to Products</a>
        </div>
     </div>
     <div class="col-sm-12 col-md-12 col-lg-4">
       <div class="sticky_cartsidebar">
        <h3>Price Details</h3>
        <div class="inner-box price-details">
          {% if section.settings.show_cart_note %}
           <textarea class="seller-box" name="note" id="Cart-note" placeholder="Special instructions for seller">{{ cart.note }}</textarea>
          {% endif %}
           <ul>
              <li data-cart-original>Total <strong data-cart-original-price>{{cart.original_total_price | money}}</strong></li>
              {%- if cart.cart_level_discount_applications.size > 0 -%}
              {%- for discount in cart.cart_level_discount_applications -%}
              <li data-cart-discount>Discount['{{ discount.title }}'] <strong>-{{discount.total_allocated_amount | money}}</strong></li>
              {%- endfor -%}
              {% endif %}
              <!-- <li>Convenience Fee Know More<strong>49FREE</strong></li> -->
              <li class="total" data-cart-total>
                 <p>Total Amount</p>
                 <strong data-cart-total-price>{{cart.total_price | money}}</strong>
              </li>
           </ul>
           <div class="cart-btn">
              <button type="submit" name="checkout" id="cartCheckout" form="cart" class="button black-btn btn-block">Checkout</button>
              <div class="cart__dynamic-checkout-buttons additional-checkout-buttons">
                {{ content_for_additional_checkout_buttons }}
              </div>
           </div>
           <p class="checkout-text">Shipping &amp; taxes calculated at checkout</p>
          {%- if section.settings.payment_enable -%}
                <div class="footer__payment">
                  <span class="visually-hidden">Payment methods</span>
                  <ul class="list list-payment justify-content-center" role="list">
                    {%- for type in shop.enabled_payment_types -%}
                    <li class="list-payment__item">
                      {{ type | payment_type_svg_tag: class: 'icon icon--full-color' }}
                    </li>
                    {%- endfor -%}
                  </ul>
                </div>
                {%- endif -%}
        </div>
     </div>
    </div>
  </div>
</form>
  {% endif %}
</div>
<script src="{{'cart.js' | asset_url}}" defer="defer"></script> 
{% schema %}
{
  "name": "t:sections.main-cart.name",
  "class": "cart__footer-wrapper cstm-cart-sec",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_cart_note",
      "default": true,
      "label": "t:sections.main-cart.settings.show_cart_note.label"
    },
    {
      "type": "checkbox",
      "id": "payment_enable",
      "default": true,
      "label": "t:sections.main-cart.settings.payment_enable.label"
    }
  ],
  "blocks": [
    {
      "type": "@app"
    }
  ]
}
{% endschema %}
