{% paginate collection.products by 24 %}
<div class="CollectionProductGrid" id="CollectionProductsContainer" data-id="{{section.id}}" data-view="grid-layout">
   <div class="container">
      <div class="row">
        <aside class="col-sm-3 col-md-3 col-lg-3 sidebar sidebar-fixed shop-sidebar sticky-sidebar-wrapper" style="overflow-y: auto;">
          {% include 'collection-sidebar' %}
        </aside>
         <div class="col-lg-9 col-sm-9 col-md-9 main-content">
            <div class="row">
               <nav class="toolbox">
                  <div class="toolbox-left">
                     <div class="toolbox-item toolbox-layout">
                        <div class="filter-actions">
                           <div class="select-items">
                             {% assign active = 0 %}
                             {%- for filter in collection.filters -%}
                             {%- for value in filter.active_values -%}
                             {% assign active = active | plus:1 %}
                             <a class="select-item" href="{{ value.url_to_remove }}">
                               {{ value.label | escape }}
                               <i class="fas fa-times-circle"></i>
                             </a>
                             {%- endfor -%}

                             {% if filter.type == "price_range" %}
                             {%- if filter.min_value.value != nil or filter.max_value.value != nil -%}                             
                             {% assign active = active | plus:1 %}
                             <a class="select-item" href="{{ filter.url_to_remove }}">
                               {%- if filter.min_value.value -%}{{ filter.min_value.value | money }}{%- else -%}{{ 0 | money }}{%- endif -%}-{%- if filter.max_value.value -%}{{ filter.max_value.value | money }}{%- else -%}{{ filter.range_max | money }}{%- endif -%}
                               <i class="fas fa-times-circle"></i>
                             </a>
                             {%- endif -%}
                             {% endif %}
                             {%- endfor -%}
                             {% if active > 0 %}
                             <a href="{{ collection.url }}?sort_by={{ sort_by }}" class="filter-clean text-primary">Clean All</a>
                             {% endif %}
                           </div>
                        </div>
                     </div>
                  </div>
                  <div class="toolbox-right">
                     <div class="toolbox-item toolbox-layout">
                        <a href="javascript:void(0);" data-layout="" data-value="grid-layout" class="btn-layout grid-layout">
                           <svg xmlns="http://www.w3.org/2000/svg" width="12" height="11" viewBox="0 0 12 11">
                              <path class="cls-1" d="M1525,203h5v4h-5v-4Zm7,0h5v4h-5v-4Zm-7,7h5v4h-5v-4Zm7,0h5v4h-5v-4Z" transform="translate(-1525 -203)"></path>
                           </svg>
                        </a>
                        <a href="javascript:void(0);" data-layout="" data-value="list-layout" class="btn-layout list-layout">
                           <svg xmlns="http://www.w3.org/2000/svg" width="19" height="12" viewBox="0 0 19 12">
                              <path class="cls-1" d="M1550,203h3v2h-3v-2Zm0,5h3v2h-3v-2Zm0,5h3v2h-3v-2Zm6-10h13v2h-13v-2Zm0,5h13v2h-13v-2Zm0,5h13v2h-13v-2Z" transform="translate(-1550 -203)"></path>
                           </svg>
                        </a>
                     </div>
                     <div class="toolbox-item toolbox-sort select-box">
                        <label>Sort by:</label>
                  {%- assign sort_by = collection.sort_by | default: collection.default_sort_by -%}
                        <select name="sort_by" class="form-control" id="SortBy" data-default-sortby="title-ascending" form="CollectionFiltersForm">
                          {%- for option in collection.sort_options -%}
                          <option value="{{ option.value | escape }}"{% if option.value == sort_by %} selected="selected"{% endif %}>{{ option.name | escape }}</option>
                          {%- endfor -%}
                        </select>
                     </div>
                  </div>
               </nav>
               <div class="filter-total-result">
                  <h6>{{collection.title}} - {{ collection.products_count}} {{ collection.products_count | pluralize: 'item', 'items' }}</h6>
               </div>
               <div class="product-collection grid-view">
                  <div class="products-grid" style="display:block">
                     <div class="row product_columns">
                         {% for product in collection.products %}
                         {% render 'product-grid',product: product %}
                        {% endfor %}
                     </div>
                  </div>
               </div>
            </div>
           
     {% if paginate.pages > 1 %}
     {% include 'pagination' %}
     {% endif %}
         </div>
      </div>
   </div>
</div>
{% endpaginate %}

<script src="{{'collection-filters.js' | asset_url}}" defer="defer" ></script> 
{% schema %}
{
  "name": "t:sections.main-collection-product-grid.name",
  "class": "collection-grid-section",
  "settings": [
    {
      "type": "range",
      "id": "products_per_page",
      "min": 8,
      "max": 24,
      "step": 4,
      "default": 16,
      "label": "t:sections.main-collection-product-grid.settings.products_per_page.label"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__3.content"
    },
    {
      "type": "select",
      "id": "image_ratio",
      "options": [
        {
          "value": "adapt",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__1.label"
        },
        {
          "value": "portrait",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__2.label"
        },
        {
          "value": "square",
          "label": "t:sections.main-collection-product-grid.settings.image_ratio.options__3.label"
        }
      ],
      "default": "adapt",
      "label": "t:sections.main-collection-product-grid.settings.image_ratio.label"
    },
    {
      "type": "checkbox",
      "id": "show_secondary_image",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_secondary_image.label"
    },
    {
      "type": "checkbox",
      "id": "add_image_padding",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.add_image_padding.label"
    },
    {
      "type": "checkbox",
      "id": "show_image_outline",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.show_image_outline.label"
    },
    {
      "type": "checkbox",
      "id": "show_vendor",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_vendor.label"
    },
    {
      "type": "checkbox",
      "id": "show_rating",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.show_rating.label",
      "info": "t:sections.main-collection-product-grid.settings.show_rating.info"
    },
    {
      "type": "header",
      "content": "t:sections.main-collection-product-grid.settings.header__1.content"
    },
    {
      "type": "checkbox",
      "id": "enable_filtering",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_filtering.label",
      "info": "t:sections.main-collection-product-grid.settings.enable_filtering.info"
    },
    {
      "type": "checkbox",
      "id": "enable_sorting",
      "default": true,
      "label": "t:sections.main-collection-product-grid.settings.enable_sorting.label"
    },
    {
      "type": "checkbox",
      "id": "collapse_on_larger_devices",
      "default": false,
      "label": "t:sections.main-collection-product-grid.settings.collapse_on_larger_devices.label"
    }
  ]
}
{% endschema %}
