
{%- paginate blog.articles by 6 -%}
<div class="top_page_title no-bg">
  <div class="container">
    <div class="contact-banner-text">
      <div class="banner_title">
        <h1>{{ blog.title | escape }}</h1>
      </div>
    </div>
  </div>
</div>
<section class="blog-listing">
  	<div class="container">
      	<div class="blog-outer-box">  
        	<div class="row">
              {%- for article in blog.articles -%}
                <div class="col-12 col-sm-12 col-md-6 style1"> 
                  <div class="post-wrapper">
                    <div class="post-information">
                      {% assign article_image = 'featured_image.png' | asset_url %}
                      {% if article.image %}
                      {% assign article_image = article.image | img_url:'master' %}
                      {% endif %}
                      <div class="post-information-image">
                        <a href="{{article.url}}" class="animate_hvrbr">
                          <img src="{{article_image}}" alt="">
                        </a>
                      </div>
                      <div class="post-information__wrapper text__left">
                        {% if section.settings.show_date %}
                        <div class="post-date">
                          <h4 class="custom-title">{{article.published_at | date: "%d" }} {{article.published_at | date: " %b %Y" }} </h4>
                        </div>
                        {% endif %}
                        <div class="post-name">
                          <h6><a href="{{article.url}}">{{article.title| truncatewords: 6}}</a></h6>
                          <p>{{article.excerpt_or_content | strip_html | truncatewords: 6}}</p>

                          {% if section.settings.show_author %}
                          <span class="" itemprop="author" itemscope itemtype="http://schema.org/Person">
                            <span itemprop="name">Posted By {{ article.author }}</span>
                          </span>
                          {% endif %}
                        </div>
                        {% if section.settings.show_tags %}
                        <ul class="article_tags">
                          {% for tag in article.tags %}
                          <li><a href="{{blog.url}}/tagged/{{tag}}">{{tag}}</a></li>
                          {% endfor %}
                        </ul>
                        {% endif %}
                      </div>
                    </div>
                  </div>
              </div>
              {%- endfor -%}
        </div>
  		</div>
  	</div>
</section>


    {%- if paginate.pages > 1 -%}
      {%- render 'pagination', paginate: paginate -%}
    {%- endif -%}
{%- endpaginate -%}

{% schema %}
{
  "name": "t:sections.main-blog.name",
  "tag": "section",
  "class": "shopify-blog-section",
  "settings": [
    {
      "type": "checkbox",
      "id": "show_date",
      "default": true,
      "label": "t:sections.main-blog.settings.show_date.label"
    },
    {
      "type": "checkbox",
      "id": "show_author",
      "default": true,
      "label": "t:sections.main-blog.settings.show_author.label"
    },
    {
      "type": "checkbox",
      "id": "show_tags",
      "default": true,
      "label": "t:sections.main-blog.settings.show_tags.label"
    },
    {
      "type": "checkbox",
      "id": "show_excerpt",
      "default": true,
      "label": "t:sections.main-blog.settings.show_excerpt.label"
    },
    {
      "type": "checkbox",
      "id": "show_comment_count",
      "default": true,
      "label": "t:sections.main-blog.settings.show_comment_count.label"
    }
  ]
}
{% endschema %}
