<div id="main-page-{{section.id}}" class="top_page_title no-bg">
  <div class="container">
    <div class="contact-banner-text">
      <div class="banner_title">
        <h1>{{page.title}}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="inner-container">
    <div class="page-description">
    {{page.content}}
  </div>
  </div>
</div>
{%- if section.settings.bgcolor != blank or section.settings.textcolor != blank  -%}
<style>
  #main-page-{{section.id}}{
    {%- if section.settings.bgcolor != blank  -%}
    background-color:{{section.settings.bgcolor}};
    {%- endif -%}
    {%- if section.settings.textcolor != blank  -%}
    color:{{section.settings.textcolor}};
    {%- endif -%}
  }
</style>
{%- endif -%}
{% schema %}
{
  "name": "t:sections.main-page.name",
  "tag": "section",
  "class": "banner-top-section",
  "settings": [
    {
      "type": "color",
      "id": "bgcolor",
      "label": "Background Color"
    },
    {
      "type": "color",
      "id": "textcolor",
      "label": "Text Color"
    }
  ]
}
{% endschema %}
