{% if section.blocks.size > 0 %}
<div class="container">
  <div class="service__column">
    {% for block in section.blocks %}
    <div class="col" {{ block.shopify_attributes }}>
      {% if block.settings.image != blank %}
      {% include 'lazy-image' image:block.settings.image %}
      {% else %}
      {% render 'placeholder' %}
      {% endif %}
      <div class="service_title">
        <h6>{{block.settings.heading}}</h6>
        {{block.settings.subtext}}
      </div>
    </div>            
    {% endfor %}
  </div>
</div>
{% endif %}
<style>
  #shopify-section-{{section.id}}.shopify-section{
    background-color:{{section.settings.bgcolor}};
    padding-top:{{section.settings.top_space_desktop}}px;
    padding-bottom:{{section.settings.bottom_space_desktop}}px;
  }
  #shopify-section-{{section.id}} .service__column .col h6{
    color:{{section.settings.textcolor}};
  }

  #shopify-section-{{section.id}} .service__column .col{
    border-color:{{section.settings.textcolor | color_lighten: 80}};
  }
  @media only screen and (max-width:575px) {
    #shopify-section-{{section.id}}.shopify-section{
      padding-top:{{section.settings.top_space_mobile}}px;
      padding-bottom:{{section.settings.bottom_space_mobile}}px;
    }
  }
</style>
{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "tag": "section",
  "class": "shopify-section-multicolumn-content",
  "max_blocks":4,
  "settings": [
    {
      "type": "color",
      "id": "bgcolor",
      "default": "#EDE8E2",
      "label": "t:sections.multicolumn.settings.bgcolor.label"
    },
    {
      "type": "color",
      "id": "textcolor",
      "default": "#746850",
      "label": "t:sections.multicolumn.settings.textcolor.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:sections.multicolumn.settings.top_space_desktop.label",
      "default":10,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:sections.multicolumn.settings.bottom_space_desktop.label",
      "default":10,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:sections.multicolumn.settings.top_space_mobile.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:sections.multicolumn.settings.bottom_space_mobile.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    }
  ],
  "blocks": [
	  {
      "type":"column",
      "name":"t:sections.multicolumn.blocks.column.name",
      "settings": [
        {
          "type": "select",
          "id": "icon",
          "label": "t:sections.multicolumn.blocks.column.settings.icon.label",
          "default": "shipping",
          "options": [
            {
              "label": "t:sections.multicolumn.settings.column.options.refund.label",
              "value": "refund"
            },
            {
              "label": "t:sections.multicolumn.settings.column.options.secure.label",
              "value": "secure"
            },
            {
              "label": "t:sections.multicolumn.settings.column.options.shipping.label",
              "value": "shipping"
            },
            {
              "label": "t:sections.multicolumn.settings.column.options.support.label",
              "value": "support"
            }
          ]
        },   
        {
          "type": "text",
          "id": "heading",
          "default": "Add Heading here",
          "label": "t:sections.multicolumn.blocks.column.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>Add Optional subtext here</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.subtext.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolumn.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}