{% if section.blocks.size > 0 %}
  <div class="container">
    <div class="service__content page-width">
      <div class="service__column footer__column--info d-flex justify-content-between">
        {% for block in section.blocks %}
        <div class="col" {{ block.shopify_attributes }}>
          {% if block.settings.image != blank %}
          <img src="{{block.settings.image | img_url:'master'}}" alt="{{block.settings.heading}}">
          {% else %}
          <img src="https://yova.shinedezign.pro/assets/images/delivery.png" alt="delivery">
          {% endif %}
          <div class="service_title">
            <h6>{{block.settings.heading}}</h6>
            {{block.settings.subtext}}
          </div>
        </div>            
        {% endfor %}
      </div>
    </div>
  </div>
{% endif %}
<style>
    #shopify-section-{{section.id}}{
      background-color:{{section.settings.bgcolor}};
    padding-top:{{section.settings.top_space}}px;
    padding-bottom:{{section.settings.bottom_space}}px;
    }
    #shopify-section-{{section.id}} .service__column .col h6,
    #shopify-section-{{section.id}} .service__column .col p{
      color:{{section.settings.textcolor}};
    }
    
    #shopify-section-{{section.id}} .service__column .col{
      border-color:{{section.settings.textcolor | color_lighten: 80}};
    }
  </style>
{% schema %}
{
  "name": "t:sections.multicolumn.name",
  "tag": "section",
  "class": "shopify-section-multicolumn-content",
  "max_blocks":4,
  "settings": [
    {
      "type": "color",
      "id": "bgcolor",
      "default": "#efedeb",
      "label": "t:sections.multicolumn.settings.bgcolor.label"
    },
    {
      "type": "color",
      "id": "textcolor",
      "default": "#000000",
      "label": "t:sections.multicolumn.settings.textcolor.label"
    },
    {
      "type": "range",
      "id": "top_space",
      "label": "t:sections.multicolumn.settings.top_space.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "bottom_space",
      "label": "t:sections.multicolumn.settings.bottom_space.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    }
  ],
  "blocks": [
	  {
      "type":"column",
      "name":"t:sections.multicolumn.blocks.column.name",
      "settings": [        
        {
          "type": "text",
          "id": "heading",
          "default": "FREE SHIPPING WORLD WIDE",
          "label": "t:sections.multicolumn.blocks.column.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subtext",
          "default": "<p>100% Original guarantee</p><p>for all products at yuva.com</p>",
          "label": "t:sections.multicolumn.blocks.column.settings.subtext.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.multicolumn.blocks.column.settings.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.multicolumn.presets.name",
      "blocks": [
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        },
        {
          "type": "column"
        }
      ]
    }
  ]
}
{% endschema %}