<div class="container">
  <div class="newsletter-container">
    <div class="row">
      <div class="col-md-12">
        <div class="newsletter-content text__center">
          <h2>{{section.settings.heading}}</h2>
          <p>{{section.settings.description}}</p>
          {% form 'customer', class: 'newsletter-form' %}
          <div class="input-group input-news-letter">
            <input type="hidden" name="contact[tags]" value="newsletter">
            <span class="mail-icon">
              <svg xmlns="http://www.w3.org/2000/svg" width="18" height="14" viewBox="0 0 18 14">
                <defs>
                  <style>
                    .cls-1 {
                      fill-rule: evenodd;
                    }
                  </style>
                </defs>
                <path fill="#cccccc" style="opacity: 1;" d="M692.8,6425H679.2a2.229,2.229,0,0,0-2.2,2.25v9.5a2.229,2.229,0,0,0,2.2,2.25h13.6a2.229,2.229,0,0,0,2.2-2.25v-9.5A2.224,2.224,0,0,0,692.8,6425Zm1.2,11.75a1.211,1.211,0,0,1-1.2,1.22H679.2a1.211,1.211,0,0,1-1.2-1.22v-9.5a1.211,1.211,0,0,1,1.2-1.22h13.6a1.211,1.211,0,0,1,1.2,1.22v9.5h0Zm-5.646-4.87,4.4-4.03a0.528,0.528,0,0,0,.037-0.73,0.5,0.5,0,0,0-.711-0.04l-6.071,5.57-1.184-1.08a0.018,0.018,0,0,1-.008-0.01,0.381,0.381,0,0,0-.082-0.07l-4.819-4.41a0.5,0.5,0,0,0-.711.04,0.525,0.525,0,0,0,.041.73l4.454,4.07-4.436,4.24a0.528,0.528,0,0,0-.022.73,0.534,0.534,0,0,0,.369.16,0.462,0.462,0,0,0,.342-0.14l4.5-4.3,1.222,1.11a0.484,0.484,0,0,0,.335.13,0.479,0.479,0,0,0,.335-0.13l1.255-1.15,4.477,4.35a0.516,0.516,0,0,0,.346.14,0.484,0.484,0,0,0,.365-0.16,0.528,0.528,0,0,0-.018-0.73Z" transform="translate(-677 -6425)"></path>
              </svg>
            </span>
            <input id="Email" type="email" name="contact[email]" class="form-control enter-email" value="{{ form.email }}" aria-required="true" autocorrect="off" autocapitalize="off" autocomplete="email"
                   {% if form.errors %}
                   autofocus
                   aria-invalid="true"
                   aria-describedby="Newsletter-error--{{ section.id }}"
                   {% elsif form.posted_successfully? %}
                   aria-describedby="Newsletter-success--{{ section.id }}"
                   {% endif %}
                   placeholder="{{section.settings.placeholder}}"
                   required
                   >
            <div class="input-group-append">
              <button type="submit" name="commit" id="Subscribe" class="black-btn button">
                <span>{{section.settings.btn | default:'Subscribe'}}</span>
              </button>
            </div>
          </div>
          {%- if form.errors -%}
          <span class="newsletter-form__message form__message error-text d-block" id="Newsletter-error--{{ section.id }}">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
          {%- endif -%}
          {%- if form.posted_successfully? -%}
          <span class="newsletter-form__message newsletter-form__message--success form__message success-text d-block" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{{ 'newsletter.success' | t }}</span>
          {%- endif -%}
          {% endform %}
        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #shopify-section-{{section.id}}.shopify-section {
    padding-top:{{section.settings.top_space_desktop}}px;
    padding-bottom:{{section.settings.bottom_space_desktop}}px;
  }
  @media only screen and (max-width:575px) {
    #shopify-section-{{section.id}}.shopify-section {
      padding-top:{{section.settings.top_space_mobile}}px;
      padding-bottom:{{section.settings.bottom_space_mobile}}px;
    }
  }
</style>
{% schema %}
{
  "name": "t:sections.newsletter.name",
  "tag": "section",
  "class": "join-our-newsletter newsletter-section",
  "settings": [
    {
      "type": "text",
      "id": "heading",
      "default": "Join Our Newsletter",
      "label": "t:sections.newsletter.settings.heading.label"
    },
    {
      "type": "text",
      "id": "description",
      "default": "Sign up it only takes a second to be the news.",
      "label": "t:sections.newsletter.settings.description.label"
    },
    {
      "type": "text",
      "id": "placeholder",
      "default": "Email Address",
      "label": "t:sections.newsletter.settings.placeholder.label"
    },
    {
      "type": "text",
      "id": "btn",
      "default": "Subscribe",
      "label": "t:sections.newsletter.settings.btn.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:sections.newsletter.settings.top_space_desktop.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:sections.newsletter.settings.bottom_space_desktop.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:sections.newsletter.settings.top_space_mobile.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:sections.newsletter.settings.bottom_space_mobile.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    }
  ],
  "presets": [
    {
      "name": "t:sections.newsletter.presets.name"
    }
  ]
}
{% endschema %}
