<div class="section-spacer">
  <div class="container">
    <div class="category-list shopify__top__section text__center">
      <div class="section-heading-box">
        <small>{{section.settings.subheading}}</small>
        <h2>{{section.settings.heading}}</h2>
      </div>
      <ul class="grid grid--3-col-tablet grid--3-col-desktop d-flex justify-content-center {% if section.settings.style == 'style2' %}style_variation_2{% endif %}" role="list">
        {% for block in section.blocks%}
        <li id="offer-block-{{block.id}}"  class="grid__item" {{ block.shopify_attributes }}>
          <div class="card-wrapper">
            <div class="card-information">
              <div class="card-information-image">
                <a href="{{block.settings.link}}" class="animate_hvrbr">
                  {% if block.settings.image != blank %}
                  <img src="{{block.settings.image | img_url:'master'}}" alt="">
                  {% else %}
                  <img src="{{ 'featured_image.png' | asset_url}}" alt="">                              
                  {% endif %}
                </a>
              </div>
              {% unless block.settings.heading == blank and block.settings.subheading == blank %}
              <div class="card-information__wrapper text__left content-border-{{section.settings.show_border}} {% if section.settings.style == 'style1' %}{{block.settings.info_position}}{% endif %}">
                {% if block.settings.heading != blank %}
                <h5>{{block.settings.heading}}</h5>
                {% endif%}
                {% if block.settings.subheading != blank %}
                {{block.settings.subheading}}
                {% endif%}
              </div>
              {% endunless %}
            </div>
          </div>
        </li>
        {% endfor%}
      </ul>
    </div>
  </div>
</div>
<style>
  #shopify-section-{{section.id}}{
    background-color:{{section.settings.color}};
    padding-top:{{section.settings.top_space_desktop}}px;
    padding-bottom:{{section.settings.bottom_space_desktop}}px;
  }
  @media only screen and (max-width:575px) {
    #shopify-section-{{section.id}}{
      padding-top:{{section.settings.top_space_mobile}}px;
      padding-bottom:{{section.settings.bottom_space_mobile}}px;
    }
  }
</style>
  <script type="application/json" name="slider-json">   
         {
          "slidesToShow":3,
          "slidesToScroll":1,
          "infinite":true,
          "draggable":false,
          "speed": 1000,
         "dots":false,
          "autoplay":false,
           "autoplaySpeed":1000,
          "arrows":false,
          "prevArrow":"<button type=\"button\" class=\"slick-prev\"><span><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M15.526 18.966L8.559 12l6.967-6.967\"></path></svg></span></button>",
          "nextArrow":"<button type=\"button\" class=\"slick-next\"><span><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M8.474 18.966L15.44 12 8.474 5.033\"></path></svg></span></button>",
          "responsive":[
          	{
            "breakpoint": 768,
              "settings": {
              	"slidesToShow": 2
              }
            },
          	{
            "breakpoint": 500,
                "settings": {
                    "slidesToShow": 1,
                    "autoplay": true,
                    "autoplaySpeed": 3000,
                    "pauseOnHover": true
                  }
            }
          ]
        }
      </script>
{% schema %}
{
  "name": "t:sections.offer-section.name",
  "tag": "section",
  "class":"category-section offer-section",
  "max_blocks":3,
  "settings": [
    {
      "type": "text",
      "id": "subheading",
      "default": "BEST FOR YOU",
      "label": "t:sections.offer-section.settings.subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "What's More",
      "label": "t:sections.offer-section.settings.heading.label"
    },
    {
      "type": "color",
      "id": "color",
      "default": "#efedeb",
      "label": "t:sections.offer-section.settings.color.label"
    },
    {
      "type": "select",
      "id": "style",
      "label": "t:sections.offer-section.settings.style.label",
      "default": "style1",
      "options": [
        {
          "label": "t:sections.offer-section.settings.style.style1.label",
          "value": "style1"
        },
        {
          "label": "t:sections.offer-section.settings.style.style2.label",
          "value": "style2"
        }
      ]
    },
    {
      "type": "checkbox",
      "id": "show_border",
      "default": true,
      "label": "t:sections.offer-section.settings.show_border.label"
    },
    {
      "type": "range",
      "id": "top_space_desktop",
      "label": "t:sections.offer-section.settings.top_space_desktop.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "bottom_space_desktop",
      "label": "t:sections.offer-section.settings.bottom_space_desktop.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "top_space_mobile",
      "label": "t:sections.offer-section.settings.top_space_mobile.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    },
    {
      "type": "range",
      "id": "bottom_space_mobile",
      "label": "t:sections.offer-section.settings.bottom_space_mobile.label",
      "default":30,
      "min":0,
      "max":60,
      "step":5
    }
  ],
  "blocks": [
	  {
      "type":"offer",
      "name":"t:sections.offer-section.blocks.offer.name",
      "settings": [
        {
          "type": "text",
          "id": "heading",
          "default": "Heading",
          "label": "t:sections.offer-section.blocks.offer.settings.heading.label"
        },
        {
          "type": "richtext",
          "id": "subheading",
          "default": "<p>Flat Up To</p>",
          "label": "t:sections.offer-section.blocks.offer.settings.subheading.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.offer-section.blocks.offer.settings.image.label"
        },
        {
          "type": "url",
          "id": "link",
          "label": "t:sections.offer-section.blocks.offer.settings.link.label"
        },
        {
          "type": "select",
          "id": "info_position",
          "label": "t:sections.offer-section.blocks.offer.settings.info_position.label",
		  "info": "t:sections.offer-section.blocks.offer.settings.info_position.info",
          "default": "bottom-left",
          "options": [
            {
              "label": "t:sections.offer-section.blocks.offer.settings.info_position.bottom-left.label",
              "value": "bottom-left"
            },
            {
              "label": "t:sections.offer-section.blocks.offer.settings.info_position.bottom-right.label",
              "value": "bottom-right"
            }
          ]
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.offer-section.presets.name",
      "blocks": [
        {
          "type": "offer"
        },
        {
          "type": "offer"
        },
        {
          "type": "offer"
        }
      ]
    }
  ]
}
{% endschema %}