<div class="container">
  <div class="password-section-wrapper">
    <div class="passwordInnerArea">
      <header role="banner">
        <a href="">
          <img src="//cdn.shopify.com/s/files/1/0597/9668/5009/files/Yuva.png?v=1638169638" class="yuva-logo" alt="logo"/>
        </a>
      </header>
      {% if section.settings.title %}
      <h2>{{ section.settings.title | escape }}</h2>
      {%else%}
      <h2>{{ 'general.password_page.opening_soon' | t }}</h2>
      {% endif %}
      {% if section.settings.newsletter_title %}
      <h4 class="desc">{{ section.settings.newsletter_title | escape }}</h4>
      {% endif %}
      {% if section.settings.show_newsletter %}
      {% form 'customer' %}
      {%- if form.errors -%}
      <span class="newsletter-form__message form__message error_message" id="Newsletter-error--{{ section.id }}">{{ form.errors.translated_fields['email'] | capitalize }} {{ form.errors.messages['email'] }}</span>
      {%- endif -%}
      {% if form.posted_successfully? %}
      <span class="newsletter-form__message newsletter-form__message--success form__message success_message" id="Newsletter-success--{{ section.id }}" tabindex="-1" autofocus>{{ 'newsletter.success' | t }}</span>
      {% else %}
      <input type="hidden" name="contact[tags]" value="newsletter">
      <div class="form-group">
        <label class="">Your Email</label>
        <input class="form-control" type="email" name="contact[email]" 
               id="Email"
               spellcheck="false"
               autocomplete="off"
               autocapitalize="off"
               placeholder="Your Email"
               value="{{ form.email }}"
               {% if form.errors %}
               autofocus
               aria-invalid="true"
               aria-describedby="Newsletter-error--{{ section.id }}"
               {% elsif form.posted_successfully? %}
               aria-describedby="Newsletter-success--{{ section.id }}"
               {% endif %}
			   required>
      </div>   
      <button type="submit" name="commit" class="button black-btn btn-block">
        Submit
      </button>
      {% endif %}
      {% endform %}
      {% endif %}
      {% if settings.share_facebook or settings.share_twitter %}
      {% include 'social-sharing' %}
      {% endif %}

    </div>
  </div>
</div>
<style>

  {% if section.settings.password-bk != blank %}
  {% capture image_size %}1500x{% endcapture %}  
  .template-password{
    background-image: url('{{ section.settings.password-bk | img_url: image_size }}');
      }              
  {% else %}
  {% endif %}

</style>



{% schema %}
{
"name":"Password page",
"class":"password-section",
"templates":["password"],
"tag":"section",
"settings":[
{
"type":"image_picker",
"id":"logo_pw",
"label":"Upload logo"
},
{
"type":"image_picker",
"id":"password-bk",
"label":"Background Image"
},
{
"type":"range",
"id":"logo_max_width",
"min":100,
"max":1180,
"step":20,
"unit":"px",
"label":"Logo maximum width",
"default":280
},
{
"type":"header",
"content":"Content"
},
{
"type":"text",
"id":"title",
"label":"Heading",
"default":"Opening soon"
},
{
"type":"checkbox",
"id":"show_newsletter",
"label":"Show newsletter form",
"default":true
},
{
"type":"text",
"id":"newsletter_title",
"label":"Newsletter form heading",
"default":"Find out when we open"
},
{
"type":"checkbox",
"id":"show_social_share",
"label":"Show social share buttons",
"default":true
},
{
"type":"text",
"id":"social_share_title",
"label":"Social share buttons heading",
"default":"Share the news"
}
]
}
{% endschema %}
