<div class="passwordInnerArea">
  <header role="banner">
	<img src="" alt="logo"/>
  </header>
  {% if section.settings.title %}
  <h2>{{ section.settings.title | escape }}</h2>
  {%else%}
  <h2>{{ 'general.password_page.opening_soon' | t }}</h2>
  {% endif %}
  
  {% if section.settings.show_newsletter %}
  {% form 'customer' %}

  {{ form.errors | default_errors }}

  {% if form.posted_successfully? %}
  <ul class="form-success">
    <li>{{ 'general.password_page.signup_form_success' | t }}</li>
  </ul>
  {% else %}
  {% if section.settings.newsletter_title %}
  <h4>{{ section.settings.newsletter_title | escape }}</h4>
  {% endif %}
  <input type="hidden" name="contact[tags]" value="prospect, password page">
  <div class="form-group">
    <input type="email" name="contact[email]" id="Email"  spellcheck="false"  autocomplete="off" autocapitalize="off" placeholder="{{ 'general.password_page.signup_form_email_placeholder' | t }}" required>
    <button type="submit" name="commit" class="button">
      {{ 'general.password_page.signup_form_submit' | t }}
    </button>
  </div>   

  {% endif %}
  {% endform %}
  {% endif %}

  {% if settings.share_facebook or settings.share_twitter %}
  <!--   <p>{{ 'general.password_page.spread_the_word' | t }}</p> -->
  {% include 'social-sharing' %}
  {% endif %}

</div>

<style>

  {% if section.settings.password-bk != blank %}
  {% capture image_size %}1500x{% endcapture %}  
  .template-password{
    background-image: url('{{ section.settings.password-bk | img_url: image_size }}');
      }              
  {% else %}
  {% endif %}

</style>



{% schema %}
{
   "name":"Password page",
   "class":"password-section",
   "templates":["password"],
   "tag":"section",
   "settings":[
      {
         "type":"image_picker",
         "id":"logo_pw",
         "label":"Upload logo"
      },
      {
         "type":"image_picker",
         "id":"password-bk",
         "label":"Background Image"
      },
      {
         "type":"range",
         "id":"logo_max_width",
         "min":100,
         "max":1180,
         "step":20,
         "unit":"px",
         "label":"Logo maximum width",
         "default":280
      },
      {
         "type":"header",
         "content":"Content"
      },
      {
         "type":"text",
         "id":"title",
         "label":"Heading",
         "default":"Opening soon"
      },
      {
         "type":"checkbox",
         "id":"show_newsletter",
         "label":"Show newsletter form",
         "default":true
      },
      {
         "type":"text",
         "id":"newsletter_title",
         "label":"Newsletter form heading",
         "default":"Find out when we open"
      },
      {
         "type":"checkbox",
         "id":"show_social_share",
         "label":"Show social share buttons",
         "default":true
      },
      {
         "type":"text",
         "id":"social_share_title",
         "label":"Social share buttons heading",
         "default":"Share the news"
      }
   ]
}
{% endschema %}
