{% assign current_variant = product.selected_or_first_available_variant %}
    <div class="container">
       <div class="row">
          <div class="single-detail-detail ">
             <div class="row product_content_section">
                <div class="col-sm-7 col-md-7">
                    {% if product.media.size > 0 %}
                     {% if section.settings.gallery_style == 'stacked'%}
                     <div class="left-product-images has_slider">
                        <div class="ImageleftContainer">
                           <div class="nav-container">
                              <div class="slider-nav">
                                 {%- for media in product.media -%}
                                    {%-if media.media_type == 'image'-%}
                                    <div>
                                       <a href="#media-{{media.id}}" id="#media-{{media.id}}" class="productThumbImage owl-thumb-item" data-id="media-{{media.id}}">
                                       <img class="product-single__thumbnail-image" src="{{media | img_url: '150x'}}" alt="{{ media.preview_image.alt | escape }}">
                                       </a>
                                    </div>
                                    {%-endif-%}
                                 {%-endfor-%}
                              </div>
                           </div>
                           <div class="main-container">
                              <div class="slider slider-main">
                                 {%- for media in product.media -%}
                                    {%-if media.media_type == 'image'-%}
                                    <div id="media-{{media.id}}" class="responsive-image__wrapper slick-slide productImageSlideItem">
                                       <img class="responsive-image__image lazyload" src="{{media | img_url: 'master'}}" alt="{{ media.preview_image.alt | escape }}">
                                       <a href="{{media | img_url: 'master'}}" class="image-popup-link btn-gallery">
                                          <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                                             <path d="M212.686 315.314L120 408l32.922 31.029c15.12 15.12 4.412 40.971-16.97 40.971h-112C10.697 480 0 469.255 0 456V344c0-21.382 25.803-32.09 40.922-16.971L72 360l92.686-92.686c6.248-6.248 16.379-6.248 22.627 0l25.373 25.373c6.249 6.248 6.249 16.378 0 22.627zm22.628-118.628L328 104l-32.922-31.029C279.958 57.851 290.666 32 312.048 32h112C437.303 32 448 42.745 448 56v112c0 21.382-25.803 32.09-40.922 16.971L376 152l-92.686 92.686c-6.248 6.248-16.379 6.248-22.627 0l-25.373-25.373c-6.249-6.248-6.249-16.378 0-22.627z"/>
                                          </svg>
                                       </a>
                                    </div>
                                    {%-endif-%}
                                 {%-endfor-%}
                              </div>
                           </div>
                        </div>
                     </div>
                     {% else %}
                   <div class="left-product-images multiple-images">
                      <ul class="gallery-item ">
                        {%- if current_variant.featured_media != null -%}
                          {%- assign media = current_variant.featured_media -%}
                         <li>
                            {%-if media.media_type == 'image'-%}
                            <a href="javascript:void(0)">
                                <img class="responsive-image__image lazyload" src="{{media | img_url: 'master'}}" data-src="" data-sizes="auto" alt="{{ media.preview_image.alt | escape }}">
                            </a>
                            {%-endif-%}
                         </li>
                         {%endif%}                         
                        {%- for media in product.media -%}
                            {%- unless media.id == current_variant.featured_media.id -%}
                            <li>
                                {%-if media.media_type == 'image'-%}
                                <a href="javascript:void(0)">
                                    <img class="responsive-image__image lazyload" src="{{media | img_url: 'master'}}" data-src="" data-sizes="auto" alt="{{ media.preview_image.alt | escape }}">
                                </a>
                                {%-endif-%}
                            </li>
                            {%-endunless-%}
                        {%-endfor-%}
                      </ul>
                   </div>
                  {% endif %}
                  {% endif %}
                </div>
                <div class="col-sm-5 col-md-5">
                   <div class="single__product__right sidebar-fixed product-add-to-cart-right">
                     {%- assign product_form_id = 'product-form-' | append: section.id -%}
                     {% for block in section.blocks %}
                        {% case block.type %}
                           {% when 'title' %}
                           <h2>{{product.title}}</h2>
                           {% when 'text' %}
                           <p class="vendor_name">{{block.settings.text}}</p>
                           {% when 'review-star' %}
                           <div class="ratingbox">
                              <div class="star-rating">
                                 <span class="fa fa-star checked"></span>
                                 <span class="fa fa-star checked"></span>
                                 <span class="fa fa-star checked"></span>
                                 <span class="fa fa-star checked"></span>
                                 <span class="fa fa-star checked"></span>
                                 <span class="spr-badge-caption">26 reviews</span>
                              </div>
                           </div>
                           {% when 'price' %}
                           <div class="prizebox" data-price-wrapper="">
                              {% if current_variant.compare_at_price > current_variant.price %}
                                 <h3 id="get_price">
                                 {{current_variant.price | money}}
                                 <span class="main-price">
                                    <del>{{current_variant.compare_at_price | money}}</del>
                                 </span>
                                 </h3>
                                 <span class="percent-off">({{ product.compare_at_price | minus: product.price | times: 100 | divided_by: product.compare_at_price | append: "% OFF"}})</span>
                                    {% else %}
                                    <h3 id="get_price">{{current_variant.price | money}}</h3>
                              {% endif %}
                           </div>
                           {% when 'variant' %}
                           {% unless product.has_only_default_variant %}
                              {%- for option in product.options_with_values -%}
                                 {% assign downOption = option.name | downcase %}
                                 {% assign optionIndex = forloop.index %}
                                 {% assign varOptionIndex = 'option'|append:forloop.index %}
                                 <div class="select__{{downOption}}">
                                    <p class="small-size size_title">SELECT {{option.name}}</p>
                                    {% if settings.option_style == 'swatch' %}
                                    <ul class="product-loop-variants {{downOption}} variants {{settings.color_swatch_style}} _small list-unstyled">                            
                                    {%- for value in option.values -%}  
                                       <li class="{{downOption}}_option">
                                          <input class="productOption" type="radio" name="option-{{optionIndex}}" value="{{value}}" {% if option.selected_value == value %}checked{% endif %}>
                                         {% assign variantImage = '' %}
                                         {% if settings.variant_image %}                                                                                  
                                                   {% assign variantsList = product.variants | where: varOptionIndex, value %}                                             
                                                   {% for variant in variantsList %}
                                                      {% if variant.featured_image != blank %}
                                         					{% assign variantImage = variant.featured_image %}
                                                         {% break %}
                                                      {% endif %}
                                                   {% endfor %}
                                                {% endif %}
                                         
                                             {% if downOption == 'color' or  downOption == 'colour'%}    
                                          <span 
                                                class="option {% if option.selected_value == value %}selected{% endif %} {% unless settings.variant_image and variantImage != blank %}variantColorOption{% endunless %}" 
                                                {% if downOption == 'color' or  downOption == 'colour'%}{% unless settings.variant_image and variantImage != blank %} 
                                                style="background-color:{{value}};"{% endunless %}{% endif %}
                                                >
                                         {% if settings.variant_image %}    
                                                      {% if variantImage != blank %}
                                                         <img src="{{variantImage | img_url:"100x"}}">
                                                      {% endif %}
                                                {% endif %}
                                          </span>
                                             {% else %}
                                          <span class="option {% if option.selected_value == value %}selected{% endif %}" >
                                             {{value}}
                                         </span>
                                             {% endif%}
                                       </li>
                                    {% endfor %}
                                    </ul> 
                                    {% elsif settings.option_style == 'dropdown' %}
                                    <div class="dropdown {{downOption}}-select productOptionSelect">
                                       <button id="dLabel" class="dropdown-selected" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        {{option.selected_value}}
                                       </button>
                                        <span class="caret"></span>
                                       <ul class="product-loop-variants dropdown-menu {{downOption}}-menu productOptionSelectList" aria-labelledby="dLabel" style="display: none;">
                                          {%- for value in option.values -%}
                                          <li class="productOption">
                                          <input type="radio" name="option-{{optionIndex}}" value="{{value}}" {% if option.selected_value == value %}checked{% endif %}>
                                          {{value}}
                                       </li>
                                        {% endfor %}
                                       </ul>
                                     </div>
                                    {% endif %}
                                 </div>
                              {% endfor %}
                           {% endunless %}
                           <script type="application/json" name="variant-json">
                              {{ product.variants | json }}
                           </script>
                           {% when 'quantity' %}
                           <div class="select__quantity">
                              <p class="small-size size_title">SELECT Quantity</p>                              
                              <div class="quantity">
                                   <input type="number" name="quantity" min="1" max="50" step="1" value="1" form="{{product_form_id}}">
                                   <div class="quantity-nav">
                                      <div class="quantity-button quantity-up"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 102 99" style="enable-background:new 0 0 102 99;" xml:space="preserve"><polygon points="100.1,37.2 63.5,37.2 63.5,0.5 39.1,0.5 39.1,37.2 2.4,37.2 2.4,61.6 39.1,61.6 39.1,98.3 63.5,98.3 63.5,61.6 100.1,61.6 "></polygon></svg></div>
                                      <div class="quantity-button quantity-down"><svg version="1.1" id="Layer_1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" viewBox="0 0 102 99" style="enable-background:new 0 0 102 99;" xml:space="preserve"><polyline points="63.3,61.6 102,61.6 102,37.2 63.3,37.2 "></polyline><polyline points="78.7,37.2 0.1,37.2 0.1,61.6 78.7,61.6 "></polyline></svg></div>
                                   </div>
                                </div>
                              
                           </div>
                           {% when 'description' %}
                              <div class="rte">
                                 {{product.description}}
                              </div>
                           {% when 'button' %}
                           {%- form 'product', product, id: product_form_id, class: 'form', novalidate: 'novalidate', data-type: 'add-to-cart-form' -%}
                              <input type="hidden" name="id" value="{{ product.selected_or_first_available_variant.id }}">
                              <div class="product_button">
                                 <div class="pdp-action-container">
                                    <div class="pdp-add-to-bag pdp-button pdp-flex pdp-center">
                                      <button type="submit" class="Sd_addProduct add_to_cart orange-btn button"><span>Add to Cart</span>
                                        <svg height="38" width="38" class="svg-loader" style="display:none;">
                                          <circle r="13" cx="14" cy="20"></circle>
                                          <circle stroke-dasharray="103.964594 87.96459430051421" r="13" cx="14" cy="20"></circle>
                                        </svg>
                                      </button>
                                    </div>
                                    {% if block.settings.dynamic_checkout_btn %}
                                    {{ form | payment_button }}
                                    {% endif %}
                                 </div>
                              </div>
                           {% endform %}
                     		{% when 'social-icons' %}
                     <div class="social-icons">
                       <ul class="share-icons">
                         <li> <a target="_blank" href="#">
                           <svg xmlns="http://www.w3.org/2000/svg" x="0px" y="0px" width="24" height="24" viewBox="0 0 24 24"><path d="M16.403,9H14V7c0-1.032,0.084-1.682,1.563-1.682h0.868c0.552,0,1-0.448,1-1V3.064c0-0.523-0.401-0.97-0.923-1.005 C15.904,2.018,15.299,1.999,14.693,2C11.98,2,10,3.657,10,6.699V9H8c-0.552,0-1,0.448-1,1v2c0,0.552,0.448,1,1,1l2-0.001V21 c0,0.552,0.448,1,1,1h2c0.552,0,1-0.448,1-1v-8.003l2.174-0.001c0.508,0,0.935-0.381,0.993-0.886l0.229-1.996 C17.465,9.521,17.001,9,16.403,9z"></path></svg>FACEBOOK 
                           </a>
                         </li>
                         <li><a target="_blank" href="#">
                           <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="icon" viewBox="0 0 20 20"><path d="M19.551 4.208q-.815 1.202-1.956 2.038 0 .082.02.255t.02.255q0 1.589-.469 3.179t-1.426 3.036-2.272 2.567-3.158 1.793-3.963.672q-3.301 0-6.031-1.773.571.041.937.041 2.751 0 4.911-1.671-1.284-.02-2.292-.784T2.456 11.85q.346.082.754.082.55 0 1.039-.163-1.365-.285-2.262-1.365T1.09 7.918v-.041q.774.408 1.773.448-.795-.53-1.263-1.396t-.469-1.864q0-1.019.509-1.997 1.487 1.854 3.596 2.924T9.81 7.184q-.143-.509-.143-.897 0-1.63 1.161-2.781t2.832-1.151q.815 0 1.569.326t1.284.917q1.345-.265 2.506-.958-.428 1.386-1.732 2.18 1.243-.163 2.262-.611z"></path></svg>TWITTER
                           </a>
                         </li>
                         <li> <a target="_blank" href="//pinterest.com/pin/create/button/?url=https://yuva-fashion-theme.myshopify.com/products/kaati-faati-jeans&amp;media=//cdn.shopify.com/s/files/1/0331/0108/6851/products/pro_1_9fb9b8ce-cba7-494b-9596-0dc7fcda00bb_1024x1024.png?v=1581050857&amp;description=Women%20luggage%20bag">
                           <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" class="icon" viewBox="0 0 20 20"><path d="M9.958.811q1.903 0 3.635.744t2.988 2 2 2.988.744 3.635q0 2.537-1.256 4.696t-3.415 3.415-4.696 1.256q-1.39 0-2.659-.366.707-1.147.951-2.025l.659-2.561q.244.463.903.817t1.39.354q1.464 0 2.622-.842t1.793-2.305.634-3.293q0-2.171-1.671-3.769t-4.257-1.598q-1.586 0-2.903.537T5.298 5.897 4.066 7.775t-.427 2.037q0 1.268.476 2.22t1.427 1.342q.171.073.293.012t.171-.232q.171-.61.195-.756.098-.268-.122-.512-.634-.707-.634-1.83 0-1.854 1.281-3.183t3.354-1.329q1.83 0 2.854 1t1.025 2.61q0 1.342-.366 2.476t-1.049 1.817-1.561.683q-.732 0-1.195-.537t-.293-1.269q.098-.342.256-.878t.268-.915.207-.817.098-.732q0-.61-.317-1t-.927-.39q-.756 0-1.269.695t-.512 1.744q0 .39.061.756t.134.537l.073.171q-1 4.342-1.22 5.098-.195.927-.146 2.171-2.513-1.122-4.062-3.44T.59 10.177q0-3.879 2.744-6.623T9.957.81z"></path></svg>Pinterest
                           </a> 
                         </li>
                       </ul>
                       </div>
                     <div class="product-contact-form">
                       <div class="ask_about"> <a href="javascript:;" class="ask_this_product" data-name="Women luggage bag"> <i class="far fa-envelope"></i> Ask about this product</a></div>
                       <div class="askmeMain" style="display: none;">
                         <div class="askmecontainer">   
                           <a href="javascript:;" class="ask_cross">
                             <svg xmlns="http://www.w3.org/2000/svg" width="13" height="13" viewBox="0 0 13 13">
                               <defs>
                                 <style>
                                   .close {
                                     fill: #323030;
                                     fill-rule: evenodd;
                                     opacity: 0.6;
                                   }
                                 </style>
                               </defs>
                               <path d="M1235.63,300.5l5.11-5.115a0.813,0.813,0,0,0-1.15-1.15l-5.11,5.115-5.12-5.115a0.813,0.813,0,1,0-1.15,1.15l5.12,5.115-5.12,5.116a0.809,0.809,0,0,0,0,1.15,0.82,0.82,0,0,0,.58.238,0.8,0.8,0,0,0,.57-0.238l5.12-5.115,5.11,5.115a0.814,0.814,0,0,0,1.15,0,0.809,0.809,0,0,0,0-1.15Z" transform="translate(-1228 -294)"></path>
                             </svg>    
                           </a>
                           <h3 class="productheading">Women luggage bag</h3>    


                           {%- form 'contact', id: 'ContactForm' -%}


                             <input type="hidden" name="contact[product]" id="ContactFormProduct" placeholder="Product:" value="{{product.title}}">
                             <div class="form-group">
                               <label for="ContactFormName">Name</label>
                               <input class="ask-me-form-control " type="text" name="contact[name]" id="ContactFormName" placeholder="Name" value="" required="">
                             </div>    
                             <div class="form-group">
                               <div class="row">
                                 <div class="col-md-6 width-50">
                                   <label for="ContactFormEmail">Email</label>
                                   <input class="ask-me-form-control " type="email" name="contact[email]" id="ContactFormEmail" placeholder="Email" value="" spellcheck="false" autocomplete="off" autocapitalize="off" required="">

                                 </div>
                                 <div class="col-md-6 width-50">
                                   <input class="ask-me-form-control " type="tel" name="contact[phone]" id="ContactFormPhone" placeholder="Phone Number" value="" pattern="[0-9\-]*">
                                 </div>
                               </div>
                             </div>
                             <div class="form-group">
                               <label for="ContactFormMessage">Message</label>
                               <textarea class="ask-me-form-control " rows="10" name="contact[body]" id="ContactFormMessage" placeholder="Message" required=""></textarea>
                             </div>
                             <input type="submit" class="button submit-button" value="Send">
                           {% endform %}
                         </div>
                       </div>


                     </div>
                           {% when 'description_tab' %}
                              {% if block.settings.width == 'half' %}
                                 <div class="product-detail">
                                    <div class="accordion-container">
                                       <div class="set">
                                          <h4 class="panel-title">
                                             <a href="javascript:void(0)">
                                             Description
                                             <i class="fa fa-plus"></i>
                                             </a>
                                          </h4>
                                          <div class="content" style="display:none;">
                                             <div class="panel-body">
                                                {{product.description}}
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                              {% else %}
                              {% assign full_width_tabs = true %}
                              {% endif %}
                           {% when 'reviews_tab' %}
                              {% if block.settings.width == 'half' %}
                                 <div class="product-detail">
                                    <div class="accordion-container">
                                       <div class="set">
                                          <h4 class="panel-title">
                                             <a href="javascript:void(0)">
                                             Reviews
                                             <i class="fa fa-plus"></i>
                                             </a>
                                          </h4>
                                          <div class="content" style="display:none;">
                                             <div class="panel-body">
                                                <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 </div>
                                 {% else %}
                                 {% assign full_width_tabs = true %}
                              {% endif %}
                           {% when 'accordion' %}
                              {% if block.settings.width == 'half' %}
                                 {% if block.settings.heading != blank %}
                                    <div class="product-detail">
                                       <div class="accordion-container">
                                          <div class="set">
                                             <h4 class="panel-title">
                                                <a href="javascript:void(0)">
                                                {{block.settings.heading}}
                                                <i class="fa fa-plus"></i>
                                                </a>
                                             </h4>
                                             <div class="content" style="display:none;">
                                                <div class="panel-body">
                                                   {{block.settings.content}}
                                                </div>
                                             </div>
                                          </div>
                                       </div>
                                    </div>
                                 {% endif %}
                                 {% else %}
                                 {% assign full_width_tabs = true %}
                              {% endif %}
                        {% endcase %}
                     {% endfor %}
                   </div>
                </div>
             </div> 
          
             {% if full_width_tabs %}
             <div class="Specification-tabs">           
               <div class="container container-product">
                 <ul class="resp-tabs-list easy_tabs">    
                  {% for block in section.blocks %}                  
                  {% if block.type == 'description_tab' and block.settings.width == 'full' %}  
                   <li class="resp-tab-item easy_tabs" content="tabContent{{forloop.index}}"><a>Description</a></li> 
                   {% endif %}                   
                  {% if block.type == 'reviews_tab' and block.settings.width == 'full' %}   
                  <li class="resp-tab-item easy_tabs" content="tabContent{{forloop.index}}"><a>Reviews</a></li> 
                  {% endif %}
                  {% if block.type == 'accordion' and block.settings.width == 'full' %}   
                   <li class="resp-tab-item easy_tabs" content="tabContent{{forloop.index}}"><a>{{block.settings.heading}}</a></li> 
                   {% endif %}
                   {% endfor %}
                 </ul>
               </div>
             </div>
             <div class="container ">        
               <div class="row">
               {% for block in section.blocks %}
                  {% if block.type == 'description_tab' and block.settings.width == 'full' %}   
                     <div class="product-description tab-content resp-tab-content easy_tabs" id="tabContent{{forloop.index}}" aria-labelledby="easy_tabs_tab_item-2" style="display: none;">
                        {{product.description}}             
                     </div>   
                  {% endif %}
                  {% if block.type == 'reviews_tab' and block.settings.width == 'full' %}   
                     <div class="product-description tab-content resp-tab-content easy_tabs" id="tabContent{{forloop.index}}" aria-labelledby="easy_tabs_tab_item-2" style="display: none;">
                        <div id="shopify-product-reviews" data-id="{{product.id}}">{{ product.metafields.spr.reviews }}</div>           
                     </div> 
                  {% endif %}
                  {% if block.type == 'accordion' and block.settings.width == 'full' %}   
                     <div class="product-description tab-content resp-tab-content easy_tabs" id="tabContent{{forloop.index}}" aria-labelledby="easy_tabs_tab_item-2" style="display: none;">
                        {{block.settings.content}}            
                     </div> 
                  {% endif %}
               {% endfor %}
               </div>
               </div>
             {% endif %}          
          </div>
       </div>
    </div>
   <script>
      var tabHead = document.getElementsByClassName('resp-tab-item');
      if(tabHead.length > 0 ){
         tabHead[0].classList.add('active');
         var tabContent =  document.getElementsByClassName('resp-tab-content');
         tabContent[0].style.display = 'block';
         function clearActive(){
            Array.from(tabHead).forEach(function(item) {
               item.classList.remove('active');
            });
            Array.from(tabContent).forEach(function(item) {
               item.style.display = 'none';
            });
         }
         Array.from(tabHead).forEach(function(btn) {
            btn.addEventListener("click", ()=>{ 
               clearActive();
               btn.classList.add("active");
               var _value = btn.getAttribute("content");
               document.getElementById(_value).style.display = "block";
            });
         });
      }
   </script>
   <style>
      li.resp-tab-item.easy_tabs a {
    color: #757575;
    font-size: 15px;
    text-transform: uppercase;
    line-height: 30px;
    font-weight: 500;
    padding: 15px 0;
    display: inline-block;
    position: relative;
    margin-left: 0;
    cursor: pointer;
}
li.resp-tab-item.easy_tabs {
    list-style: none;
    width: auto;
    text-align: left;
    padding-right: 7%;
}
ul.resp-tabs-list.easy_tabs {
    justify-content: flex-start;
    align-items: center;
    display: flex;
}
.Specification-tabs {
    text-align: center;
    border-top: 1px solid #eff0f3;
    border-bottom: 1px solid #eff0f3;
    margin-top: 0;
}
li.resp-tab-item.easy_tabs.active a {
    color: #000;
    position: relative;
}
li.resp-tab-item.easy_tabs.active a:before {
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    background-color: #000;
    width: 100%;
    height: 2px;
}
.product-description.tab-content.resp-tab-content {
    padding: 40px 0 25px;
    width: 100%;
    max-width: 950px;
    text-align: left;
}
.product-description.tab-content.resp-tab-content :empty {
   display:inline-block;
}
   </style>
{{'slider.js' | asset_url | script_tag}}
{% schema %}
{
    "name": "t:sections.product-template.name",
    "tag": "section",
    "class": "product-section single__product",
    "settings": [
         {
         "type": "select",
         "id": "gallery_style",
         "label": "t:sections.product-template.settings.gallery_style.label",
         "default":"gallery",
         "options": [
            {
               "value": "gallery",
               "label": "t:sections.product-template.settings.gallery_style.options.gallery.label"
            },
            {
               "value": "stacked",
               "label": "t:sections.product-template.settings.gallery_style.options.stacked.label"
            }
         ]
      }
    ],
    "blocks": [
        {
            "type": "@app"
        },
        {
            "type": "title",
            "name": "t:sections.product-template.blocks.title.name",
            "limit":1
        },
        {
            "type": "text",
            "name": "t:sections.product-template.blocks.text.name",
            "settings": [
               {
               "type": "text",
               "id": "text",
               "label": "t:sections.product-template.blocks.text.settings.text.name"
               }
            ]
        },
        {
            "type": "price",
            "name": "t:sections.product-template.blocks.price.name",
            "limit":1
        },
        {
            "type": "review-star",
            "name": "t:sections.product-template.blocks.review-star.name",
            "limit":1
        },
        {
            "type": "variant",
            "name": "t:sections.product-template.blocks.variant.name",
            "limit":1,
            "settings":[]
        },
        {
            "type": "quantity",
            "name": "t:sections.product-template.blocks.quantity.name",
            "limit":1
        },
        {
            "type": "button",
            "name": "t:sections.product-template.blocks.button.name",
            "limit":1,
            "settings": [
               {
                  "type": "checkbox",
                  "id": "dynamic_checkout_btn",
                  "default":true,
                  "label": "t:sections.product-template.blocks.button.settings.dynamic_checkout_btn.label"
               }
            ]
        },
        {
            "type": "description",
            "name": "t:sections.product-template.blocks.description.name",
            "limit":1
        },
        {
            "type": "description_tab",
            "name": "t:sections.product-template.blocks.description_tab.name",
            "limit":1,
            "settings": [
               {
                  "type": "select",
                  "id": "width",
                  "label": "t:sections.product-template.blocks.accordion.settings.width.label",
                  "default":"half",
                  "options": [
                     {
                        "value": "half",
                        "label": "t:sections.product-template.blocks.accordion.settings.width.options.half.label"
                     },
                     {
                        "value": "full",
                        "label": "t:sections.product-template.blocks.accordion.settings.width.options.full.label"
                     }
                  ]
               }
            ]            
        },
        {
            "type": "reviews_tab",
            "name": "t:sections.product-template.blocks.reviews_tab.name",
            "limit":1,
            "settings": [
               {
                  "type": "select",
                  "id": "width",
                  "label": "t:sections.product-template.blocks.accordion.settings.width.label",
                  "default":"half",
                  "options": [
                     {
                        "value": "half",
                        "label": "t:sections.product-template.blocks.accordion.settings.width.options.half.label"
                     },
                     {
                        "value": "full",
                        "label": "t:sections.product-template.blocks.accordion.settings.width.options.full.label"
                     }
                  ]
               }
            ]
        },
        {
            "type": "accordion",
            "name": "Accordion",
            "name": "t:sections.product-template.blocks.accordion.name",
            "settings": [
               {
                  "type": "text",
                  "id": "heading",
                  "label": "t:sections.product-template.blocks.accordion.settings.heading.label"
               },
               {
                  "type": "richtext",
                  "id": "content",
                  "label": "t:sections.product-template.blocks.accordion.settings.content.label"
               },
               {
                  "type": "select",
                  "id": "width",
                  "label": "t:sections.product-template.blocks.accordion.settings.width.label",
                  "default":"half",
                  "options": [
                     {
                        "value": "half",
                        "label": "t:sections.product-template.blocks.accordion.settings.width.options.half.label"
                     },
                     {
                        "value": "full",
                        "label": "t:sections.product-template.blocks.accordion.settings.width.options.full.label"
                     }
                  ]
               }
            ]
        }
    ]
}
{% endschema %}