{% assign current_variant = product.selected_or_first_available_variant %}
{% capture productHighlights %}
{% for block in section.blocks %}
{% case block.type %}
{% when 'highlights' %}
{% assign showHighlights = false %}
{% capture highlights %}
{% for i in (1..4) %}
{% assign pointName = 'hp_name_' | append: i %}
{% assign pointValue = 'hp_value_' | append: i %}
{% if block.settings[pointName] != blank and block.settings[pointValue] != blank %}
{% assign showHighlights = true %}
<div class="hightlight-point">
  <p class="hightlight-point-name">{{block.settings[pointName]}}</p>
  <p class="hightlight-point-value">{{block.settings[pointValue]}}</p>
</div>
{% endif %}
{% endfor %}
{% endcapture %}
{% if showHighlights %}
<div class="product-highlights d-block d-sm-none">
  <h2>{{block.settings.highlight_heading}}</h2>
  <div class="highlights">
    {{highlights}}
  </div>
</div>
{% endif %}
{% endcase %}
{%-endfor-%}
{% endcapture %}
<div class="section-spacer"> 
	<div class="container">
    <div class="single-detail-detail ">
      <div class="row product_content_section">
        {% if product.media.size > 0 %}
        <div class="col-sm-12 col-md-7 col-lg-7">
          {% if section.settings.gallery_style == 'stacked'%}
          <div class="left-product-images has_slider {% if product.media.size == 1 %} productImageContainer-fullWidth {% endif %}">
            <div class="ImageleftContainer">
              <div class="nav-container">
                <div class="slider-nav">
                  {%- for media in product.media -%}
                  <div>
                    <a href="#media-{{media.id}}" id="media-{{media.id}}" class="productThumbImage {% if forloop.first %}active{% endif %}" data-id="media-{{media.id}}" aria-label="{{media.alt | default:product.title}}">
                      <img class="product-single__thumbnail-image" src="{{media.preview_image | img_url: '150x'}}" alt="{{ media.preview_image.alt | escape }}">
                    </a>
                  </div>
                  {%-endfor-%}
                </div>
              </div>
              <div class="main-container">
                <div class="slider slider-main" mobile-only data-slider>
                  {%- for media in product.media -%}
                {%-case media.media_type-%}
                  {%- when 'image' -%}
                  <div class="responsive-image__wrapper productImageSlideItem">
                    <a id="media-{{media.id}}"  href="{{media | img_url: 'master'}}" class="productImageItem image-popup-link" data-fancybox="gallery{{section.id}}" aria-label="{{media.alt | default:product.title}}">
                      <img class="responsive-image__image lazyload" src="{{media | img_url: 'master'}}" alt="{{ media.preview_image.alt | escape }}">
                    </a>
                    {% if forloop.last %}
                    {{productHighlights}}
                    {% endif%}
                  </div>
                  {%- when 'external_video' -%}
                  <div  class="responsive-image__wrapper productImageSlideItem">
                <a id="media-{{media.id}}" href="{{media | external_video_url}}" class="productImageItem image-popup-link" data-fancybox="gallery{{section.id}}" aria-label="{{media.alt | default:product.title}}" aria-label="{{media.alt | default:product.title}}">
                  {{media | external_video_url: autoplay: false, loop: loop | external_video_tag: class: video_class, loading: "lazy"}}
                  
                </a>{% if forloop.last %}
                 {{productHighlights}}
                  {% endif%}
                  </div>
                  {%- when 'video' -%}
                  <div class="responsive-image__wrapper productImageSlideItem">
                <a id="media-{{media.id}}" href="{{video_source.url}}" {{media | video_url | link}} class="productImageItem image-popup-link" data-fancybox="gallery{{section.id}}" aria-label="{{media.alt | default:product.title}}">
                 {{ media |media_tag: image_size: "2048x", autoplay: false, loop: loop, controls: true, preload: "none", autoplay: false }}
                </a> 
                  {% if forloop.last %}
                 {{productHighlights}}
                  {% endif%}
                  </div>
                  {%- when 'model' -%}
                  <div id="media-{{media.id}}" class="responsive-image__wrapper productImageSlideItem">
                  {{media | model_viewer_tag }}
                  {% if forloop.last %}
                 {{productHighlights}}
                  {% endif%}
                  </div>
                  {%-endcase-%}
                  {%-endfor-%}
                </div>
              </div>
            </div>
          </div>
          {% else %}
          <div class="left-product-images multiple-images">
            <div class="gallery-item" mobile-only data-slider>
              {%- if current_variant.featured_media != null -%}
              {%- assign media = current_variant.featured_media -%}
              <div class="gallery-item-product" id="media-{{media.id}}">
                {%-case media.media_type-%}
                  {%- when 'image' -%}
                <a href="{{media | img_url: 'master'}}" data-fancybox="gallery{{section.id}}" aria-label="{{media.alt | default:product.title}}">
                  <img class="responsive-image__image lazyload" src="{{media | img_url: 'master'}}" data-src="" data-sizes="auto" alt="{{ media.preview_image.alt | escape }}">
                  {% if forloop.last %}
                 {{productHighlights}}
                  {% endif%}
                </a>
                  {%- when 'external_video' -%}
                <a href="{{media | external_video_url}}" class="iframe-gallery-item"  data-fancybox="gallery{{section.id}}" aria-label="{{media.alt | default:product.title}}">
                  {{media | external_video_url: autoplay: false, loop: loop | external_video_tag: class: video_class, loading: "lazy"}}
                  {% if forloop.last %}
                 {{productHighlights}}
                  {% endif%}
                </a>
                  {%- when 'video' -%}
                <a href="{{media.video_sources.url}}" data-fancybox="gallery{{section.id}}" aria-label="{{media.alt | default:product.title}}">
                  {{ media |media_tag: image_size: "2048x", autoplay: false, loop: loop, controls: true, preload: "none", autoplay: false }}
                  {% if forloop.last %}
                 {{productHighlights}}
                  {% endif%}
                </a>
                  {%- when 'model' -%}
                <div>
                  {{media | model_viewer_tag }}                  
                  {% if forloop.last %}
                 {{productHighlights}}
                  {% endif%}
                </div>
                  {%- endcase -%}
              </div>
              {%endif%}                         
              {%- for media in product.media -%}
              {%- unless media.id == current_variant.featured_media.id -%}
              <div  class="gallery-item-product" id="media-{{media.id}}">
                  {%-case media.media_type-%}
                  {%- when 'image' -%}
                <a href="{{media | img_url: 'master'}}" class="iframe-gallery-item" data-fancybox="gallery{{section.id}}" aria-label="{{media.alt | default:product.title}}">
                  <img class="responsive-image__image lazyload" src="{{media | img_url: 'master'}}" data-src="" data-sizes="auto" alt="{{ media.preview_image.alt | escape }}">
                  {% if forloop.last %}
                 {{productHighlights}}
                  {% endif%}
                </a>
                  {%- when 'external_video' -%}
                <a href="{{media | external_video_url}}" class="iframe-gallery-item"  data-fancybox="gallery{{section.id}}" aria-label="{{media.alt | default:product.title}}">
                  {{media | external_video_url: autoplay: false, loop: loop | external_video_tag: class: video_class, loading: "lazy"}}
                  {% if forloop.last %}
                 {{productHighlights}}
                  {% endif%}
                </a>
                  {%- when 'video' -%}
                <a href="{{media.sources[1].url}}" data-fancybox="gallery{{section.id}}" aria-label="{{media.alt | default:product.title}}">
                  {{ media |media_tag: image_size: "2048x", autoplay: false, loop: loop, controls: true, preload: "none", autoplay: false }}
                  {% if forloop.last %}
                 {{productHighlights}}
                  {% endif%}
                </a>
                  {%- when 'model' -%}
                <div>
                  {{media | model_viewer_tag }}
                  {% if forloop.last %}
                 {{productHighlights}}
                  {% endif%}
                </div>
                  {%- endcase -%}
              </div>
              {%-endunless-%}
              {%-endfor-%}
            </div>
          </div>
          {% endif %}
        </div>
          {% endif %}
        <div class="col-sm-12 col-md-5 col-lg-5 {% if product.media.size == 0 %}mx-auto{% endif %}">
          <div class="single__product__right sidebar-fixed">
          {% include 'product-form' custom:true  %}
          </div>
        </div>
      </div> 
	
      {% for block in section.blocks %}                  
      {% if block.type == 'content' and block.settings.width == 'full' %}  
      {% if block.settings.style == "accordion" %}
      {% include 'product-accordion-content'  position:"belowProductGalllery" %}
      {% else %}
      {% include 'product-tabs-content' %}
      {% endif %}
      {% endif %}       
      {% endfor %}
    </div>
  </div>
</div>

{{size_chart_content}}

{% include 'similar-products' %}
    <script type="application/json" name="slider-json">    
         {
          "slidesToShow":1,
          "slidesToScroll":1,
          "infinite":true,
          "draggable":true,
          "cssEase": "linear",
          "speed":400,
          "dots":true,
          "arrows":false,
          "mobileFirst":true,
          "prevArrow":"<button type=\"button\" class=\"slick-prev\" aria-label=\"Prev\"><span><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M15.526 18.966L8.559 12l6.967-6.967\"></path></svg></span></button>",
          "nextArrow":"<button type=\"button\" class=\"slick-next\" aria-label=\"Next\"><span><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M8.474 18.966L15.44 12 8.474 5.033\"></path></svg></span></button>"
        }
    </script>
<script>
  
  document.addEventListener("DOMContentLoaded", tabAccordionContent,false);
  document.addEventListener("shopify:section:load", tabAccordionContent,false);
  
  
  document.addEventListener("DOMContentLoaded", sizeChart,false);
  document.addEventListener("shopify:section:load", sizeChart,false);
  
  function tabAccordionContent(){
    var tabHead = document.getElementsByClassName('resp-tab-item');
    if(tabHead.length > 0 ){
      tabHead[0].classList.add('active');
      var tabContent =  document.getElementsByClassName('resp-tab-content');
      tabContent[0].style.display = 'block';
      function clearActive(){
        Array.from(tabHead).forEach(function(item) {
          item.classList.remove('active');
        });
        Array.from(tabContent).forEach(function(item) {
          item.style.display = 'none';
        });
      }
      Array.from(tabHead).forEach(function(btn) {
        btn.addEventListener("click", ()=>{ 
                             clearActive();
        btn.classList.add("active");
        var _value = btn.getAttribute("content");
        document.getElementById(_value).style.display = "block";
      });
    });
  }
                            var accordionHead = document.getElementsByClassName('accordion-{{section.id}}');
                            if(accordionHead.length > 0 ){
    var accordionContent =  document.getElementsByClassName('productSection-content');

    Array.from(accordionHead).forEach(function(btn) {
      btn.addEventListener("click", ()=>{
                           let icon = btn.querySelectorAll('.fa')[0];
      if(btn.classList.contains('active')){
        clearAccordion();
      }
      else{
        btn.classList.add("active");
        var _value = btn.getAttribute("content");

        clearAccordion(btn, document.getElementById(_value));
        DOMAnimations.slideDown( document.getElementById(_value));
      }
    });
  });
  }
  }
  function clearAccordion(currentHead,currentContent){
    var accordionHeads = document.getElementsByClassName('accordion-{{section.id}}');
                                                         var accordionContents =  document.getElementsByClassName('productSection-content');
    Array.from(accordionHeads).forEach(function(item) {
      if(item == currentHead){
        return;
      }
      else{
        item.classList.remove('active');
      }
    });
    Array.from(accordionContents).forEach(function(item) {
      if(item == currentContent){
        return;
      }
      else{
        DOMAnimations.slideUp(item);
      }
    });
  }
  
  
  function sizeChart(){
  	var sizeChartInit = document.getElementById('sizeChart');
    if(sizeChartInit){
      var sizeChartModel = document.getElementById('sizeChartModel');
      var sizeChartClose = sizeChartModel.querySelector('#sizeChartClose');
      sizeChartInit.addEventListener("click", ()=>{ 
                                     
//         DOMAnimations.slideDown(sizeChartModel);
                                     sizeChartModel.fadeIn();
      document.querySelector('body').classList.add('scrollHidden');
    });
      sizeChartClose.addEventListener("click", ()=>{ 
                                      document.querySelector('body').classList.remove('scrollHidden');
                                     sizeChartModel.fadeOut();
//         DOMAnimations.slideUp(sizeChartModel);
    });
    }
  }
</script>


<script type="application/ld+json">
{
  "@context": "http://schema.org/",
  "@type": "Product",
  "name": "{{ product.title | escape }}",
  "url": "{{ shop.url }}{{ product.url }}",
  {% if product.featured_image %}
    {% assign image_size = product.featured_image.width | append: 'x' %}
    "image": [
      "https:{{ product.featured_image.src | img_url: image_size }}"
    ],
  {% endif %}
  "description": "{{ product.description | strip_html | escape }}",
  {% if current_variant.sku != blank %}
    "sku": "{{ current_variant.sku }}",
  {% endif %}
  "brand": {
    "@type": "Thing",
    "name": "{{ product.vendor | escape }}"
  },
  {% if product.variants %}
    "offers": [
      {% for variant in product.variants %}
        {
          "@type" : "Offer",
          "availability" : "http://schema.org/{% if product.available %}InStock{% else %}OutOfStock{% endif %}",
          "price" : "{{ variant.price | divided_by: 100.00 }}",
          "priceCurrency" : "{{ shop.currency }}",
          "url" : "{{ shop.url }}{{ variant.url }}",
          "itemOffered" :
          {
              "@type" : "Product",
              {% if variant.image %}
                {% assign variant_image_size = variant.image.width | append: 'x' %}
                "image": "http:{{ variant.image.src | img_url: variant_image_size }}",
              {% endif %}
              {% if variant.title != blank %}
                "name" : "{{ variant.title | escape }}",
              {% endif %}
              {% if variant.sku != blank %}
                "sku": "{{ variant.sku }}",
              {% endif %}
              {% if variant.weight != blank %}
                "weight": {
                  "@type": "QuantitativeValue",
                  {% if variant.weight_unit != blank %}
                    "unitCode": "{{ variant.weight_unit }}",
                  {% endif %}
                  "value": "{{ variant.weight | weight_with_unit: variant.weight_unit }}"
                },
              {% endif %}
              "url": "{{ shop.url }}{{ variant.url }}"
          }
        }{% unless forloop.last %},{% endunless %}
      {% endfor %}
    ]
  {% endif %}
}
</script>

<style>
.fancybox__bg_container {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: -1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgb(0 0 0);
    -moz-box-shadow: 5px 5px 5px rgba(68,68,68);
    -webkit-box-shadow: 5px 5px 5px rgb(68 68 68);
    box-shadow: 5px 5px 5px rgb(0 0 0 / 96%);
}
.fancybox__bg_container .fancybox__bg_container_image {
    width: 100%;
    height: 100%;
    object-fit: cover;
    -webkit-filter: blur(30px) brightness(60%);
    filter: blur(30px) brightness(60%);
    -webkit-transform: translate3d(0,0,0);
    transform: translate3d(0,0,0);
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}
</style>
<script>
  $(document).ready(function(){
    var fancySelector= '[data-fancybox="gallery{{section.id}}"]';
    Fancybox.bind(fancySelector, {
      on: {
        load: (fancybox, slide) => {
          var fancyBoxContainer = $('body').find('.fancybox__container');
          if (slide.type === "image") {
            if(fancyBoxContainer.find('.fancybox__bg_container').length == 0 ){
              fancyBoxContainer.append(`<div class="fancybox__bg_container"><img class="fancybox__bg_container_image" src="${fancybox.getSlide().src}"/></div>`);            
            }
            else{
              fancyBoxContainer.find('.fancybox__bg_container_image').attr('src',fancybox.getSlide().src);
            }
          }
        },
        done: (fancybox, slide) => {
          var fancyBoxContainer = $('body').find('.fancybox__container');
          if(fancyBoxContainer.find('.fancybox__bg_container').length == 0 ){
            fancyBoxContainer.append(`<div class="fancybox__bg_container"><img class="fancybox__bg_container_image" src="${fancybox.getSlide().src}"/></div>`);
          }
          if (slide.type === "image") {
            fancyBoxContainer.find('.fancybox__bg_container_image').attr('src',fancybox.getSlide().src);
          }
        }
      },
      Toolbar: {
        display: [
          "close",
        ],
      }
    });
  })
</script>
{{'slider.js' | asset_url | script_tag}}
{% schema %}
{
    "name": "t:sections.product-template.name",
    "tag": "section",
    "class": "product-section single__product",
    "settings": [
         {
         "type": "select",
         "id": "gallery_style",
         "label": "t:sections.product-template.settings.gallery_style.label",
         "default":"gallery",
         "options": [
            {
               "value": "gallery",
               "label": "t:sections.product-template.settings.gallery_style.options.gallery.label"
            },
            {
               "value": "stacked",
               "label": "t:sections.product-template.settings.gallery_style.options.stacked.label"
            }
         ]
      }
    ],
    "blocks": [
        {
            "type": "@app"
        },
        {
            "type": "title",
            "name": "t:sections.product-template.blocks.title.name",
            "limit":1
        },
        {
            "type": "text",
            "name": "t:sections.product-template.blocks.text.name",
            "settings": [
               {
               "type": "text",
               "id": "text",
               "label": "t:sections.product-template.blocks.text.settings.text.label"
               }
            ]
        },
        {
            "type": "price",
            "name": "t:sections.product-template.blocks.price.name",
            "limit":1
        },
        {
            "type": "review-star",
            "name": "t:sections.product-template.blocks.review-star.name",
            "limit":1,
			"settings":[
				{
					"type":"paragraph",
					"content":"To display ratings, add [Product Review app](https://apps.shopify.com/product-reviews)."
				}
			]
        },
        {
            "type": "social-icons",
            "name": "t:sections.product-template.blocks.social-icons.name",
            "limit":1
        },
        {
            "type": "variant",
            "name": "t:sections.product-template.blocks.variant.name",
            "limit":1,
            "settings":[
               {
                  "type": "page",
                  "id": "size_chart",
                  "label": "t:sections.product-template.blocks.variant.settings.size_chart.label"
               }
            ]
        },
        {
            "type": "quantity",
            "name": "t:sections.product-template.blocks.quantity.name",
            "limit":1
        },
        {
            "type": "button",
            "name": "t:sections.product-template.blocks.button.name",
            "limit":1,
            "settings": [
               {
                  "type": "checkbox",
                  "id": "dynamic_checkout_btn",
                  "default":true,
                  "label": "t:sections.product-template.blocks.button.settings.dynamic_checkout_btn.label"
               },
               {
                  "type": "checkbox",
                  "id": "show_contact",
                  "default":true,
                  "label": "t:sections.product-template.blocks.button.settings.show_contact.label"
               },
				{
                  "type": "text",
                  "id": "form_text",
                  "default":"Ask about this product",
                  "label": "t:sections.product-template.blocks.button.settings.text.label"
				}
            ]
        },
        {
            "type": "content",
            "name": "t:sections.product-template.blocks.content.name",
            "limit":1,
            "settings": [
               {
                  "type": "select",
                  "id": "width",
                  "label": "t:sections.product-template.blocks.content.settings.width.label",
                  "default":"half",
                  "options": [
                     {
                        "value": "half",
                        "label": "t:sections.product-template.blocks.content.settings.width.options.half.label"
                     },
                     {
                        "value": "full",
                        "label": "t:sections.product-template.blocks.content.settings.width.options.full.label"
                     }
                  ]
               },
               {
                  "type": "select",
                  "id": "style",
                  "label": "t:sections.product-template.blocks.content.settings.style.label",
                  "default":"accordion",
                  "options": [
                     {
                        "value": "accordion",
                        "label": "t:sections.product-template.blocks.content.settings.style.options.accordion.label"
                     },
                     {
                        "value": "tabs",
                        "label": "t:sections.product-template.blocks.content.settings.style.options.tabs.label"
                     }
                  ]
               },
               {
                  "type": "checkbox",
                  "id": "show_description",
                  "label": "t:sections.product-template.blocks.content.settings.show_description.label",
                  "default":true
               },
               {
                  "type": "text",
                  "id": "content_heading",
                  "label": "t:sections.product-template.blocks.content.settings.heading.label"
               },
               {
                  "type": "richtext",
                  "id": "content",
                  "label": "t:sections.product-template.blocks.content.settings.content.label"
               },
               {
                  "type": "checkbox",
                  "id": "show_reviews",
                  "label": "t:sections.product-template.blocks.content.settings.show_reviews.label",
                  "default":true
               }

            ]            
        },
		{
			"type":"highlights",
			"name":"t:sections.product-template.blocks.highlights.name",
			"limit":1,
			"settings":[
                  {
                    "type": "paragraph",
                    "content": "t:sections.product-template.blocks.highlights.settings.paragraph.content"
                  },
                  {
                    "type": "text",
                    "id": "highlight_heading",
                    "label": "t:sections.product-template.blocks.highlights.settings.highlight_heading.label"
                  },
                  {
                    "type": "header",
                    "content": "t:sections.product-template.blocks.highlights.settings.header1.content"
                  },
                  {
                    "type": "text",
                    "id": "hp_name_1",
                    "label": "t:sections.product-template.blocks.highlights.settings.hp_name.label"
                  },
                  {
                    "type": "text",
                    "id": "hp_value_1",
                    "label": "t:sections.product-template.blocks.highlights.settings.hp_value.label"
                  },
                  {
                    "type": "header",
                    "content": "t:sections.product-template.blocks.highlights.settings.header2.content"
                  },
                  {
                    "type": "text",
                    "id": "hp_name_2",
                    "label": "t:sections.product-template.blocks.highlights.settings.hp_name.label"
                  },
                  {
                    "type": "text",
                    "id": "hp_value_2",
                    "label": "t:sections.product-template.blocks.highlights.settings.hp_value.label"
                  },
                  {
                    "type": "header",
                    "content": "t:sections.product-template.blocks.highlights.settings.header3.content"
                  },
                  {
                    "type": "text",
                    "id": "hp_name_3",
                    "label": "t:sections.product-template.blocks.highlights.settings.hp_name.label"
                  },
                  {
                    "type": "text",
                    "id": "hp_value_3",
                    "label": "t:sections.product-template.blocks.highlights.settings.hp_value.label"
                  },
                  {
                    "type": "header",
                    "content": "t:sections.product-template.blocks.highlights.settings.header4.content"
                  },
                  {
                    "type": "text",
                    "id": "hp_name_4",
                    "label": "t:sections.product-template.blocks.highlights.settings.hp_name.label"
                  },
                  {
                    "type": "text",
                    "id": "hp_value_4",
                    "label": "t:sections.product-template.blocks.highlights.settings.hp_value.label"
                  }
			]
		}
    ]
}
{% endschema %}