<div class="{% unless section.settings.full_width %}container{% endunless %}">
  <div  id="promo-banner-{{section.id}}" class="promo-banner-content">
    {%- if section.settings.heading != blank -%}
    <p class="promo-banner-title">{{ section.settings.heading }}</p>
    {% endif %}
    {%- if section.settings.text != blank -%}
    <p>{{ section.settings.text }}</p>
    {%- endif -%}
    {%- if section.settings.label != blank and section.settings.link != blank -%}
    <a href="{{ section.settings.link }}" class="type-banner__link">{{ section.settings.label }}
    </a>
    {%- endif -%}
  </div>
</div>
<style>
  #promo-banner-{{section.id}}{
    {%- assign bgcolor_opacity = section.settings.bgcolor_opacity | divided_by: 100.00 -%}
    background-color:{{section.settings.bgcolor | color_modify: 'alpha', bgcolor_opacity }};
    border-radius:{{section.settings.border_radius}}px;
  }
    #shopify-section-{{section.id}}.shopify-section {
    padding-top:{{section.settings.top_space_desktop}}px;
    padding-bottom:{{section.settings.bottom_space_desktop}}px;
  }
  @media only screen and (max-width:575px) {
    #shopify-section-{{section.id}}.shopify-section{
      padding-top:{{section.settings.top_space_mobile}}px;
      padding-bottom:{{section.settings.bottom_space_mobile}}px;
    }
  }
  
  #promo-banner-{{section.id}}.promo-banner-content .promo-banner-title{
    color:{{section.settings.textcolor}}
  }
  
  #promo-banner-{{section.id}}.promo-banner-content p{
    color:{{section.settings.textcolor | color_modify: 'alpha', 0.70 }}
  }
  
  #promo-banner-{{section.id}}.promo-banner-content a{
    color:{{section.settings.btntextcolor }};
    border: 1px solid {{section.settings.btnborder }};
    background-color:{{section.settings.btnbgcolor }};
  }
.promo-banner-content {
    padding: 10px 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
}
  .promo-banner-title {
      font-size: 19px;
  }
  .promo-banner-content .promo-banner-title, .promo-banner-content p, .promo-banner-content a {
    margin: 5px 10px;
    display: inline-block;
    vertical-align: middle;
    line-height: 1;
  }
  .promo-banner-content a {
    padding: 4px 10px;
  }
  @media screen and (max-width:575px){
    .promo-banner-title {
      font-size: 15px;
      width:100%
  }
    .promo-banner-content p {
      width:100%
  }
  }
</style>
{% schema %}
{
   "name":"t:sections.promotion-banner.name",
   "class":"promotion-banner",
   "settings":[
      {
        "type": "checkbox",
        "id": "full_width",
        "label": "t:sections.promotion-banner.settings.full_width.label",
        "default": false
      },
      {
         "type":"text",
         "id":"heading",
         "label":"t:sections.promotion-banner.settings.heading.label",
         "default":"Promotion"
      },
      {
         "type":"text",
         "id":"text",
         "label":"t:sections.promotion-banner.settings.text.label",
         "default":"Add the details of your promotion"
      },
      {
         "type":"url",
         "id":"link",
         "label":"t:sections.promotion-banner.settings.link.label"
      },
      {
         "type":"text",
         "id":"label",
         "label":"t:sections.promotion-banner.settings.label.label",
         "default":"Shop now"
      },
      {
         "type":"color",
         "id":"bgcolor",
         "label":"t:sections.promotion-banner.settings.bgcolor.label",
         "default":"#000"
      },
      {
         "type":"range",
         "id":"bgcolor_opacity",
         "label":"t:sections.promotion-banner.settings.bgcolor_opacity.label",
         "default":8,
         "min":0,
         "max":100,
         "step":1,
         "unit":"%"
      },
      {
         "type":"color",
         "id":"textcolor",
         "label":"t:sections.promotion-banner.settings.textcolor.label",
         "default":"#000"
      },
      {
         "type":"color",
         "id":"btntextcolor",
         "label":"t:sections.promotion-banner.settings.btntextcolor.label",
         "default":"#000"
      },
      {
         "type":"color",
         "id":"btnbgcolor",
         "label":"t:sections.promotion-banner.settings.btnbgcolor.label",
		 "default":"transparent"
      },
      {
         "type":"color",
         "id":"btnborder",
         "label":"t:sections.promotion-banner.settings.btnborder.label",
         "default":"#000"
      },
      {
         "type":"range",
         "id":"border_radius",
         "label":"t:sections.promotion-banner.settings.border_radius.label",
         "default":5,
         "min":0,
         "max":30,
         "step":1,
         "unit":"px"
      },
      {
        "type": "range",
        "id": "top_space_desktop",
        "label": "t:sections.promotion-banner.settings.top_space_desktop.label",
        "default":30,
        "min":0,
        "max":60,
        "step":5
      },
      {
        "type": "range",
        "id": "bottom_space_desktop",
        "label": "t:sections.promotion-banner.settings.bottom_space_desktop.label",
        "default":30,
        "min":0,
        "max":60,
        "step":5
      },
      {
        "type": "range",
        "id": "top_space_mobile",
        "label": "t:sections.promotion-banner.settings.top_space_mobile.label",
        "default":30,
        "min":0,
        "max":60,
        "step":5
      },
      {
        "type": "range",
        "id": "bottom_space_mobile",
        "label": "t:sections.promotion-banner.settings.bottom_space_mobile.label",
        "default":30,
        "min":0,
        "max":60,
        "step":5
      }
   ],
    "presets": [
      {
        "name": "t:sections.promotion-banner.presets.name",
        "category":"text"
      }
    ]
}
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
