{%- capture image_content -%}
{%- if section.settings.image != blank -%}
<div class="col-12 col-sm-12 col-md-6">
  <div class="left-img-content">
    <img src="{{section.settings.image | img_url:'master'}}" alt="{{section.settings.image.alt | default:shop.name}}" />
  </div>
</div>
{%- endif -%}
{%- endcapture -%}
<div class="container">
  <div class="inner-container">
    <div class="row align-items-center image-position-{{section.settings.image_alignment}}">
      {% if section.settings.image_alignment == 'left' %}
      {{- image_content -}}
      {% endif %}
      <div class="col-12 col-sm-12 col-md-6">
        <div class="right-text-content">
          <h2 class="content-heading">{{section.settings.heading}}</h2>
          {{section.settings.content}}
        </div>
      </div>
      
      {% if section.settings.image_alignment == 'right' %}
      {{- image_content -}}
      {% endif %}
    </div>
  </div>
</div>
{% schema %}
  {
    "name": "Rich Text",
    "tag": "section",
    "class":"rich-text-section",
    "settings": [
        {
            "type":"text",
            "id":"heading",
            "label":"Heading",
            "default":"Yuva Our Story"
        },
        {
            "type":"richtext",
            "id":"content",
            "label":"Content"
        }
  	],
    "presets": [
      {
        "name": "Rich Text"
      }
    ]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
