<div id="product-slider" class="banner-product-slider">
  <div id="slider-{{section.id}}" class=" fade slider-item {% if section.blocks.size > 1 %}{% endif %}"  {% if section.blocks.size > 1 %}data-sliderss{% endif %}>
        
      {% for block in section.blocks %}
      {% case block.type %}
        {% when 'slide' %}
      <div id="banner-{{block.id}}" class="banner banner-section item slider-banner" {{ block.shopify_attributes }}>
      {% render 'banner-slide-content' block:block%}	
      </div>
      {% when 'split' %}
      <div id="banner-{{block.id}}" class="banner-{{block.id}} banner banner-section item split-slider slider-banner" {{ block.shopify_attributes }}>	
        {% render 'split-slide-content' block:block%}	
      </div>
      {% when 'video' %}
      {% if block.settings.videofile != blank or block.settings.poster != blank %}
      <div id="banner-{{block.id}}" class="banner banner-section item slider-banner" {{ block.shopify_attributes }}>	
        {% render 'video-slide-content' block:block%}	
      </div>
      {% endif %}						
      {% endcase %}
      {% endfor %}
    </div>
  <script type="application/json" name="slider-json">
         {
          "slidesToShow":1,
          "slidesToScroll":1,
          "infinite":true,
          "margin":0,
            "speed": 1000,
            "fade": true,
            "cssEase": 'linear',
         "dots":{{-section.settings.dots-}},
          "autoplay":{{-section.settings.rotate-}},
          "arrows":{{-section.settings.arrows-}},
          "autoplaySpeed":{{-section.settings.rotate_speed | times:1000-}},
          "prevArrow":"<button type=\"button\" class=\"slick-prev\"><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M15.526 18.966L8.559 12l6.967-6.967\"></path></svg></button>",
          "nextArrow":"<button type=\"button\" class=\"slick-next\"><span><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M8.474 18.966L15.44 12 8.474 5.033\"></path></svg></button>"
        }
      </script>
  </div>
  <style>
	.slider-item{
		position:relative;
		overflow:hidden;
	}
</style>
<script>

$('.fade').slick({
  dots: true,
  infinite: true,
  speed: 500,
  fade: true,
  cssEase: 'linear'
});
		
</script>
{% schema %}
{
  "name": "t:sections.main-slider.name",
  "tag": "section",
  "class":"shopify-section-slider",
  "settings":[
	  {
		  "type":"checkbox",
		  "id":"rotate",
		  "label":"t:sections.main-slider.settings.rotate.label",
		  "default":true
	  },
	  {
		  "type":"checkbox",
		  "id":"arrows",
		  "label":"t:sections.main-slider.settings.arrows.label",
		  "default":true
	  },
	  {
		  "type":"checkbox",
		  "id":"dots",
		  "label":"t:sections.main-slider.settings.dots.label",
		  "default":true
	  },
	  {
		  "type": "range",
		  "id": "rotate_speed",
		  "min": 1,
		  "max": 10,
		  "step": 1,
		  "unit":"s",
		  "label": "t:sections.main-slider.settings.rotate_speed.label",
		  "default": 2
	  }
  ],
  "blocks": [
	{
		"type":"slide",
		"name":"t:sections.main-slider.blocks.slide.name",
		"settings": [
			{
				"type": "image_picker",
				"id": "image",
				"label": "t:sections.main-slider.blocks.slide.settings.image.label"
			},
			{
				"type": "text",
				"id": "tag_line",
				"default": "Tag Line",
				"label": "t:sections.main-slider.blocks.slide.settings.tag_line.label"
			},
			{
				"type": "text",
				"id": "heading",
				"default": "Heading",
				"label": "t:sections.main-slider.blocks.slide.settings.heading.label"
			},
			{
				"type": "textarea",
				"id": "content",
				"default": "content",
				"label": "t:sections.main-slider.blocks.slide.settings.content.label"
			},
			{
				"type": "text",
				"id": "btn",
				"default": "Explore Now",
				"label": "t:sections.main-slider.blocks.slide.settings.btn.label"
			},
			{
				"type": "url",
				"id": "link",
				"label": "t:sections.main-slider.blocks.slide.settings.link.label"
			},
			{
				"type": "color",
				"id": "sh_bg",
				"default":"#000000",
				"label": "t:sections.main-slider.blocks.slide.settings.sh_bg.label"
			},
			{
				"type": "color",
				"id": "sh_text",
				"default":"#ffffff",
				"label": "t:sections.main-slider.blocks.slide.settings.sh_text.label"
			},
			{
				"type": "color",
				"id": "h_text",
				"default":"#f17e35",
				"label": "t:sections.main-slider.blocks.slide.settings.h_text.label"
			},
			{
				"type": "color",
				"id": "c_text",
				"default":"#000000",
				"label": "t:sections.main-slider.blocks.slide.settings.c_text.label"
			},
			{
				"type": "color",
				"id": "btn_bg",
				"default":"#f17e35",
				"label": "t:sections.main-slider.blocks.slide.settings.btn_bg.label"
			},
			{
				"type": "color",
				"id": "btn_text",
				"default":"#ffffff",
				"label": "t:sections.main-slider.blocks.slide.settings.btn_text.label"
			},
			{
				"type": "color",
				"id": "btn_h_bg",
				"default":"#000000",
				"label": "t:sections.main-slider.blocks.slide.settings.btn_h_bg.label"
			},
			{
				"type": "color",
				"id": "btn_h_text",
				"default":"#ffffff",
				"label": "t:sections.main-slider.blocks.slide.settings.btn_h_text.label"
			},
			{
			  "type": "select",
			  "id": "info_position",
			  "label": "t:sections.main-slider.blocks.slide.settings.info_position.label",
			  "default": "center-left",
			  "options": [
				{
				  "label": "t:sections.main-slider.blocks.slide.settings.info_position.top-left.label",
				  "value": "top-left"
				},
				{
				  "label": "t:sections.main-slider.blocks.slide.settings.info_position.top-center.label",
				  "value": "top-center"
				},
				{
				  "label": "t:sections.main-slider.blocks.slide.settings.info_position.top-right.label",
				  "value": "top-right"
				},
				{
				  "label": "t:sections.main-slider.blocks.slide.settings.info_position.center-left.label",
				  "value": "center-left"
				},
				{
				  "label": "t:sections.main-slider.blocks.slide.settings.info_position.center.label",
				  "value": "center"
				},
				{
				  "label": "t:sections.main-slider.blocks.slide.settings.info_position.center-right.label",
				  "value": "center-right"
				},
				{
				  "label": "t:sections.main-slider.blocks.slide.settings.info_position.bottom-left.label",
				  "value": "bottom-left"
				},
				{
				  "label": "t:sections.main-slider.blocks.slide.settings.info_position.bottom-center.label",
				  "value": "bottom-center"
				},
				{
				  "label": "t:sections.main-slider.blocks.slide.settings.info_position.bottom-right.label",
				  "value": "bottom-right"
				}
			  ]
			},
			{
			  "type": "select",
			  "id": "info_alignment",
			  "label": "t:sections.main-slider.blocks.slide.settings.info_alignment.label",
			  "default": "left",
			  "options": [
				{
				  "label": "t:sections.main-slider.blocks.slide.settings.info_alignment.left.label",
				  "value": "left"
				},
				{
				  "label": "t:sections.main-slider.blocks.slide.settings.info_alignment.center.label",
				  "value": "center"
				},
				{
				  "label": "t:sections.main-slider.blocks.slide.settings.info_alignment.right.label",
				  "value": "right"
				}
			  ]
			}
		]
	}, 
	{
		"type": "split",
		"name": "t:sections.main-slider.blocks.split.name",
		"settings":[
			{
			   "type":"image_picker",
			   "id":"image_desktop",
			   "label":"t:sections.main-slider.blocks.split.settings.image_desktop.label",
			   "info":"t:sections.main-slider.blocks.split.settings.image_desktop.info"
			},
			{
			   "type":"text",
			   "id":"banner_tag_line",
			   "label":"t:sections.main-slider.blocks.split.settings.banner_tag_line.label",
			   "default":"Shop the latest collection"
			},
			{
			   "type":"text",
			   "id":"banner_title",
			   "label":"t:sections.main-slider.blocks.split.settings.banner_title.label",
			   "default":"Summer Collection"
			},
			{
			   "type":"textarea",
			   "id":"banner_desc",
			   "label":"t:sections.main-slider.blocks.split.settings.banner_desc.label",
			   "default":"Add Some Description Here"
			},
			{
			   "type":"text",
			   "id":"button_text",
			   "label":"t:sections.main-slider.blocks.split.settings.button_text.label",
			   "default":"SHOP NOW"
			},
			{
			   "type":"url",
			   "id":"button_link",
			   "label":"t:sections.main-slider.blocks.split.settings.button_link.label"
			},
			{
			   "type":"color",
			   "id":"banner_left_bk",
			   "label":"t:sections.main-slider.blocks.split.settings.banner_left_bk.label"
			},
			{
			   "type":"color",
			   "id":"tag_line_color",
			   "label":"t:sections.main-slider.blocks.split.settings.tag_line_color.label",
			   "default":"#ffffff"
			},
			{
			   "type":"color",
			   "id":"tag_line_bk",
			   "label":"t:sections.main-slider.blocks.split.settings.tag_line_bk.label",
			   "default":"#47c1bf"
			},
			{
			   "type":"color",
			   "id":"banner_title_color",
			   "label":"t:sections.main-slider.blocks.split.settings.banner_title_color.label",
			   "default":"#003135"
			},
			{
			   "type":"color",
			   "id":"banner_desc_color",
			   "label":"t:sections.main-slider.blocks.split.settings.banner_desc_color.label",
			   "default":"#405352"
			},
			{
			   "type":"color",
			   "id":"button_border_color",
			   "label":"t:sections.main-slider.blocks.split.settings.button_border_color.label",
			   "default":"#47C1BF"
			},
			{
			   "type":"color",
			   "id":"button_text_color",
			   "label":"t:sections.main-slider.blocks.split.settings.button_text_color.label",
			   "default":"#ffffff"
			},
			{
			   "type":"color",
			   "id":"button_text_bk",
			   "label":"t:sections.main-slider.blocks.split.settings.button_text_bk.label",
			   "default":"#47c1bf"
			},
			{
			   "type":"color",
			   "id":"hvr_button_text_color",
			   "label":"t:sections.main-slider.blocks.split.settings.hvr_button_text_color.label",
			   "default":"#ffffff"
			},
			{
			   "type":"color",
			   "id":"hvr_button_text_bk",
			   "label":"t:sections.main-slider.blocks.split.settings.hvr_button_text_bk.label",
			   "default":"#003135"
			}
		]
	},
  	{
    	"type": "video",
          "name": "t:sections.main-slider.blocks.video-slide.name",
          "settings": [
            {
              "type": "text",
              "id": "videofile",
              "label": "t:sections.main-slider.blocks.video-slide.settings.videofile.label",
              "default": "https://cdn.shopify.com/s/files/1/2018/8867/files/ice.mp4"
            },
            {
              "type": "image_picker",
              "id": "poster",
              "label": "t:sections.main-slider.blocks.video-slide.settings.poster.label"
            },
            {
              "type": "text",
              "id": "title",
              "label": "t:sections.main-slider.blocks.video-slide.settings.title.label",
              "default": "Video Banner"
            },
            {
              "type": "textarea",
              "id": "description",
              "label": "t:sections.main-slider.blocks.video-slide.settings.description.label",
              "default": "This area is used to describe your store."
            },
            {
              "type": "text",
              "id": "link_text",
              "label": "t:sections.main-slider.blocks.video-slide.settings.link_text.label",
              "default": "View products"
            },
            {
              "type": "url",
              "id": "link",
              "label": "t:sections.main-slider.blocks.video-slide.settings.link.label"
            },
            {
              "type": "checkbox",
              "id": "overlay",
              "label": "t:sections.main-slider.blocks.video-slide.settings.overlay.label",
              "default": true   
            },
            {
              "type": "range",
              "id": "opacity",
              "label": "t:sections.main-slider.blocks.video-slide.settings.opacity.label",
              "default": 40,
              "min":0,
              "max":100,
              "step":1,
              "unit":"%"          
            },
            {
              "type": "select",
              "id": "text_position",
              "label": "t:sections.main-slider.blocks.video-slide.settings.text_position.label",
              "default": "center",
              "options": [
                {
                  "label": "t:sections.main-slider.blocks.video-slide.settings.text_position.top-left.label",
                  "value": "top-left"
                },
                {
                  "label": "t:sections.main-slider.blocks.video-slide.settings.text_position.top-center.label",
                  "value": "top-center"
                },
                {
                  "label": "t:sections.main-slider.blocks.video-slide.settings.text_position.top-right.label",
                  "value": "top-right"
                },
                {
                  "label": "t:sections.main-slider.blocks.video-slide.settings.text_position.center-left.label",
                  "value": "center-left"
                },
                {
                  "label": "t:sections.main-slider.blocks.video-slide.settings.text_position.center.label",
                  "value": "center"
                },
                {
                  "label": "t:sections.main-slider.blocks.video-slide.settings.text_position.center-right.label",
                  "value": "center-right"
                },
                {
                  "label": "t:sections.main-slider.blocks.video-slide.settings.text_position.bottom-left.label",
                  "value": "bottom-left"
                },
                {
                  "label": "t:sections.main-slider.blocks.video-slide.settings.text_position.bottom-center.label",
                  "value": "bottom-center"
                },
                {
                  "label": "t:sections.main-slider.blocks.video-slide.settings.text_position.bottom-right.label",
                  "value": "bottom-right"
                }
              ]
            },
            {
              "type": "select",
              "id": "text_align",
              "label": "t:sections.main-slider.blocks.video-slide.settings.text_align.label",
              "default": "text__center",
              "options": [
                {
                  "label": "t:sections.main-slider.blocks.video-slide.settings.text_align.left.label",
                  "value": "text__left"
                },
                {
                  "label": "t:sections.main-slider.blocks.video-slide.settings.text_align.center.label",
                  "value": "text__center"
                },
                {
                  "label": "t:sections.main-slider.blocks.video-slide.settings.text_align.right.label",
                  "value": "text__right"
                }
              ]
            },
            {
              "type": "color",
              "id": "title_color",
              "default":"#ffffff",
              "label": "t:sections.main-slider.blocks.video-slide.settings.title_color.label"
            },
            {
              "type": "color",
              "id": "desc_color",
              "default":"#000000",
              "label": "t:sections.main-slider.blocks.video-slide.settings.desc_color.label"
            },
            {
              "type": "color",
              "id": "bgcolor",
              "label": "t:sections.main-slider.blocks.video-slide.settings.bgcolor.label",
              "default": "#707070" 
            },
			{
			   "type":"color",
			   "id":"button_border_color",
			   "label":"t:sections.main-slider.blocks.video-slide.settings.button_border_color.label",
			   "default":"#47C1BF"
			},
			{
			   "type":"color",
			   "id":"button_text_color",
			   "label":"t:sections.main-slider.blocks.video-slide.settings.button_text_color.label",
			   "default":"#ffffff"
			},
			{
			   "type":"color",
			   "id":"button_text_bk",
			   "label":"t:sections.main-slider.blocks.video-slide.settings.button_text_bk.label",
			   "default":"#47c1bf"
			},
			{
			   "type":"color",
			   "id":"hvr_button_text_color",
			   "label":"t:sections.main-slider.blocks.video-slide.settings.hvr_button_text_color.label",
			   "default":"#ffffff"
			},
			{
			   "type":"color",
			   "id":"hvr_button_text_bk",
			   "label":"t:sections.main-slider.blocks.video-slide.settings.hvr_button_text_bk.label",
			   "default":"#003135"
			}
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.main-slider.presets.name",
      "blocks": [
        {
          "type": "slide"
        },
        {
          "type": "split"
        }
      ]
    }
  ]
}
{% endschema %}
