<div class="spotlightSectionMain">
  <div class="spotlighSectionWrapper">
      {%- if section.settings.image != blank -%}
      {%- render 'lazy-image' image:section.settings.image,class:'spotlightSectionImage' -%}
      {%-else-%}
      <div class="spotlightSectionPlaceholder">{% render 'banner-placeholder'%}</div>
      {%- endif %}
    {% for block in section.blocks %}
    <div class="spotlightPoint" style="top:{{block.settings.vertical}}%;left:{{block.settings.horizontal}}%">
      {% if block.settings.product != blank %}
      <div class="spotlightProductDetails {% if block.settings.vertical > 50 %}spotlightProductDetails-top{% endif %} {% if block.settings.horizontal > 70 %}spotlightProductDetails-left{% elsif block.settings.horizontal < 30%}spotlightProductDetails-right{% endif %}">
        <a href="{{block.settings.product.url}}">
          <h6>{{block.settings.product.title}}</h6>
          {{block.settings.product.featured_image | img_url:'350x'| img_tag}}
          <p>{{block.settings.product.price | money}}</p>
        </a>
        {% form 'product',product %}
        <input type="hidden" name="id" value="{{product.selected_or_first_available_variant.id}}">
        <input type="hidden" name="quantity" value="1">
        <button type="submit" class="btn" >Add to Cart</button>
        {% endform %}
      </div>
      {% endif %}
    </div>
    {% endfor %}
  </div>
</div>
<style>
  img.spotlightSectionImage {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
  .spotlighSectionWrapper {
    width: 100%;
    height: 600px;
    position: relative;
}
  .spotlightPoint{
  	position:absolute;
    width:10px;
    height:10px;  
    cursor:pointer;
  }
  
  .spotlightPoint:before{
    content: '';
    width: 20px;
    height: 20px;
    border-radius: 50px;
    background: #000;
    position: absolute;
  }
  .spotlightProductDetails{
    display: none;
    width: fit-content;
    position: absolute;
    margin-top: calc(100% + 1em);
    background: #FFF;
    padding: 1.5em;
    border-radius: 5%;
  }
  .spotlightPoint:hover .spotlightProductDetails{
  	display:block;
  }
  </style>
{% schema %}
  {
    "name": "Spotlight",
    "class": "spotlight-section",
    "settings": [
		{
			"type":"image_picker",
			"label":"Image",
			"id":"image"
		}
	],
    "blocks": [
		{
          "type": "spot",
          "name": "Spot",
          "settings": [
              {
                  "type":"product",
                  "label":"product",
                  "id":"product"
              },
              {
                  "type":"range",
                  "label":"Horizontal position",
                  "id":"horizontal",
                  "min":1,
                  "max":100,
                  "step":1,
                  "unit":"%",
                  "default":1
              },
              {
                  "type":"range",
                  "label":"Vertical position",
                  "id":"vertical",
                  "min":1,
                  "max":100,
                  "step":1,
                  "unit":"%",
                  "default":1
              }
          ]
		}
	],
	"presets":[
		{
			"name":"Spotlight"
		}
	]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
