<div class="container">
    <div class="yv-testimonial-wrapper">
      <div class="row align-items-center">
        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="yv-testimonail-text-outer">
            <div class="yv-testimonail-text">
              <img class="yv-testimonail-img" src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/quote-icon.png?v=1644583113" alt="quote icon">
              <div class="yv-testimonail-text">
                <h2 class="yv-testimonail-title">{{section.settings.heading}}</h2>  
                {%- if section.settings.description -%}
                <p class="yv-testimonail-desc">{{section.settings.description}}</p>
                {%- endif -%}
              </div>
            </div>
          </div>
        </div>
        {%- if section.blocks.size > 0 -%}
        <div class="col-sm-12 col-md-12 col-lg-8">
          <div class="yv-testimonial-slider">
            <div id="testimonials-{{section.id}}" data-slider>
              {%- for block in section.blocks -%}
              <div class="slideshow__slide--{{ block.id }}" {{ block.shopify_attributes }}>
                <div class="yv-testimonial-slider-item slider-item">
                  <h3 class="yv-testimonial-feature-text">Awesome Product!</h3>
                  <p class="yv-testimonial-review">{{block.settings.message}}</p>
                  <ul class="yv-testimonial-reviews">
                    <li>
                    	<svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                          <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                      </svg>
                    </li>
                    <li>
                    	<svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                          <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                      </svg>
                    </li>
                    <li>
                    	<svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                          <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                      </svg>
                    </li>
                    <li>
                    	<svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                          <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                      </svg>
                    </li>
                    <li>
                    	<svg version="1.2" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 380 362" width="20" height="19">
                          <path id="Layer" fill-rule="evenodd"  fill="#0c0c0c" d="m204.7 10.5l37.5 116.1l122-0.3c15.4 0 21.2 19.1 7.7 28.9l-97.5 70.5l37.9 115.9c4.9 14.8-12.9 26.5-24.6 16.5l-97.6-71.2l-98.6 71.9c-13.4 9.7-28.2-3.4-22.6-20.4l36.9-112.7l-98.8-71.5c-12.6-9.1-5.2-28.9 10.1-27.9l120.9 0.3l37.5-116.1c4.5-14.2 24.7-14.1 29.2 0z" />
                      </svg>
                  </ul>
                  <div class="yv-testimonial-author">
                  <div class="author-img">
                    <img src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/author-img.png?v=1644584704" />
                    </div>
                    <p>{{block.settings.author}}</p>
                  </div>
                </div>
              </div>
              {% endfor %}
            </div>

          </div>
        </div>
        {%- endif -%}
      </div>
    </div>
    <script type="application/json" name="slider-json">    
         {
          "slidesToShow":1,
          "slidesToScroll":1,
          "infinite":true,
          "draggable":false,
          "cssEase": "linear",
         "dots":{{section.settings.dots}},
          "autoplay":{{section.settings.rotate}},
          "arrows":{{section.settings.arrows}},
          "prevArrow":"<button type=\"button\" class=\"slick-prev\" aria-label=\"Prev\"><span><svg version=\"1.2\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 21 14\" width=\"21\" height=\"14\"><style>.s0tt{fill:currentcolor}</style><path class=\"s0tt\" d=\"m7.6 12.6c0.4 0.3 0.4 0.8 0 1.2q-0.2 0.2-0.6 0.2q-0.3 0-0.6-0.2l-6.1-6.3c-0.4-0.3-0.4-0.9 0-1.2l5.9-6.1c0.3-0.3 0.8-0.3 1.1 0c0.4 0.3 0.4 0.9 0 1.2l-5.3 5.5zm12.6-6.5c0.4 0 0.8 0.4 0.8 0.9c0 0.5-0.4 0.8-0.8 0.8h-17.6c-0.5 0-0.8-0.3-0.8-0.8c0-0.5 0.3-0.9 0.8-0.9h17.6z\" /></svg></span></button>",
          "nextArrow":"<button type=\"button\" class=\"slick-next\" aria-label=\"Next\"><span><svg version=\"1.2\" xmlns=\"http://www.w3.org/2000/svg\" viewBox=\"0 0 21 15\" width=\"21\" height=\"15\"><style>.s0tt{fill:currentcolor}</style><path class=\"s0tt\" d=\"m18.9 7.5l-5.3-5.3c-0.3-0.4-0.3-0.9 0-1.2c0.4-0.3 0.9-0.4 1.2 0l5.9 6c0.3 0.3 0.3 0.9 0 1.2l-6.2 6.2q-0.2 0.2-0.6 0.2q-0.3 0-0.6-0.2c-0.3-0.4-0.3-0.9 0-1.2zm-18.1-0.7h17.6c0.4 0 0.8 0.4 0.8 0.8c0 0.5-0.4 0.9-0.8 0.9h-17.6c-0.4 0-0.8-0.4-0.8-0.9c0-0.4 0.4-0.8 0.8-0.8z\" /></svg></span></button>"
        }
    </script>
  </div>
<style>
  #shopify-section-{{section.id}}.shopify-section{
    background-color:{{section.settings.bgcolor}};
  }
</style>

{% schema %}
{
"name":"t:sections.testimonials.name",
"tag":"section",
"class":"testimonial testimonial-section",
"settings":[
{
"type":"select",
"id":"style",
"default":"style1",
"label":"t:sections.testimonials.settings.style.label",
"options":[
{
"value":"style1",
"label":"t:sections.testimonials.settings.style.style1.label"
},
{
"value":"style2",
"label":"t:sections.testimonials.settings.style.style2.label"
}
]
},
{
"type":"text",
"id":"heading",
"default":"Add Testimonials here",
"label":"t:sections.testimonials.settings.heading.label"
},
{
"type":"text",
"id":"subheading",
"default":"HAPPY CLIENT’S",
"label":"t:sections.testimonials.settings.subheading.label"
},
{
"type":"textarea",
"id":"description",
"default":"Add Description here",
"label":"t:sections.testimonials.settings.description.label"
},
{
"type":"color",
"id":"bgcolor",
"default":"#F3F0EB",
"label":"t:sections.testimonials.settings.bgcolor.label"
},
{
"type":"checkbox",
"id":"rotate",
"label":"t:sections.testimonials.settings.rotate.label",
"default":false
},
{
"type":"checkbox",
"id":"arrows",
"label":"t:sections.testimonials.settings.arrows.label",
"default":true
},
{
"type":"checkbox",
"id":"dots",
"label":"t:sections.testimonials.settings.dots.label",
"default":false
},
{
"type":"range",
"id":"top_space_desktop",
"label":"t:sections.testimonials.settings.top_space_desktop.label",
"default":30,
"min":0,
"max":60,
"step":5
},
{
"type":"range",
"id":"bottom_space_desktop",
"label":"t:sections.testimonials.settings.bottom_space_desktop.label",
"default":30,
"min":0,
"max":60,
"step":5
},
{
"type":"range",
"id":"top_space_mobile",
"label":"t:sections.testimonials.settings.top_space_mobile.label",
"default":30,
"min":0,
"max":60,
"step":5
},
{
"type":"range",
"id":"bottom_space_mobile",
"label":"t:sections.testimonials.settings.bottom_space_mobile.label",
"default":30,
"min":0,
"max":60,
"step":5
}
],
"blocks":[
{
"type":"quote",
"name":"t:sections.testimonials.blocks.quote.name",
"settings":[
{
"type":"textarea",
"id":"message",
"default":"Add client reviews & testimonials to showcase your store’s happy clients.",
"label":"t:sections.testimonials.blocks.quote.settings.message.label"
},
{
"type":"text",
"id":"author",
"default":"Author name here",
"label":"t:sections.testimonials.blocks.quote.settings.author.label"
},
{
"type":"image_picker",
"id":"image",
"label":"t:sections.testimonials.blocks.quote.settings.image.label",
"info": "e.g. 90 x 90"
}
]
}
],
"presets":[
{
"name":"t:sections.testimonials.presets.name",
"blocks":[
{
"type":"quote"
},
{
"type":"quote"
},
{
"type":"quote"
},
{
"type":"quote"
}
]
}
]
}
{% endschema %}