
<div class="container ">
    <div class="testimonials-variation-{{section.settings.style}}">
      {% if section.settings.style == 'style1' %}
          <div class="shopify__top__section text__center">
              <small>{{section.settings.subheading}}</small>
              <h2>{{section.settings.heading}}</h2>  
              
              {% if section.settings.description %}
              <p>{{section.settings.description}}</p>
              {% endif %}
          </div>
          {% if section.blocks.size > 0 %}
            <div class="testimonial-slider ">
                <div id="testimonials-{{section.id}}" class="testimonial-slide owl-carousel owl-theme" data-slider>
                    {% for block in section.blocks %}
                    <div class="item" {{ block.shopify_attributes }}>
                        <div class="slider-content">
                          {% if block.settings.image != blank %}
                              {% assign image_url = block.settings.image | img_url:'master' %}
                              {% else %}
                              {% assign image_url = "https://yova.shinedezign.pro/assets/images/client-image.png" %}
                              {% endif %}

                            <img src="{{image_url}}" loading="lazy" alt="{{section.settings.author}}">
                            <div class="slider-caption">
                                <p class="testimonial-title">{{block.settings.message}}</p>
                                <h5 class="author">{{block.settings.author}}</h5>
                                <span>{{block.settings.from}}</span>
                            </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
          {% endif %}
          {% elsif section.settings.style == 'style2' %}
      <div class="row">
            <div class="col-sm-12 col-md-12 col-lg-3">
              <div class="client-say-left">       
                <small>{{section.settings.subheading}}</small>
                <h2>{{section.settings.heading}}</h2>  
                {% if section.settings.description %}
                <p>{{section.settings.description}}</p>
                {% endif %}
              </div>
            </div>
          
          {% if section.blocks.size > 0 %}
            <div class="col-sm-12 col-md-12 col-lg-9">
                <div class="client-slider">
                  <div class="testimonial-slider testimonial-variation2">
                      <div id="testimonials-{{section.id}}" class="testimonial-client-slide owl-carousel owl-theme" data-slider>
                        {% for block in section.blocks %}
                        <div class="item" {{ block.shopify_attributes }}>
                            <div class="slider-item">
                              <div class="slider-box">
                                {% if block.settings.image != blank %}
                                {% assign image_url = block.settings.image | img_url:'master' %}
                                {% else %}
                                {% assign image_url = "https://yova.shinedezign.pro/assets/images/client-image.png" %}
                                {% endif %}
                                  <div class="client-image">            
                                    <img src="{{image_url}}" loading="lazy" alt="{{section.settings.author}}">                  
                                  </div>
                                  <h5 class="author">{{block.settings.author}}</h5>
                                  <p class="testimonial-title">{{block.settings.message}}</p>
                              </div>
                            </div>
                        </div>
                        {% endfor %}
                      </div>
                    
                  </div>
                </div>
            </div>
          {% endif %}
      </div>
    {% endif %} 
    </div>
  <script type="application/json" name="slider-json">    
         {
          "slidesToShow":3,
          "slidesToScroll":1,
          "infinite":true,
          "speed": 1000,
         "dots":{{section.settings.dots}},
          "autoplay":{{section.settings.rotate}},
           "autoplaySpeed":1000,
          "arrows":{{section.settings.arrows}},
          "prevArrow":"<button type=\"button\" class=\"slick-prev\"><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M15.526 18.966L8.559 12l6.967-6.967\"></path></svg></button>",
          "nextArrow":"<button type=\"button\" class=\"slick-next\"><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M8.474 18.966L15.44 12 8.474 5.033\"></path></svg></button>",
          "responsive":[
          	{
            "breakpoint": 768,
              "settings": {
              	"slidesToShow": 2
              }
            },
          	{
            "breakpoint": 500,
                "settings": {
                    "slidesToShow": 1,
                    "autoplay": true,
                    "autoplaySpeed": 3000,
                    "pauseOnHover": true
                  }
            }
          ]
        }
  </script>
</div>
<style>
    #shopify-section-{{section.id}}{
      background-color:{{section.settings.bgcolor}};
    }
  </style>

{% schema %}
{
  "name": "t:sections.testimonials.name",
  "tag": "section",
  "class":"testimonial",
  "settings": [
    {
      "type": "select",
      "id": "style",
      "default": "style1",
      "label": "t:sections.testimonials.settings.style.label",
      "options":[
        {
          "value":"style1",
          "label":"t:sections.testimonials.settings.style.style1.label"
        },
        {
          "value":"style2",
          "label":"t:sections.testimonials.settings.style.style2.label"
        }
      ]
    },
    {
      "type": "text",
      "id": "subheading",
      "default": "HAPPY CLIENT’S",
      "label": "t:sections.testimonials.settings.subheading.label"
    },
    {
      "type": "text",
      "id": "heading",
      "default": "What Our Customers Say",
      "label": "t:sections.testimonials.settings.heading.label"
    },
    {
      "type": "textarea",
      "id": "description",
      "default": "What Our Customers Say",
      "label": "t:sections.testimonials.settings.description.label"
    },
    {
      "type": "color",
      "id": "bgcolor",
      "default": "#f6f4f2",
      "label": "t:sections.testimonials.settings.bgcolor.label"
    },
	  {
		  "type":"checkbox",
		  "id":"rotate",
		  "label":"t:sections.testimonials.settings.rotate.label",
		  "default":true
	  },
	  {
		  "type":"checkbox",
		  "id":"arrows",
		  "label":"t:sections.testimonials.settings.arrows.label",
		  "default":true
	  },
	  {
		  "type":"checkbox",
		  "id":"dots",
		  "label":"t:sections.testimonials.settings.dots.label",
		  "default":true
	  }
  ],
  "blocks": [
	  {
      "type":"quote",
      "name":"t:sections.testimonials.blocks.quote.name",
      "settings": [        
        {
          "type": "textarea",
          "id": "message",
          "default": "We were dolor sit amet, consectetur theme adipiscing elit, sed do eiusmod tempor and incididunt ut labore.",
          "label": "t:sections.testimonials.blocks.quote.settings.message.label"
        },
        {
          "type": "text",
          "id": "author",
          "default": "Anderson smith",
          "label": "t:sections.testimonials.blocks.quote.settings.author.label"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "t:sections.testimonials.blocks.quote.settings.image.label"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "t:sections.testimonials.presets.name",
      "blocks": [
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        },
        {
          "type": "quote"
        }
      ]
    }
  ]
}
{% endschema %}