<div class="section-spacer">
  <div class="container ">
    <div class="yv-testimonial-wrapper">
      <div class="row">
        <div class="col-sm-12 col-md-12 col-lg-4">
          <div class="yv-testimonail-text">
            <img class="yv-testimonail-img" src="https://cdn.shopify.com/s/files/1/0597/9668/5009/files/quote-icon.png?v=1643889930" alt="quote icon">
            <h2 class="yv-testimonail-title">{{section.settings.heading}}</h2>  
            {%- if section.settings.description -%}
            <p class="yv-testimonail-desc">{{section.settings.description}}</p>
            {%- endif -%}
          </div>
        </div>
        {%- if section.blocks.size > 0 -%}
        <div class="col-sm-12 col-md-12 col-lg-8">
          <div class="yv-testimonial-slider">
            <div id="testimonials-{{section.id}}" data-slider>
              {%- for block in section.blocks -%}
              <div class="slideshow__slide--{{ block.id }}" {{ block.shopify_attributes }}>
                <div class="slider-item">
                    <h3 class="yv-testimonial-feature-text">Awesome!</h3>
                    <p class="yv-testimonial-review">{{block.settings.message}}</p>
                  <p class="yv-testimonial-author"><sup>_</sup>{{block.settings.author}}</p>
                  </div>
              </div>
              {% endfor %}
            </div>

          </div>
        </div>
        {%- endif -%}
      </div>
    </div>
    <script type="application/json" name="slider-json">    
         {
          "slidesToShow":1,
          "slidesToScroll":1,
          "infinite":true,
          "draggable":false,
          "cssEase": "linear",
         "dots":{{section.settings.dots}},
          "autoplay":{{section.settings.rotate}},
          "arrows":{{section.settings.arrows}},
          "prevArrow":"<button type=\"button\" class=\"slick-prev\" aria-label=\"Prev\"><span><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M15.526 18.966L8.559 12l6.967-6.967\"></path></svg></span></button>",
          "nextArrow":"<button type=\"button\" class=\"slick-next\" aria-label=\"Next\"><span><svg aria-hidden=\"true\" focusable=\"false\" viewBox=\"0 0 24 24\" role=\"img\" width=\"24px\" height=\"24px\" fill=\"none\"><path stroke=\"currentColor\" stroke-width=\"1.5\" d=\"M8.474 18.966L15.44 12 8.474 5.033\"></path></svg></span></button>"
        }
    </script>
  </div>
</div>
<style>
  #shopify-section-{{section.id}}.shopify-section{
    background-color:{{section.settings.bgcolor}};
    padding-top:{{section.settings.top_space_desktop}}px;
    padding-bottom:{{section.settings.bottom_space_desktop}}px;
  }
  @media only screen and (max-width:575px) {
    #shopify-section-{{section.id}}.shopify-section{
      padding-top:{{section.settings.top_space_mobile}}px;
      padding-bottom:{{section.settings.bottom_space_mobile}}px;
    }
  }
</style>

{% schema %}
{
"name":"t:sections.testimonials.name",
"tag":"section",
"class":"testimonial testimonial-section",
"settings":[
{
"type":"select",
"id":"style",
"default":"style1",
"label":"t:sections.testimonials.settings.style.label",
"options":[
{
"value":"style1",
"label":"t:sections.testimonials.settings.style.style1.label"
},
{
"value":"style2",
"label":"t:sections.testimonials.settings.style.style2.label"
}
]
},
{
"type":"text",
"id":"heading",
"default":"Add Testimonials here",
"label":"t:sections.testimonials.settings.heading.label"
},
{
"type":"text",
"id":"subheading",
"default":"HAPPY CLIENT’S",
"label":"t:sections.testimonials.settings.subheading.label"
},
{
"type":"textarea",
"id":"description",
"default":"Add Description here",
"label":"t:sections.testimonials.settings.description.label"
},
{
"type":"color",
"id":"bgcolor",
"default":"#F3F0EB",
"label":"t:sections.testimonials.settings.bgcolor.label"
},
{
"type":"checkbox",
"id":"rotate",
"label":"t:sections.testimonials.settings.rotate.label",
"default":false
},
{
"type":"checkbox",
"id":"arrows",
"label":"t:sections.testimonials.settings.arrows.label",
"default":true
},
{
"type":"checkbox",
"id":"dots",
"label":"t:sections.testimonials.settings.dots.label",
"default":false
},
{
"type":"range",
"id":"top_space_desktop",
"label":"t:sections.testimonials.settings.top_space_desktop.label",
"default":30,
"min":0,
"max":60,
"step":5
},
{
"type":"range",
"id":"bottom_space_desktop",
"label":"t:sections.testimonials.settings.bottom_space_desktop.label",
"default":30,
"min":0,
"max":60,
"step":5
},
{
"type":"range",
"id":"top_space_mobile",
"label":"t:sections.testimonials.settings.top_space_mobile.label",
"default":30,
"min":0,
"max":60,
"step":5
},
{
"type":"range",
"id":"bottom_space_mobile",
"label":"t:sections.testimonials.settings.bottom_space_mobile.label",
"default":30,
"min":0,
"max":60,
"step":5
}
],
"blocks":[
{
"type":"quote",
"name":"t:sections.testimonials.blocks.quote.name",
"settings":[
{
"type":"textarea",
"id":"message",
"default":"Add client reviews & testimonials to showcase your store’s happy clients.",
"label":"t:sections.testimonials.blocks.quote.settings.message.label"
},
{
"type":"text",
"id":"author",
"default":"Author name here",
"label":"t:sections.testimonials.blocks.quote.settings.author.label"
},
{
"type":"image_picker",
"id":"image",
"label":"t:sections.testimonials.blocks.quote.settings.image.label",
"info": "e.g. 90 x 90"
}
]
}
],
"presets":[
{
"name":"t:sections.testimonials.presets.name",
"blocks":[
{
"type":"quote"
},
{
"type":"quote"
},
{
"type":"quote"
},
{
"type":"quote"
}
]
}
]
}
{% endschema %}