<div class="section--image fade-in-child {% unless section.settings.full_width %}container{% endunless %} preventOverflow video-sec {{ section.settings.height }} {{ section.settings.color }}" data-section-id="{{ section.id }}" data-section-type="hero" data-overlay-header>
  <div class="video-inner-box">
    <video id="videoFile" autoplay muted loop playsinline width="100%" {% if section.settings.poster !=blank %}poster="{{section.settings.poster | img_url:'master'}}"{% endif %}>
      <source src="{{ section.settings.videofile }}" type="video/mp4" id="{{ section.id }}">
    </video> 
    <div class="videoOverlay"></div>
    <div class="container">
      {% unless section.settings.title == blank and section.settings.description == blank %}
     

        <div class="flex-absolute center text__center">
          <div class="wrapper preventOverflowContent">
            {% unless section.settings.title == '' %}
            <h2 class="title--overlay h2">{{ section.settings.title | escape }}</h2>
            {% endunless %}
            {% unless section.settings.description == '' %}
            <p class="content--overlay h5--body">{{ section.settings.description }}</p>
            {% endunless %}
          </div>
        </div>
      {% endunless %}
    </div>
  </div>
</div>
<style>
  {% if section.settings.overlay %}
  .video-sec .videoOverlay {
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: {{section.settings.bgcolor}};
    opacity:{{section.settings.opacity}}%;
  }
  {% endif %}
  .home-video-sec .flex-absolute .btn--large{
    min-width: 145px;
    padding: 16px 28px 12px;
    display:inline-block;
    margin-top: 25px;
  }
</style>

    {% schema %}
    {
      "name": "t:sections.video-banner.name",
      "class": "video-banner-section",
      "settings": [
        {
          "type": "text",
          "id": "videofile",
          "label": "t:sections.video-banner.settings.videofile.label",
          "default": "https:\/\/cdn.shopify.com\/s\/files\/1\/0597\/9668\/5009\/files\/placeholder-video.mp4?v=1640600092"
        },
        {
          "type": "image_picker",
          "id": "poster",
          "label": "t:sections.video-banner.settings.poster.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.video-banner.settings.title.label",
          "default": "Tell your Story in Video"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "t:sections.video-banner.settings.full_width.label",
          "default": true   
        },
        {
          "type": "checkbox",
          "id": "overlay",
          "label": "t:sections.video-banner.settings.overlay.label",
          "default": true   
        },
        {
          "type": "color",
          "id": "bgcolor",
          "label": "t:sections.video-banner.settings.bgcolor.label",
          "default": "#EADEC4" 
        },
        {
          "type": "range",
          "id": "opacity",
          "label": "t:sections.video-banner.settings.opacity.label",
          "default": 25,
          "min":0,
          "max":100,
          "step":1,
          "unit":"%"          
        }
      ],
      "presets": [
        {
          "name": "t:sections.video-banner.presets.name"
    }
      ]
    }
    {% endschema %}
    
    
    {% stylesheet %}
    {% endstylesheet %}