{% if section.settings.height != 'use_image' %}
  <style>
    @media only screen and (max-width: 480px){
      [data-section-id="{{ section.id }}"] video{
        width: auto !important;
        height: 100% !important;
      }
    }
  </style>
  {% endif %}
  
  <div class="section--image fade-in-child {% unless section.settings.full_width %}container{% endunless %} preventOverflow video-sec {{ section.settings.height }} {{ section.settings.color }}" data-section-id="{{ section.id }}" data-section-type="hero" data-overlay-header>
  
    <video id="videoFile" {% if section.settings.autoplay %}autoplay muted{% endif %} loop playsinline width="100%" height="750px" {% if section.settings.poster !=blank %}poster="{{section.settings.poster | img_url:'master'}}"{% endif %}>
      <source src="{{ section.settings.videofile }}" type="video/mp4" id="{{ section.id }}">
    </video> 
    <div class="videoOverlay"></div>
    <div class="container">
    {% unless section.settings.link_text == blank and section.settings.title == blank and section.settings.description == blank %}
    {% if section.settings.link_text == '' and section.settings.link  %}
      <a href="{{ section.settings.link }}">
    {% endif %}
  
    <div class="flex-absolute {{ section.settings.text_position }} {{ section.settings.text_align }}">
      <div class="wrapper preventOverflowContent">
        {% unless section.settings.title == '' %}
          <h1 class="title--overlay h2">{{ section.settings.title | escape }}</h1>
        {% endunless %}
        {% unless section.settings.description == '' %}
          <p class="content--overlay h5--body">{{ section.settings.description }}</p>
        {% endunless %}
        {% unless section.settings.link_text == '' %}
          <button class="{{ section.settings.button_style }} cta--overlay btn--large uppercase black-btn button" id="playVideo">{{ section.settings.link_text | escape }}</button>
        {% endunless %}
      </div>
    </div>
        
    {% if section.settings.link_text == '' and section.settings.link %}
      </a>
    {% endif %}
    {% endunless %}
  </div>
</div>
<style>
  {% if section.settings.overlay %}
  .video-sec .videoOverlay {
    position: absolute;
    top: 0; 
    left: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    background: {{section.settings.bgcolor}};
    opacity:{{section.settings.opacity}}%;
  }
  {% endif %}
  .home-video-sec .flex-absolute .btn--large{
    min-width: 145px;
    padding: 16px 28px 12px;
    display:inline-block;
    margin-top: 25px;
  }
</style>
<script>
  var section = document.getElementById("shopify-section-{{section.id}}");
  var button = section.querySelector("#playVideo");
  button.addEventListener("click", ()=>{	   
               console.log('test')                  
                           });
</script>
    {% schema %}
    {
      "name": "t:sections.video-banner.name",
      "class": "video-banner-section",
      "settings": [
        {
          "type": "text",
          "id": "videofile",
          "label": "t:sections.video-banner.settings.videofile.label",
          "default": "https://cdn.shopify.com/s/files/1/2018/8867/files/ice.mp4"
        },
        {
          "type": "image_picker",
          "id": "poster",
          "label": "t:sections.video-banner.settings.poster.label"
        },
        {
          "type": "text",
          "id": "title",
          "label": "t:sections.video-banner.settings.title.label",
          "default": "Video with text overlay"
        },
        {
          "type": "checkbox",
          "id": "full_width",
          "label": "t:sections.video-banner.settings.full_width.label",
          "default": true   
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "t:sections.video-banner.settings.autoplay.label",
          "default": true   
        },
        {
          "type": "checkbox",
          "id": "overlay",
          "label": "t:sections.video-banner.settings.overlay.label",
          "default": true   
        },
        {
          "type": "color",
          "id": "bgcolor",
          "label": "t:sections.video-banner.settings.bgcolor.label",
          "default": "#707070" 
        },
        {
          "type": "range",
          "id": "opacity",
          "label": "t:sections.video-banner.settings.opacity.label",
          "default": 40,
          "min":0,
          "max":100,
          "step":1,
          "unit":"%"          
        },
        {
          "type": "text",
          "id": "link_text",
          "label": "t:sections.video-banner.settings.link_text.label",
          "default": "View products"
        }
      ],
      "presets": [
        {
          "name": "Video with text overlay"
    }
      ]
    }
    {% endschema %}
    
    
    {% stylesheet %}
    {% endstylesheet %}