{%- comment -%}
This file needs to be created in your templates. Create a template for search and name it to json.
The final file name would be search.json.liquid
{%- endcomment -%}
{%- layout none -%}
{%- comment -%} Inspired by: http://ecommerce.shopify.com/c/ecommerce-design/t/diy-implementing-autocomplete-with-search-144104 {%- endcomment -%}
{%- paginate search.results by 10 -%}
 {%- capture output -%}
 {%- for result in search.results -%}
        {%- assign product = result -%}
        {%- assign current_variant = product.selected_or_first_available_variant %}
{%- capture productResult -%}
<div class="searc-item-box">
  <div class="card-wrapper">
    <div class="card card--text-only card--soft card--product text__left">
      <div class="card-wrapper-img">
        <a href="{{product.url | within: collection}}"> 
          {% if product.featured_image != blank %}
          <img src="{{product.featured_image | img_url:'large'}}" alt="{{product.title}}">
          {%else%}
          {% render 'placeholder' %}
          {% endif%}
        </a>
      </div>
      <div class="product-information">
        <div class="product-information__wrapper">
          <a href="{{product.url}}"><div class="caption-with-letter-spacing light"title="{{product.title}}">{{product.title}}</div></a>
          <div class="price">
            <div class="price__regular">
              <span class="price-item price-item--regular">
                <span data-regular-price>{{current_variant.price | money}}</span>
                {% if current_variant.compare_at_price > current_variant.price %}
                <span data-compare-price>
                  {{ current_variant.compare_at_price | money }}
                </span>
                {% if settings.show_saved_amount %}        
                {% if settings.saved_amount_style == 'percentage' %}
                <span class="percent-off">{{ current_variant.compare_at_price | minus: current_variant.price | times: 100.0 | divided_by: current_variant.compare_at_price | round: 2 | append: "% OFF"}}</span>
                {% else %}
                <span class="percent-off">{{ current_variant.compare_at_price | minus: current_variant.price | money | append: " OFF"}}</span>
                {% endif %}
                {% endif %}
                {% endif %}
              </span>
              {% if current_variant.unit_price_measurement %}
            <small class="unit-price">
              {{ current_variant.unit_price | money }} /
              {% if current_variant.unit_price_measurement.reference_value != 1 %}
              {{ current_variant.unit_price_measurement.reference_value }}
              {% endif %}
              {{ current_variant.unit_price_measurement.reference_unit }}
            </small>
            {% endif %}
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>
{%- endcapture -%}
{"handle":"{{product.handle}}",
"itemHtml":{{productResult | json }}
}
{%- unless forloop.last -%},{%- endunless -%}
    {%- endfor -%}
{%- endcapture -%}

{% comment %} Output the json object{% endcomment %} 
{"results_total":{{paginate.items}},"results":[{{ output }}]}

{%- endpaginate -%}